header {
    display: flex;
    background-color: var(--color-black);
    z-index: 2;

    #logoLink {
        display: flex;
        align-items: center;
        margin-left: 1rem;
        gap: 1rem;

        .header__title {
            letter-spacing: 0.2rem;
            font-weight: bold;
            width: 16vw;

            &:hover {
                filter: brightness(1.5);
                transition: transform 0.3s ease;
            }
        }
    }
}

@media (max-width: 1000px) {
    header {
        #logoLink { 
            font-size: 0.5rem;
        }
    }
}

@media (max-width: 700px) {
    header {
        min-height: 3rem;
        flex-direction: row-reverse;

        #logoLink {
            position: relative;
            left: -35vw;
            margin: 0;
            text-align: center;

            #logo { 
                display: none;
            }

            & .header__title {
                width: fit-content;
            }
        }
    }
}