#logo {
    .logo__image {
        border-radius: 100%;
    }
}

@media (max-width: 900px) {
    #logo {
        width: 10rem;

        .logo__image {
            width: 100%;
            height: auto;
        }
    }
}