#logo {
    margin: 0.5rem 0;

    .logo__image {
        border-radius: 100%;
        width: 90%;
        height: auto;
    }
}

@media (max-width: 1000px) {
    #logo {
        width: 8rem;
    }
}

@media (max-width: 700px) {
    #logo {
        display: none;
    }
}