
.isFavourite {
    background-image: url("../../assets/isFavourite.png");
    background-size: cover;
    border: none;
}

.noFavourite {
    background-image: url("../../assets/noFavourite.png");
    background-size: cover;
    border: none;
}

.favouriteButton {
    height: 3rem;
    min-width: 3rem;
    align-self: self-end;
    margin-right: 0.8rem;
    margin-bottom: 0.8rem;
    background-color: transparent;
    border: none;
}
  
.favouriteButton:hover {
    background-color: transparent;
    opacity: 0.7;
    transition: opacity 0.5s;
}