#gameDetailsPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to top left, var(--color-black) 70%, var(--color-black-light));
    padding: 5rem;
    padding-top: 10rem;
}

@media (max-width: 900px) {
    #gameDetailsPage {
        padding: 2rem;
        padding-top: 7rem;
    }
}

@media (max-width: 500px) {
    #gameDetailsPage {
        padding: 1rem;
        padding-top: 5rem;
    }
}