header {
    display: flex;
    background-color: transparent;
    z-index: 2;

    #logoLink {
        display: none;
        align-items: center;
        margin-left: 1rem;

        .header__title {
            letter-spacing: 0.2rem;
            font-weight: bold;
            transition: all 0.3s;
            font-size: 1.8rem;

            &:hover {
                color: var(--color-link-active);
                transition: color 0.2s ease-in-out;
            }
        }
    }
}

@media (max-width: 1000px) {
    header {
        #logoLink { 
            font-size: 0.5rem;

            & .header__title {
                font-size: 1.1rem;
            }
        }
    }
}

@media (max-width: 700px) {
    header {
        position: fixed;
        min-height: 3rem;
        flex-direction: row-reverse;
        width: 100%;
        background-color: var(--color-black);

        #logoLink {
            display: flex;
            margin: 0;
            text-align: center;
            width: 10rem;
            margin-right: 38%;

            #logo { 
                display: none;
            }

            & .header__title {
                font-size: 1rem;
            }
        }
    }
}

@media (max-width: 500px) {
    header {
        #logoLink {
            margin-right: 32%;
        }
    }
}

@media (max-width: 400px) {
    header {
        #logoLink {
            margin-right: 25%;
        }
    }
}