header {
    display: flex;
    min-height: 4rem;
    z-index: 20;
    padding-right: 5rem;
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    width: 100%;

    & #logoLink {
        display: none;
        align-items: center;
        margin-left: 1rem;
        font-size: 0.5rem;

        & .header__title {
            font-family: "irishGrover", sans-serif;
            letter-spacing: 0.2rem;
            font-weight: bold;
            transition: all 0.3s;
            font-size: 1.8rem;

            &:hover {
                color: var(--color-link-active);
                transition: color 0.2s ease-in-out;
            }
        }
    }
}

@media (max-width: 800px) {
    header {
        padding-right: 0;
    }
}

@media (max-width: 500px) {
    header {
        position: fixed;
        min-height: 3rem;
        flex-direction: row-reverse;
        width: 100%;
        background-color: var(--color-black);

        & #logoLink {
            display: flex;
            margin: 0;
            text-align: center;
            width: 10rem;
            margin-right: 32%;

            & .header__title {
                font-size: 1rem;
            }
        }
    }
}

@media (max-width: 400px) {
    header {
        & #logoLink {
            margin-right: 25%;
        }
    }
}