#logo {
    padding-bottom: 2rem;
    
    & .logo__image {
        border-radius: 100%;
        width: 100%;
        height: auto;
        filter: drop-shadow(12px -6px 16px black);
    }
}

@media (max-width: 500px) {
    #logo {
        padding-bottom: 10rem;
    }
}