#logo {
    padding-bottom: 2rem;
    width: 28rem;
    
    & .logo__image {
        width: 100%;
        height: auto;
    }
}

@media(max-width: 500px) {
    #logo {
        width: 100%;
        
        &.logo__image {
            width: 100vw;
        }
    }
}