.navbar {
    align-self: center;
    width: 100%;

    #hamburger {
        display: none;
    }

    .navbar__list {
        display: flex;
        list-style-type: none;
        gap: 3rem;
        height: 100%;
        justify-content: flex-end;
        align-items: center;
        margin-right: 2rem;

        .navbar__list-element {
            transition: all 0.3s;
            
            .navbar__list-element-link {
                font-size: calc(1vw + 1vh + 2vmin);
                
                .navbar__list-element-title {
                    font-weight: 100;
                    transition: all 0.3s;

                    &:hover {
                        color: var(--color-link-active);
                        transition: color 0.2s ease-in-out;
                    }
                }
            }

            .navbar__list-element-link.active {
                color: var(--color-link-active);
            }

            .material-symbols-outlined {
                font-size: 4rem;
                vertical-align: text-bottom;

                &:hover {
                    color: var(--color-link-active);
                    transition: color 0.2s ease-in-out;
                }
            }

            .smallScreen {
                display: none;
            }
        }
    }
}

@media (max-width: 850px) {
    .navbar {
        .navbar__list {
            .navbar__list-element {
                .navbar__list-element-link {
                    font-size: 3vw;
                }

                .material-symbols-outlined {
                    font-size: 3rem;
                }
            }
        }
    }
}

@media (max-width: 700px) {
    .navbar {
        position: fixed;
        top: 0;

        #hamburger {
            display: inline;
        }

        .navbar__list {
            display: none;
            width: 100%;
            background: var(--white);
            text-align: center;
            z-index: 120;

            .navbar__list-element {
                margin-left: 2rem;

                .navbar__list-element-link {
                    font-size: 3rem;

                    .navbar__list-element-title {
                        font-size: 3rem;
                    }
                }

                .wideScreen {
                    display: none;
                }
            
                .smallScreen {
                    display: block;
                    font-size: 3rem;
                }
            }
        }
    }

    :has(#hamburger-checkbox:checked) {
        .navbar__list {
            display: inline-table;
            position: absolute;
            margin-top: 2.8rem;
            text-align: justify;
            background: var(--color-black);
            height: fit-content;
            padding-top: 2rem;
            padding-bottom: 2rem;
            height: 100vh;
            animation: burger-menu 1s ease 0s 1 normal forwards;
        }

        ~ main, 
        footer {
            pointer-events: none;
            filter: blur(2px);
        }
    }
}

@keyframes burger-menu {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}