.navbar {
    align-self: center;
    width: 100%;

    & #hamburger {
        display: none;
    }

    & .navbar__list {
        display: flex;
        list-style-type: none;
        gap: 3rem;
        height: 100%;
        justify-content: flex-end;
        align-items: center;
        margin-right: 2rem;

        & .navbar__list-element {
            list-style: none;
            position: relative;
            display: inline;
            transition: all 0.3s;
            
            & .navbar__list-element-link {
                font-size: 1.2rem;
                text-decoration: none;

                :after {
                    content: '';
                    position: absolute;
                    left: 50%;
                    bottom: -2px;
                    width: 0px;
                    height: 2px;
                    background: var(--color-white);
                    transition: all 0.45s;
                }

                :not(.material-symbols-outlined):hover:after {
                    width: 100%;
                    left: 0;
                }

                & #favourite-link {
                    position: relative;

                    & #favourites-amount {
                        position: absolute;
                        font-size: 1rem;
                        top: -5px;
                        right: -6px;
                        background-color: var(--color-black-light);
                        border-radius: 100%;
                        padding: 0.1rem 0.3rem;
                        font-family: 'rancho', sans-serif;
                    }
                }

                & .navbar__list-element-title {
                    font-family: "rancho", sans-serif;
                    font-weight: 100;
                }
            }

            & .navbar__list-element-link.active {
                color: var(--color-link-active);

                :after {
                    content: '';
                    position: absolute;
                    left: 50%;
                    bottom: -2px;
                    width: 0px;
                    height: 2px;
                    background: var(--color-link-active);
                    transition: all 0.45s;
                }
            }

            & .material-symbols-outlined {
                font-size: 2rem;
                vertical-align: text-bottom;
            }

            & .smallScreen {
                display: none;
            }
        }
    }
}

@media (max-width: 800px) {
    .navbar {
        & .navbar__list {
            gap: 1rem;
            margin-right: 1rem;
        }
    }
}

@media (max-width: 500px) {
    .navbar {
        position: fixed;
        top: 0;

        #hamburger {
            display: inline;
        }

        & .navbar__list {
            display: none;
            width: 100%;
            background: var(--white);
            text-align: center;
            z-index: 120;

            & .navbar__list-element {
                & .navbar__list-element-title {
                    margin-left: 1rem;
                }

                & .wideScreen {
                    display: none;
                }
            
                & .smallScreen {
                    display: block;
                }

                & .navbar__list-element-link {
                    & #favourite-link {
                        & #favourites-amount {
                            right: revert;
                        }
                    }
                }

                & .navbar__list-element-link,
                 .navbar__list-element-link.active {
                    ::after {
                        content: none;
                    }

                    &:hover {
                        color: var(--color-link-active);
                    }
                }
            }
        }
    }

    :has(#hamburger-checkbox:checked) {
        .navbar__list {
            display: inline-table;
            position: absolute;
            margin-top: 2.8rem;
            text-align: justify;
            background: var(--color-black);
            height: fit-content;
            padding-top: 2rem;
            padding-bottom: 2rem;
            height: 100vh;
            animation: burger-menu 1s ease 0s 1 normal forwards;
        }

        ~ main, 
        footer {
            pointer-events: none;
            filter: blur(2px);
        }
    }
}

@keyframes burger-menu {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}