#timelinePage {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;

    & #timeline-inner {
        display: flex;
        border-radius: 9px;
        min-height: 100vh;
        width: 100%;

        & #timeline-container {
            box-sizing: border-box;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            & .backgroundImage {
                box-sizing: border-box;
                position: absolute;
                top: 0;
                left: 0;
                min-width: 100%;
                min-height: 100%;
                background-repeat: no-repeat;
                background-size: cover;
                filter: brightness(0.3);
                transition: all 0.5s ease-in-out;
            }

            & .b1985,
            .b1987 {
                left: auto;
                right: 0;
            }

            & .b1990 {
                transform: scaleX(-1);
            }

            & .b1997 {
                top: auto;
                bottom: 0;
            }

            & .display-element {
                display: block;
            }

            & .hidden-element {
                display: none;
            }
        }

        & #timeline-years {
            display: flex;
            flex-direction: column;
            gap: 15rem;
            align-items: flex-end;
            justify-content: space-around;
            z-index: 1;
            width: 20%;
            border-right: 1px solid white;
            min-height: 100vh;
            padding-bottom: 35rem;
            padding-top: 10rem;
            transition: all 0.5s;

            & .timeline-year {
                display: flex;
                align-items: center;
                transition: all 0.5s;

                &:hover {
                    cursor: pointer;
                }

                .hexagon {
                    height: 20px;
                    aspect-ratio: 1/cos(30deg);
                    clip-path: polygon(50% -50%,100% 50%,50% 150%,0 50%);
                    background: var(--color-white);
                    opacity: 0.5;
                    position: relative;
                    right: -12px;
                }

                & .timeline-year__title {
                    margin-right: 1rem;
                    font-size: 1rem;
                    transition: all 0.5s;
                }

                & .active {
                    font-size: 5rem;
                    transition: all 0.5s;

                    ~ .hexagon {
                        opacity: 1;
                    }
                }
            }
        }

        & #timeline-text {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            position: relative;
            width: 75%;
            padding-left: 10rem;
            padding-top: 10rem;

            & .timeline-text {
                display: flex;
                flex-direction: column;
                position: fixed;
                margin-right: 5rem;
                gap: 0.5rem;
                animation: 0.5s fadeInText ease-in-out;

                & .timeline-text__title {
                    font-size: 3rem;
                    padding-bottom: 1rem;
                    color: var(--color-footer-heading);
                }

                & .timelinePage__paragraph {
                    font-size: 1.5rem;
                    font-weight: 100;
                    line-height: 1.8rem;
                    color: var(--color-real-white);
                }

                & .button__link {
                    display: none;
                }
            }

            & .display-element {
                display: block;
            }

            & .hidden-element {
                display: none;
            }
        }
    }
}

@keyframes fadeInText {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.3;
    }

    100% {
        opacity: 1;
    }
}

@media (max-width: 1000px) {
    #timelinePage {
        & #timeline-inner {
            & #timeline-years {
                & .timeline-year {
                    & .active {
                        font-size: 3rem;
                    }
                }
            }

            & #timeline-text {
                padding-left: 4rem;

                & .timeline-text {
                    & .timeline-text__title {
                        font-size: 2rem;
                    }

                    .timelinePage__paragraph {
                        font-size: 1.4rem;
                    }
                }
            }
        }
    }
}

@media (max-width: 800px) {
    #timelinePage {
        padding: 0;

        & #timeline-inner {
            padding: 0;

            & #timeline-years {
                gap: 16rem;

                & .timeline-year {
                    & .timeline-year__title {
                        margin-right: 0;
                    }

                    & .active {
                        font-size: 2rem;
                    }
                }
            }

            & #timeline-text {
                padding-left: 2rem;
                width: 100%;
                padding-top: 5rem;

                & .timeline-text {
                    margin-right: 1rem;

                    & .timeline-text__title {
                        font-size: 1.7rem;
                    }

                    .timelinePage__paragraph {
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }
}

@media (max-width: 520px) {
    #timelinePage {
        & #timeline-inner {
            & #timeline-years {
                & .timeline-year {
                    & .active {
                        font-size: 1.5rem;
                    }
                }
            }

            & #timeline-container {
                & .b1983 {
                    top: auto;
                    left: auto;
                    right: -500px;
                    bottom: 0;
                }

                & .b1985,
                .b1986 {
                    top: auto;
                    left: -500px;
                }

                & .b1987,
                .b1990 {
                    left: auto;
                    right: 0;
                }

                & .b1995 {
                    top: auto;
                    bottom: 0;
                }

                & .b1997,
                .b2025 {
                    top: auto;
                    bottom: 0;
                    left: -500px;
                }
            }

            & #timeline-text {
                & .timeline-text {
                    width: 70%;
                    text-align: center;

                    & .timelinePage__paragraph {
                        display: none;
                    }

                    & .button__link {
                        display: flex;
                        justify-self: center;
                        align-self: center;
                        width: fit-content;
                        padding: 0.3rem 1rem;
                    }
                }

                & .display-element {
                    display: flex;
                    align-items: center;
                }
            }
        }
    }
}

@media (max-width: 430px) {
    #timelinePage {
        & #timeline-inner {
            & #timeline-years {
                & .timeline-year {
                    & .active {
                        font-size: 1.1rem;
                    }
                }
            }

            & #timeline-text {
                & .timeline-text {
                    & .timeline-text__title {
                        font-size: 1.3rem;
                        margin-right: 1rem;
                    }

                    & .button__link {
                        margin-top: 1rem;
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}