#searchPage {
    background-image: url("../../assets/backgrounds/nes-controller-in-black.webp");
    display: flex;
    flex-direction: column;
    justify-content: center;

    #searchFilters {
        display: flex;
        flex-direction: column;

        .searchFilters__title {
            font-size: 50px;
            font-weight: 500;
            margin: 1rem 0;
            align-self: center;
        }
    
        #searchFilters__form {
            display: flex;
            flex-direction: column;
            gap: 3rem;
            align-self: center;
    
            & .searchFilters__filters {
                display: flex;
                gap: 3rem;
    
                .selectSection {
                    .selectSection__title {
                        font-weight: 900;
                    }
                
                    .selectSection__select {
                        font-size: 1.4rem;
                        padding: 0.2rem;
                    }
                }
            }
    
            #searchInput {
                display: flex;
                align-self: center;
                margin-top: 3rem;
                gap: 2rem;
                align-items: center;
            
                #searchTitle {
                    padding-left: 0.5rem;
                }
            }
        }
    }
}

@media (max-width: 1150px) {
    #searchPage {
        #searchFilters {
            #searchFilters__form {
                & .searchFilters__filters {
                    flex-direction: column;
                }
            }
        }
    }
}

@media (max-width: 500px) {
    #searchPage {
        #searchFilters {
            #searchInput {
                flex-direction: column;
            }
    
            #searchFilters__form {
                & .searchFilters__filters {
                    .selectSection {
                        .selectSection__select {
                            font-size: 1.2rem;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 350px) {
    #searchPage {
        #searchFilters {
            #searchInput {
                #searchTitle {
                    width: 90vw;
                }
            }

            #searchFilters__form {
                & .searchFilters__filters {
                    .selectSection {
                        .selectSection__select {
                            font-size: 0.9rem;
                        }
                    }
                }
            }
        }
    }
}