#articlePage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-black);

    & .articlePage-error {
        font-size: 3rem;
        padding-top: 5rem;
        padding-bottom: 3rem;
    }

    & .not-found__link {
        padding: 1rem;
        backdrop-filter: brightness(0.3);
        border-radius: 25px;
        transition: all 0.5s;

        &:hover {
            filter: brightness(1.5);
        }
    }

    & #article-image {
        display: flex;
        justify-content: center;
        max-height: 30rem;
        max-width: 1600px;
        position: relative;

        & .article-image {
            object-fit: cover;
            object-position: bottom;
            filter: brightness(0.4);
            max-width: 1600px;
            min-width: 80vw;
            width: 100%;
            border-top-left-radius: 9px;
            border-top-right-radius: 9px;
        }

        & .darken-image-bottom {
            position: absolute;
            bottom: 0;
            height: 6rem;
            width: 100%;
            background: linear-gradient(to bottom, #10101000 0%, #101010FF 80%);
            z-index: 1;
        }
    }

    & .article-heading {
        color: var(--color-real-white);
        border: 1px solid var(--color-real-white);
        padding: 1rem;
        border-radius: 8px;
    }
}