#articlePage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-black);
    padding-bottom: 3rem;

    & .articlePage-error {
        font-size: 3rem;
        padding-top: 5rem;
        padding-bottom: 3rem;
    }

    & .not-found__link {
        padding: 1rem;
        backdrop-filter: brightness(0.3);
        border-radius: 25px;
        transition: all 0.5s;

        &:hover {
            filter: brightness(1.5);
        }
    }

    & #article-image {
        display: flex;
        justify-content: center;
        max-height: 30rem;
        max-width: 1600px;
        position: relative;
        margin-top: 5rem;

        & .article-image {
            object-fit: cover;
            object-position: bottom;
            filter: brightness(0.4);
            max-width: 1600px;
            min-width: 80vw;
            width: 100%;
            border-top-left-radius: 9px;
            border-top-right-radius: 9px;
        }

        & #article-title {
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 5rem;
            right: 4rem;
            max-width: 500px;
            padding: 1rem;
            background: #00000080;
            border-radius: 4px;

            & .article-title {
                font-family: 'Playfair Display', sans-serif;
                font-size: 3rem;
                font-weight: 200;
                color: var(--color-footer-heading);
                border-radius: 8px;
                text-align: center;
            }

            & .article-title-text {
                font-family: "arima", sans-serif;
                color: var(--color-real-white);
                font-size: 1.5rem;
            }
        }

        & .darken-image-bottom {
            position: absolute;
            bottom: 0;
            height: 6rem;
            width: 100%;
            background: linear-gradient(to bottom, #10101000 0%, #101010FF 80%);
            z-index: 1;
        }
    }

    & .article-text {
        color: var(--color-nintendo-gray);
        font-size: 1.5rem;
        font-weight: 100;
        max-width: 1200px;
        padding: 1rem;
    }
}

@media (max-width: 500px) {
    #articlePage {
        & #article-image {
            & #article-title {
                top: 2rem;
                right: 0;

                & .article-title {
                    font-size: 2rem;
                }

                & .article-title-text {
                    font-size: 1.1rem;
                }
            }
        }

        & .article-text {
            font-size: 1.2rem;
        }
    }
}