#articlePage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: radial-gradient(circle,rgba(39, 99, 61, 1) -63%, rgba(16, 16, 16, 1) 100%);
    padding: 11rem 2rem 10rem 2rem;

    & .articlePage-error {
        font-size: 3rem;
        padding-top: 5rem;
        padding-bottom: 3rem;
    }

    & .not-found__link {
        padding: 1rem;
        backdrop-filter: brightness(0.3);
        border-radius: 25px;
        transition: all 0.5s;

        &:hover {
            filter: brightness(1.5);
        }
    }

    & .article-body {
        display: flex;
        flex-direction: column;
        border-radius: 12px;
        box-shadow: 0 1px 2px #00000026;
        background: #ffffff16;
        backdrop-filter: blur(2px);
        max-width: 1200px;
    }

    & #article-image {
        display: flex;
        justify-content: center;
        max-height: 30rem;
        position: relative;

        & .article-image {
            object-fit: cover;
            object-position: center;
            filter: brightness(0.4);
            width: 100%;
            border-top-left-radius: 9px;
            border-top-right-radius: 9px;
        }

        & .article-heading {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            position: absolute;
            top: 5rem;
            right: 4rem;
            max-width: 500px;
            padding: 1rem;
            background: #00000080;
            border-radius: 4px;

            & .article-title {
                font-family: "iceland", sans-serif;
                font-size: 3rem;
                font-weight: 200;
                color: var(--color-real-white);
                border-radius: 8px;
            }

            & .article-title-text {
                font-family: "arima", sans-serif;
                color: var(--color-nintendo-gray);
                font-size: 1.3rem;
            }
        }
    }

    & .article-text {
        color: var(--color-nintendo-gray);
        font-size: 1.3rem;
        font-weight: 100;
        
        padding: 1rem;
        white-space: break-spaces;
        font-family: arima, sans-serif;
        line-height: 1.7rem;
    }

    & .article-content {
        display: flex;
        flex-direction: column;
        
        padding: 2rem 1rem;

        & .article-content__heading {
            font-family: "iceland", sans-serif;
            color: var(--color-real-white);
            font-size: 3rem;
            border-bottom: 1px solid var(--color-real-white);
            width: fit-content;
            padding-left: 1rem;
            padding-right: 1rem;
        }

        & .article-content__text {
            color: var(--color-nintendo-gray);
            border-top: 1px solid var(--color-black-light);
            white-space: break-spaces;
            column-count: 2;
            column-gap: 2rem;
            font-family: arima, sans-serif;
            font-size: 1.3rem;
            line-height: 1.7rem;
            padding-top: 0.4rem;
        }
    }
}

@media (max-width: 900px) {
    #articlePage {
        & .article-content {
            & .article-content__text {
                column-count: 1;
                column-gap: 0;
            }
        }
    }
}

@media (max-width: 500px) {
    #articlePage {
        padding-left: 0.3rem;
        padding-right: 0.3rem;

        & #article-image {
            & .article-heading {
                top: auto;
                right: auto;

                & .article-title {
                    font-size: 2rem;
                }

                & .article-title-text {
                    font-size: 1.1rem;
                }
            }
        }

        & .article-text {
            font-size: 1.2rem;
        }

        & .article-content {
            & .article-content__heading {
                border-bottom: none;
                font-size: 1.6rem;
                text-align: center;
                padding-bottom: 1rem;
                align-self: center;
            }

            & .article-content__text {
                font-size: 1.2rem;
                border-top: none;
            }
        }
    }
}