#articlePage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-black);

    & .articlePage-error {
        font-size: 3rem;
        padding-top: 5rem;
        padding-bottom: 3rem;
    }

    & .not-found__link {
        padding: 1rem;
        backdrop-filter: brightness(0.3);
        border-radius: 25px;
        transition: all 0.5s;

        &:hover {
            filter: brightness(1.5);
        }
    }

    & .article-heading {
        color: var(--color-real-white);
        border: 1px solid var(--color-real-white);
        padding: 1rem;
        border-radius: 8px;
    }
}