#editGameForm {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-top: 3rem;
    color: var(--color-white);

    & .filter-fieldset {
        width: 90%;
        border: thin;

        > select {
            width: 100%;
            height: 2rem;
            font-size: 1.3rem;
            padding-left: 0.8rem;
        }
    }

    & input {
        grid-column: 1;
        width: 90%;
    }

    #description {
        grid-column: 1 / 3;
    }

    .selectSection, #coverSection, #releasedSection {
        display: flex;
        grid-column: 2;
        align-items: center;
        grid-row: 2;
        gap: 1rem;

        h2 {
            font-weight: 900;
        }
    }

    .categorySection {
        grid-column: 1;
        grid-row: 4;
    }

    .romSection {
        grid-row: 4;

        #rom-select {
            font-size: 1.4rem;
            padding: .2rem;
        }
    }

    #coverSection {
        grid-row: 1;
        
        & .coverSection__title {
            white-space: nowrap;
        }
    }

    #releasedSection {
        grid-row: 3;
        align-items: self-start;

        input {
            width: auto;
        }
    }

    & .editGameForm-buttons {
        display: flex;
        grid-column: 1 / 3;
        justify-content: space-between;
        margin-top: 2rem;

        #cancelButton, #saveButton {
            padding: 0.5rem 1rem;
        }

        #saveButton {
            grid-column: 2;
            justify-self: end;
        }

        #cancelButton {
            grid-column: 1;
            height: fit-content;
        }
    }
}

@media (max-width: 1150px) {
    #editGameForm {
        display: flex;
        flex-direction: column;

        & .filter-fieldset {
            width: 100%;
        }

        input {
            margin: 0;
            width: 100%;
        }
    }
}

@media (max-width: 670px) {
    #editGameForm {
        & .filter-fieldset {    
            > select {
                font-size: 1rem;
            }
        }

        textarea {
            height: 25rem;
        }

        & input {
            align-self: center;
            font-size: 1.3rem;
        }
    }
}

@media (max-width: 500px) {
    #editGameForm {
        #description {
            font-size: 0.8rem;
            padding-top: 0.3rem;
            padding-left: 0.3rem;
        }

        .selectSection, #coverSection, #releasedSection, .romSection {
            gap: 0;
            
            h2 {
                font-size: 1.5rem;
            }

            & .selectSection__select, #rom-select {
                font-size: 1.2rem;
            }
        }

        input {
            height: 2rem;
            align-self: center;
            font-size: 1rem;
            padding-left: 0.5rem;
        }

        section {
            display: flex;
            flex-direction: column;
        }

        #releasedSection {
            align-items: center;
        }

        & .editGameForm-buttons {
            #cancelButton, #saveButton {
                width: fit-content;
                font-size: 1rem;
            }
        }

        & .filter-fieldset {    
            > select {
                font-size: 0.8rem;
                padding-left: 0.3rem;
            }
        }
    }
}