#editfilter-publisher {
    border: thin;

    & .selectSection__select {
        width: 100%;
        height: 2rem;
        font-size: 1.3rem;
        padding-left: 0.8rem;
    }
}

@media (max-width: 500px) {
    #editfilter-publisher {
        & .selectSection__select {
            font-size: 0.8rem;
            padding-left: 0.3rem;
        }
    }
}