#editGameForm {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;

    #editGameForm-metadata {
        display: flex;
        gap: 3rem;

        #editGameForm-filters, #editGameForm-nonfilters {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }
    }

    .selectSection, #coverSection, #releasedSection {
        display: flex;
        align-items: center;
        grid-row: 2;
        gap: 1rem;

        h2 {
            font-weight: 900;
        }
    }

    .romSection {
        #rom-select {
            font-size: 1.4rem;
            padding: .2rem;
        }
    }

    #coverSection {
        input {
            font-size: 1rem;
            align-content: center;
        }
        
        & .coverSection__title {
            white-space: nowrap;
        }
    }

    #releasedSection {
        align-items: self-start;

        input {
            width: auto;
        }
    }

    & .editGameForm-buttons {
        display: flex;
        justify-content: space-between;
        margin-top: 2rem;

        #cancelButton, #saveButton {
            padding: 0.5rem 1rem;
        }

        #saveButton {
            justify-self: end;
        }
    }
}

@media (max-width: 1150px) {
    #editGameForm {
        display: flex;
        flex-direction: column;

        & .filter-fieldset {
            width: 100%;
        }

        input {
            margin: 0;
            width: 100%;
        }
    }
}

@media (max-width: 670px) {
    #editGameForm {
        & .filter-fieldset {    
            > select {
                font-size: 1rem;
            }
        }

        textarea {
            height: 25rem;
        }

        & input {
            align-self: center;
            font-size: 1.3rem;
        }
    }
}

@media (max-width: 500px) {
    #editGameForm {
        #description {
            font-size: 0.8rem;
            padding-top: 0.3rem;
            padding-left: 0.3rem;
        }

        .selectSection, #coverSection, #releasedSection, .romSection {
            gap: 0;
            
            h2 {
                font-size: 1.5rem;
            }

            & .selectSection__select, #rom-select {
                font-size: 1.2rem;
            }
        }

        input {
            height: 2rem;
            align-self: center;
            font-size: 1rem;
            padding-left: 0.5rem;
        }

        section {
            display: flex;
            flex-direction: column;
        }

        #releasedSection {
            align-items: center;
        }

        & .editGameForm-buttons {
            #cancelButton, #saveButton {
                width: fit-content;
                font-size: 1rem;
            }
        }

        & .filter-fieldset {    
            > select {
                font-size: 0.8rem;
                padding-left: 0.3rem;
            }
        }
    }
}