#sitesPage {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
    padding-bottom: 3rem;
    background-color: var(--color-black);
    background: linear-gradient(to bottom, var(--color-black) 70%, var(--color-black-light));
    position: relative;

    & .sites-title {
        font-family: Playfair Display, sans-serif;
        font-size: 5rem;
        padding-top: 2rem;
        color: var(--color-footer-heading);
        font-weight: 100;
    }

    & #sites {
        display: flex;
        width: 80%;
        gap: 4rem;
        background: transparent;

        & #change-site-content {
            display: flex;
            flex-direction: column;

            & .site-content-link {
                display: flex;
                align-items: baseline;
                gap: 1rem;
                text-transform: uppercase;
                color: #ffffff50;
                border-bottom: 1px solid #ffffff50;
                padding: 1.5rem 0;
                transition: all 0.5s ease;

                & > p {
                    font-size: 1.5rem;
                }

                & > h1 {
                    font-weight: 100;
                    font-size: 3rem;

                    &:hover {
                        cursor: pointer;
                        color: var(--color-real-white);
                        transition: all 0.5s ease;
                    }
                }
            }

            & .site-content-link:last-of-type {
                border: none;
            }

            .active {
                color: var(--color-real-white);
            }
        }

        & #site-content {
            display: flex;
            flex-direction: column;
            width: 100%;
            background-color: #ffffff10;
            backdrop-filter: blur(10px);
            border-radius: 12px;

            & #site-content-header {
                display: flex;
                justify-content: space-around;
                color: #ffffff40;
                padding: 1.5rem 0;
                background-color: #ffffff10;
                border-bottom: 1px solid #ffffff20;
                border-top-left-radius: 12px;
                border-top-right-radius: 12px;

                & .content-header-link {
                    width: fit-content;
                    font-size: 1.5rem;
                    font-weight: 100;
                    transition: all 0.5s ease;

                    &:hover {
                        cursor: pointer;
                        color: var(--color-real-white);
                        transition: all 0.5s ease;
                    }
                }
                
                & > hr {
                    border-color: darkgrey;
                    border-right-style: none;
                }

                .active {
                    color: var(--color-real-white);
                }
            }

            & .other-information {
                display: flex;
                flex-direction: column;
                padding: 2rem;
                gap: 2rem;

                & .site-title {
                    font-family: 'Playfair Display', sans-serif;
                    color: var(--color-footer-heading);
                    font-size: 2rem;
                    letter-spacing: 1px;
                }

                & .site-description {
                    color: var(--color-real-white);
                    font-size: 1.4rem;
                }

                & .button__link {
                    align-self: flex-end;
                    position: absolute;
                    bottom: 0;
                    margin: 2rem;
                }
            }

            & .site-image-link {
                margin: 2rem;
                width: fit-content;
                
                & .site-image {
                    height: 280px;
                    width: 250px;
                }
            }
        }
    }
}

@media (max-width: 1000px) {
    #sitesPage {
        & #sites {
            width: 95%;
            gap: 2rem;

            & #change-site-content {
                & .site-content-link {
                    & > h1 {
                        font-size: 2rem;
                    }
                }
            }

            & #site-content {
                & .other-information {
                    padding-bottom: 6rem;
                }
            }
        }
    }
}

@media (max-width: 700px) {
    #sitesPage {
        & #sites {
            flex-direction: column;

            & #site-content {
                & .other-information {
                    padding: 1rem;

                    & .site-description {
                        font-size: 1rem;
                    }

                    & .button__link {
                        position: static;
                        margin: 0;
                    }
                }

                & .site-image-link {
                    margin: 1rem;
                    align-self: center;
                }
            }
        }
    }
}

@media (max-width: 500px) {
    #sitesPage {
        gap: 2rem;
        
        & .sites-title {
            font-size: 3rem;
        }
    }
}