footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--color-black);
    z-index: 1;

    & #footerComponents {
        display: flex;
        justify-content: space-between;
        height: 100%;
        padding-top: 1rem;
        border-top: 1px solid #f0cca430;
        margin-left: 5rem;
        margin-right: 5rem;
    }

    & #copyright {
        display: flex;
        align-items: center;
        align-self: flex-start;
        margin-bottom: 1rem;
        margin-left: 5rem;
        padding-top: 2rem;

        & .material-symbols-outlined {
            padding-left: 0.2rem;
            padding-right: 0.2rem;
            font-size: 0.7rem;
        }

        & .material-symbols-outlined, 
        .copyright__text {
            align-self: first baseline;
            text-align: left;
            font-weight: 400;
            color: var(--color-nintendo-gray);
        }
    }
}

@media (max-width: 900px) {
    footer {
        & #footerComponents {
            display: grid;
            margin-left: 2rem;
            margin-right: 2rem;

            & #siteLinks {
                grid-column: 1;
            }

            & #newsletter {
                grid-column: 2;
                grid-row: 1;
            }
        }

        & #copyright {
            margin-left: 2rem;
        }
    }
}

@media (max-width: 600px) {
    footer {
        & #footerComponents {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-left: 0.5rem;
            margin-right: 0.5rem;

            & #siteLinks {
                text-align: center;
            }
        }

        & #copyright {
            padding-top: 0;
            margin-left: 0.5rem;
        }
    }
}