footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--color-black);
    z-index: 1;

    & #footerComponents {
        display: flex;
        justify-content: space-between;
        height: 100%;
        padding-top: 1rem;
        border-top: 1px solid #f0cca430;
        margin-left: 5rem;
        margin-right: 5rem;
    }

    & #copyright {
        display: flex;
        align-items: center;
        align-self: center;
        margin-bottom: 1rem;
        padding-top: 2rem;

        & .copyright__text {
            align-self: first baseline;
            text-align: left;
            font-weight: 400;
            color: var(--color-nintendo-gray);
        }
    }
}

@media (max-width: 900px) {
    footer {
        & #footerComponents {
            margin-left: 2rem;
            margin-right: 2rem;
        }
    }
}

@media (max-width: 600px) {
    footer {
        & #footerComponents {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-left: 0.5rem;
            margin-right: 0.5rem;

            & #siteLinks {
                text-align: center;
            }
        }
    }
}