#footerLogo {
    display: flex;
    flex-direction: column;

    & .footerLogo__title {
        font-family: "iceland", sans-serif;
        text-align: left;
        color: var(--color-footer-heading);
        font-weight: 500;
    }

    & .footerLogo__text {
        color: var(--color-nintendo-gray);
    }
}

@media (max-width: 600px) {
    #footerLogo {
        & .footerLogo__title {
            text-align: center;
        }
    }
}