#siteLinks {
    .siteLinks__title {
        color: var(--color-footer-heading);
        font-weight: 500;
    }

    .siteLinks__list {
        list-style: none;
        margin-top: 1rem;

        .siteLinks__link:hover {
            opacity: 0.7;
        }
        
        .siteLinks__link-title {
            font-weight: 500;
        }
    }
}

@media (max-width: 420px) {
    #siteLinks {
        .siteLinks__title {
            font-size: 1.3rem;
        }

        .siteLinks__list {
            .siteLinks__link {
                font-size: 0.8rem;
            }
        }
    }
}

@media (max-width: 350px) {
    #siteLinks {
        .siteLinks__title {
            font-size: 1.1rem;
        }

        .siteLinks__list {
            .siteLinks__link {
                font-size: 0.7rem;
            }
        }
    }
}