#siteLinks {
    display: flex;
    flex-direction: column;

    & .siteLinks-heading {
        color: var(--color-footer-heading);
        padding-bottom: 0.5rem;
        font-size: 1.2rem;
        letter-spacing: 1px;
    }

    & #links {
        display: flex;
        flex-direction: column;

        & a {
            font-weight: 600;
            line-height: 30px;

            &:hover {
                color: var(--color-link-active);
            }
        }
    }
}

@media (max-width: 900px) {
    #siteLinks {
        padding-top: 2rem;
    }
}