#newsletter {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;

    & .subscription-text {
        font-family: "iceland", sans-serif;
        color: var(--color-nintendo-gray);
        font-weight: 500;
        font-size: 1.15rem;
        padding-bottom: 0.2rem;
    }

    & #newsletterSignup {
        display: flex;
        flex-direction: column;
        width: 16rem;
        gap: 1rem;
        position: relative;

        & #subscribeButton {
            align-self: center;
            padding: .2rem 0.5rem;
            width: fit-content;
            height: 84%;
            position: absolute;
            bottom: 0;
            top: 0;
            right: 3px;
            background-color: var(--color-white);

            &:hover {
                background-color: var(--color-white);
                filter: brightness(0.8);
            }
        }

        & #subscribeEmail {
            border-radius: 9px;
            font-size: 1rem;
            outline: none;
            font-family: "arima", serif;
            padding-right: 4rem;
        }
    }

    & .message-success,
    .message-failure {
        max-width: 80vw;
        margin: 0.4rem;
        position: absolute;
        bottom: -25px;
        white-space: nowrap;
    }
}

@media (max-width: 600px) {
    #newsletter {
        align-items: center;
        padding-top: 1rem;
        width: 100%;

        & #newsletterSignup {
            max-width: 400px;

            & #subscribeButton {
                align-self: center;
            }
        }
    }
}