#text {
    display: flex;
    flex-direction: column;

    & .text__title {
        text-align: left;
        color: var(--color-footer-heading);
        font-weight: 500;
    }

    & > p {
        color: var(--color-nintendo-gray);
    }
}

@media (max-width: 600px) {
    #text {
        & .text__title {
            text-align: center;
        }
    }
}