#contactPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    background-color: var(--color-black);
    padding-top: 4rem;
    padding-bottom: 3rem;
    position: relative;
    min-height: 100vh;

    & .contact-image {
        height: 25rem;
        width: 100%;
        object-fit: cover;
        filter: brightness(0.9);
    }

    & #contactPage-title {
        font-family: "iceland";
        font-size: 5rem;
        padding-top: 2rem;
        color: var(--color-footer-heading);
        position: absolute;
        left: 10rem;
    }

    & #contactPage-information {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: flex-end;
        text-align: center;
        width: 40%;
        padding-right: 2rem;
        padding-bottom: 7rem;

        & #information-text {
            font-size: 1.4rem;
            padding-bottom: 5rem;
            color: var(--color-real-white);
        }

        & #contact-info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex-wrap: wrap;
            gap: 4rem;

            & .contact__info {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 0.5rem;
                white-space: nowrap;

                & .location {
                    color: var(--color-footer-heading);
                }

                & .globe {
                    color: var(--color-neon-blue);
                }

                & .mail {
                    color: var(--color-real-white);
                }

                & .contact__link:hover {
                    filter: brightness(0.5);
                }
            }
        }
    }

    & #contactForm {
        position: absolute;
        left: 1rem;
        top: 25rem;
        background-color: var(--color-black);
        width: 40rem;

        & #sendButton {
            width: 50%;
        }
    }
}

@media (max-width: 1200px) {
    #contactPage {
        & #contactPage-information {
            width: 50%;
            padding-bottom: 4rem;

            & #information-text {
                font-size: 1.3rem;
            }
        }

        & #contactForm {
            width: 30rem;
            padding: 1rem 0;
        }
    }
}

@media (max-width: 1050px) {
    #contactPage {
        & #contactPage-information {
            & #information-text {
                font-size: 1.2rem;
            }
        }

        & #contactForm {
            width: 25rem;
        }
    }
}

@media (max-width: 870px) {
    #contactPage {
        & #contactPage-title {
            font-size: 3rem;
        }

        & .contact-image {
            height: 15rem;
        }

        & #contactPage-information {
            width: 100%;
            padding-bottom: 0;
            padding-right: 1rem;
            padding-left: 1rem;

            & #information-text {
                padding-bottom: 2rem;
            }

            & #contact-info {
                flex-direction: row;
            }
        }

        & #contactForm {
            width: 80vw;
            position: static;
        }
    }
}

@media (max-width: 500px) {
    #contactPage {
        padding-top: 3rem;

        & #contactPage-title {
            left: 4rem;
        }

        & #contactPage-information {
            & #contact-info {
                gap: 2rem;
            }

            & #information-text {
                font-size: 1.2rem;
            }
        }

        & #contactForm {
            padding: 0.5rem;
            width: 95%;

            & .information-input {
                width: 100%;
            }

            & #sendButton {
                margin-top: 1rem;
            }
        }
    }
}