#contactPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    background-color: var(--color-black);
    padding-top: 4rem;
    padding-bottom: 3rem;

    & #contactPage-information {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        max-width: 60rem;

        & #contactPage-title {
            font-family: "iceland";
            font-size: 5rem;
            padding-top: 2rem;
            color: var(--color-footer-heading);
        }

        & #information-text {
            font-size: 1.5rem;
            padding-bottom: 5rem;
            color: var(--color-real-white);
        }

        & #contact-info {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 4rem;

            & .contact__info {
                display: flex;
                align-items: center;
                gap: 0.5rem;
                white-space: nowrap;

                & .location {
                    color: var(--color-footer-heading);
                }

                & .globe {
                    color: var(--color-neon-blue);
                }

                & .mail {
                    color: var(--color-real-white);
                }

                & .contact__link:hover {
                    filter: brightness(0.5);
                }
            }
        }
    }

    & .contact-form__heading {
        font-family: 'Playfair Display', sans-serif;
        text-transform: uppercase;
        color: var(--color-real-white);
        margin-top: 2rem;

        &::after {
            content: "";
            display: block;
            margin: 0 auto;
            width: 50%;
            border-bottom: 2px solid var(--color-nintendo-gray);
            margin-top: 0.8rem;
        }
    }
}

@media (max-width: 1200px) {
    #contactPage {
        & #contactPage-information {
            width: 80%;
        }

        & #contactForm {
            width: 70%;

            & #sendButton {
                width: 50%;
            }
        }
    }
}

@media (max-width: 700px) {
    #contactPage {
        & #contactPage-information {
            width: 90%;
        }

        & #contactForm {
            width: 90%;
        }
    }
}

@media (max-width: 500px) {
    #contactPage {
        & #contactPage-information {
            & #contactPage-title {
                font-size: 3rem;
            }

            & #contact-info {
                gap: 2rem;
            }

            & #information-text {
                font-size: 1.2rem;
            }
        }

        & #contactForm {
            padding: 1rem;

            & .information-input {
                width: 100%;
            }
        }
    }
}