#contactPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    background-color: var(--color-black);
    padding: 4rem 2rem;

    & #contact-presentation {
        display: flex;
        align-items: center;
        gap: 8rem;
        padding-top: 5rem;

        & #contact-heading {
            display: flex;
            flex-direction: column;
            border-right: 1px solid var(--color-link-background);
            padding-top: 3rem;
            padding-bottom: 8rem;
            padding-right: 1rem;
            max-width: 600px;
            height: fit-content;

            & #contactPage-title {
                font-family: Playfair Display, sans-serif;
                font-size: 3rem;
                text-shadow: 0 0 2px azure, 0 0 0 var(--color-footer-heading), 0 0 40px var(--color-footer-heading), 0 0 60px var(--color-footer-heading);
                filter: saturate(60%);
                color: var(--color-real-white);
                font-weight: 300;
                align-self: center;
                text-align: center;
                text-transform: uppercase;
                border-style: solid;
                border-image: linear-gradient(to left, #181818, #eee, #181818) 1 0;
                border-top: 0;
                border-bottom-width: 2px;
            }

            & #information-text {
                font-size: 1.3rem;
                color: var(--color-nintendo-gray);
                letter-spacing: 1px;
                padding-top: 1rem;
            }
        }

        & .contact-figure {
            max-width: 600px;
            
            & .contact-image {
                width: 100%;
                height: auto;
                object-fit: cover;
            }
        }
    }

    & #contactPage-information {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 800px;

        & #contact-info {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            & .contact__info {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 0.5rem;
                text-align: center;
                padding: 1rem;

                & .contact__info-top {
                    display: flex;
                    gap: 0.5rem;

                    & .contact__info-icon {
                        width: 30px;
                    }

                    & .contact__info-heading {
                        font-family: "iceland", sans-serif;
                        color: var(--color-real-white);
                        font-size: 2rem;
                        font-weight: 600;
                    }
                }

                & .contact__info-text {
                    color: var(--color-nintendo-gray);
                    font-size: 1.2rem;
                    font-weight: 100;
                    letter-spacing: 1px;

                    & > a {
                        color: var(--color-white);
                        text-decoration: none;

                        &:hover {
                            color: var(--color-link-active);
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1300px) {
    #contactPage {
        & #contact-presentation {
            gap: 2rem;
        }
    }
}

@media (max-width: 900px) {
    #contactPage {
        & #contact-presentation {
            flex-direction: column;
            padding-top: 0;

            & #contact-heading {
                border-right: 0;
                padding-bottom: 2rem;
            }
        }
    }
}

@media (max-width: 500px) {
    #contactPage {
        padding: 3rem 0.5rem;
    }
}