#contactPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    background-color: var(--color-black);
    padding: 4rem 2rem;

    & #contactPage-title {
        font-family: Playfair Display, sans-serif;
        font-size: 5rem;
        font-weight: 100;
        color: var(--color-footer-heading);
        width: 60%;
        padding-top: 3rem;
        text-align: center;
        text-transform: uppercase;
        border-style: solid;
        border-image: linear-gradient(to left, #181818, #eee, #181818) 1 0;
        border-top: 0;
        border-bottom-width: 2px;
    }

    & #contactPage-information {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 800px;

        & #information-text {
            font-size: 1.4rem;
            padding-bottom: 5rem;
            color: var(--color-real-white);
            letter-spacing: 1px;
        }

        & #contact-info {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            & .contact__info {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                text-align: left;
                padding: 1rem;

                & .contact__info-heading {
                    font-family: "iceland", sans-serif;
                    color: var(--color-real-white);
                    font-size: 2rem;
                    font-weight: 600;
                }

                & .contact__info-text {
                    color: var(--color-nintendo-gray);
                    font-size: 1.3rem;
                    font-weight: 100;

                    & > a {
                        color: var(--color-footer-heading);
                        text-decoration: none;

                        &:hover {
                            filter: brightness(1.2);
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 870px) {
    #contactPage {
        & #contactPage-title {
            font-size: 3rem;
        }

        & #contactPage-information {
            & #information-text {
                font-size: 1.2rem;
                padding-bottom: 3rem;
            }

            & #contact-info {
                & .contact__info {
                    & .contact__info-text {
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }
}

@media (max-width: 500px) {
    #contactPage {
        padding: 3rem 1rem;

        & #contactPage-title {
            width: 100%;
        }
    }
}