#contactPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to top left, var(--color-black) 70%, var(--color-black-light));

    & #contact-image {
        width: 100vw;
        margin-top: 4rem;
        filter: brightness(0.8);
    }

    & #contactPage-content {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        padding-top: 4rem;
        padding-bottom: 5rem;

        & #contactPage-information {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            width: 30rem;

            & #contactPage-title {
                padding-top: 2rem;
                font-size: 2rem;
            }

            & #information-text {
                font-size: 1.5rem;
            }
        }
    }
}