#contactPage {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: var(--color-black);
    padding: 4rem 2rem;
    padding-top: 10rem;

    & .contact-details {
        display: flex;
        flex-direction: column;
        flex: 1;
        gap: 1rem;
        max-width: 600px;

        & .contact-heading {
            font-family: "iceland", sans-serif;
            color: var(--color-real-white);
            font-size: 3rem;
            letter-spacing: 1px;
        }

        & .contact-text {
            color: var(--color-nintendo-gray);
            max-width: 400px;
            font-size: 1rem;
        }
    }

    & .contact-form {
        display: flex;
        flex: 1;
        max-width: 600px;
    }
}