#forbiddenPage {
    background-image: url("../../../assets/backgrounds/nes-gaming-set-in-dark.webp");
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    & .forbidden__title {
        font-size: 4rem;
    }

    & .forbidden__text {
        font-size: 2rem;
        text-align: center;
    }
}