.favouriteListEntry {
    display: flex;
    height: 4rem;
    width: 100%;
    align-items: center;
    border-top: 1px solid var(--color-white);
    position: relative;

    & .image-modal-show {
        display: flex;
        position: absolute;
        left: 3rem;
        z-index: 10;

        & .gameCard-figure__cover {
            width: 15rem;
            height: 20rem;
            border-radius: 9px;
        }
    }

    & .gameCard-figure__cover {
        height: 70%;
        width: 2rem;
        height: 2.5rem;

        &:hover {
            cursor: pointer;
        }
    }

    & .gameCard-title {
        text-align: left;
        padding-left: 1rem;
        width: 50%;

        & .gameCard-title__link {
            transition: all 0.5s;

            &:hover {
                filter: brightness(0.5);
                transition: filter 0.5s;
            }
        }
    }

    & .gameCard-category,
    .gameCard-developer,
    .gameCard-players,
    .gameCard-publisher {
        font-size: 1.2rem;
        font-weight: 100;
    }

    & .gameCard-category {
        width: 20%;
    }

    & .gameCard-players {
        width: 10%;
    }

    & .gameCard-developer {
        width: 30%;
    }

    & .gameCard-publisher {
        width: 30%;
    }

    & .favouriteButton {
        height: 3rem;
        width: 2rem;
        margin: 0;
        margin-top: 0.2rem;
        align-self: flex-start;
        justify-self: flex-end;
        transform: scale(0.8);
    }
}