#gameList {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 80%;

    & #listHeading {
        display: flex;

        & .game-title {
            text-align: left;
            width: 36%;
        }

        & .game-category {
            width: 10%;
        }

        & .game-players {
            width: 10%;
        }

        & .game-developer {
            width: 20%;
        }

        & .game-publisher {
            width: 20%;
        }
    }
}