.gameListEntry {
    display: flex;
    height: 4rem;
    width: 100%;
    align-items: center;
    border-top: 1px solid var(--color-list-border);
    position: relative;

    & .gameCard-category__heading,
    .gameCard-players__heading,
    .gameCard-developer__heading,
    .gameCard-publisher__heading {
        display: none;
    }

    & .image-modal-show {
        display: flex;
        position: absolute;
        left: 3rem;
        z-index: 10;

        & .gameCard-figure__cover {
            width: 15rem;
            height: 20rem;
            border-radius: 9px;
        }
    }

    & .gameCard-figure__cover {
        height: 70%;
        width: 2rem;
        height: 2.5rem;

        &:hover {
            cursor: pointer;
        }
    }

    & .gameCard-title {
        text-align: left;
        padding-left: 1rem;
        width: 50%;

        & .gameCard-title__link {
            transition: all 0.5s;
            width: fit-content;

            &:hover {
                cursor: pointer;
                filter: brightness(0.5);
                transition: filter 0.5s;
            }
        }
    }

    & .gameCard-category,
    .gameCard-developer,
    .gameCard-players,
    .gameCard-publisher {
        font-size: 1.2rem;
        font-weight: 100;
    }

    & .category-section {
        width: 20%;
    }

    & .players-section {
        width: 10%;
    }

    & .developer-section,
    .publisher-section {
        width: 30%;
    }

    & .favouriteButton {
        height: 3rem;
        width: 2rem;
        margin: 0;
        align-self: center;
        justify-self: flex-end;
        transform: scale(0.8);
    }
}

@media (max-width: 1100px) {
    .gameListEntry {
        display: grid;
        grid-template-columns: 0.8fr 4fr 4fr 4fr;
        grid-template-rows: 2fr 1fr 1fr;
        height: 8rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;

        & a:first-of-type {
            width: fit-content;
        }

        & .gameCard-category__heading,
        .gameCard-publisher__heading,
        .gameCard-players__heading,
        .gameCard-developer__heading {
            display: block;
            color: var(--color-footer-heading);
            font-weight: 100;
            font-size: 1rem;
            grid-row: 2;
            width: 100%;
        }

        & .category-section {
            grid-column: 2 / 3;
            padding-left: 4rem;
        }

        & .players-section {
            grid-column: 1 / 2;
        }

        & .developer-section {
            grid-column: 3 / 4;
        }

        & .publisher-section {
            grid-column: 4 / 5;
        }

        & .category-section,
        .developer-section,
        .players-section,
        .publisher-section {
            grid-row: 3;
            width: 100%;
        }

        & .gameCard-title {
            grid-column: 2 / 4;
            grid-row: 1;
            width: 100%;
        }

        & .favouriteButton {
            grid-column: 4 / 5;
            grid-row: 1;
        }
    }
}

@media (max-width: 600px) {
    .gameListEntry {
        height: fit-content;

        & .gameCard-players__heading,
        .gameCard-publisher__heading {
            padding-top: 0.5rem;
        }

        & .category-section,
        .players-section {
            grid-column: 1 / 3;
        }

        & .developer-section,
        .publisher-section {
            grid-column: 3 / 5;
        }

        & .category-section,
        .developer-section {
            grid-row: 2;
            padding-left: 0;
        }

        & .players-section,
        .publisher-section {
            grid-row: 3;
        }

        & .gameCard-title {
            font-size: 1.3rem;
        }
    }
}