#listToggle {
    display: flex;
    gap: 1rem;
    align-self: center;
    margin-bottom: 2rem;
    background: #33323280;
    padding: 0.3rem;
    border-radius: 9px;

    #gridView, #listView {
        display: flex;
        align-items: center;

        & .material-symbols-outlined {
            margin-top: 0.1rem;
        }
        
        & .toggle-title {
            font-weight: 100;
        }
    }

    .active {
        background-color: var(--color-black);
        border-radius: 9px;
        padding: 0.5rem;
        cursor: default;
    }

    .disabled {
        cursor: pointer;
        padding: 0.5rem;

        &:hover {
            filter: brightness(1.5);
        }
    }
}