.userListEntry {
    display: flex;
    justify-content: space-between;
    height: 4rem;
    width: 100%;
    align-items: center;
    border-top: 1px solid var(--color-list-border);
    position: relative;

    & .userCard-name__heading,
    .userCard-role__heading,
    .userCard-account__heading,
    .userCard-enrolled__heading {
        display: none;
    }

    & .image-modal-show {
        display: flex;
        position: absolute;
        left: 3rem;
        z-index: 10;

        & .listEntry-figure__cover {
            width: 15rem;
            height: 20rem;
            border-radius: 9px;
        }
    }

    & .listEntry-figure__cover {
        width: 2rem;
        height: 2.5rem;

        &:hover {
            cursor: pointer;
        }
    }

    & .userCard-email {
        text-align: left;
        padding-left: 1rem;
        width: 30%;

        & .userCard-email__link {
            transition: all 0.5s;
            width: fit-content;

            &:hover {
                cursor: pointer;
                filter: brightness(0.5);
                transition: filter 0.5s;
            }
        }
    }

    & .userCard-name,
    .userCard-role,
    .userCard-account,
    .userCard-enrolled {
        font-size: 1.2rem;
        font-weight: 100;
        color: var(--color-nintendo-gray);
    }

    & .name-section {
        width: 20%;
    }

    & .role-section {
        width: 10%;
    }

    & .account-section,
    .enrolled-section {
        width: 10%;
    }

    & .enrollment-date {
        margin-right: 0.5rem;
        width: 14vw;
    }
}

@media (max-width: 1100px) {
    .userListEntry {
        font-size: 0.8rem;
    }
}

@media (max-width: 900px) {
    .userListEntry {
        font-size: 0.7rem;

        & .profile-info {
            width: 45vw;
        }
        
        & .enrollment-date {
            width: 12vw;
        }
    }
}

@media (max-width: 650px) {
    .userListEntry {
        font-size: 0.6rem;
        height: 3rem;

        & .profile-info {
            padding-left: 1rem;
            width: 35vw;

            & .listEntry-figure {
                display: none;
            }

            & .member-name {    
                & .member-name__email {
                    font-size: 0.6rem;
                }
            }
        }
        
        & .enrollment-date {
            width: 12vw;
        }
    }
}

@media (max-width: 500px) {
    .userListEntry {
        font-size: 0.5rem;

        & .profile-info {
            padding-left: 0.5rem;
            width: 20vw;
        }
        
        & .enrollment-date {
            padding-right: 0.5rem;
        }
    }
}