#accountMenu-wrapper {
    background: var(--color-black);
    position: fixed;
    height: 100vh;
    z-index: 1;
    top: 0;
    padding-top: 13rem;

    #side-menu_button {
        display: flex;
        position: fixed;
        left: 1rem;

        & .material-symbols-outlined {
            &:hover {
                cursor: pointer;
                filter: brightness(1.5);
            }
        }
    }

    #accountMenu {
        display: flex;
        flex-direction: column;
        gap: 4rem;
        padding-top: 1rem;
        transition: width 1s ease-in-out;
        width: 3.5rem;
        height: 100%;

        #pages {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            .pages-title {
                margin-left: 0.5rem;
                margin-top: 3rem;
                visibility: hidden;
            }

            & .account-menu__link {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 1rem;
                font-size: 1.7rem;
                padding-left: 1rem;
                padding-right: 2rem;

                & .menu__link-title {
                    font-weight: 100;
                    visibility: hidden;
                }

                &:hover{
                    filter: brightness(1.5);
                    cursor: pointer;
                }
            }

            .logout-link {
                margin-top: 2rem;
            }

            & .active {
                border-right: solid;
                background-color: hsl(0, 3%, 12%);
            }
        }
    }

    .rotate-down {
        transform: rotate(180deg);
        transition: transform 1s ease-in-out;
    }

    .rotate-up {
        transform: rotate(0deg);
        transition: transform 1s ease-in-out;
    }

    /***********************
    * Open/Close Side Menu *
    ***********************/

    :has(.rotate-down) {
        & ~ #accountMenu {
            width: 12rem;
            transition: width 1s ease-in-out;
    
            & #pages {
                & .pages-title, & .menu__link-title {
                    visibility: visible;
                    transition: visibility 1s step-end;
                }
            }
        }
    }
}

@media (max-width: 700px) {
    #accountMenu-wrapper {
        padding-top: 5rem;
    }
}