#editFilterForm {
    display: flex;
    flex-direction: column;
    min-width: 20rem;

    & .selectSection__title {
        font-family: "arima", sans-serif;
        text-align: center;
        font-weight: 600;
        margin-top: 2rem;

        & .material-symbols-outlined {
            color: var(--color-white);
            vertical-align: middle;
            cursor: pointer;
        }
    }

    & .filter-wrapper {
        display: flex;
        flex-direction: column;
        align-self: center;
        align-items: center;
        gap: 0.2rem;

        & .selectSection__select {
            width: fit-content;
            font-size: 1.3rem;
            align-self: center;
        }
    }
}

@media (max-width: 550px) {
    #editFilterForm {
        & .filter-wrapper {
            & .selectSection__select {
                font-size: 1rem;
            }
        }
    }
}

@media (max-width: 400px) {
    #editFilterForm {
        align-items: center;
        margin-left: 2rem;

        & .filter-wrapper {
            gap: 0.2rem;
            align-self: center;
            flex-direction: column;
            align-items: center;

            & .selectSection__select {
                font-size: 0.9rem;
            }
        }
    }
}