#editPasswordForm {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 30%;
    margin-bottom: 1rem;

    & .editPasswordForm__title {
        color: var(--color-footer-heading);
        align-self: center;
        font-size: 1rem;
    }
        
    & #password-inputs {
        & .input:first-of-type {
            margin-bottom: 1rem;
            border-radius: 6px 6px 6px 6px;
        }

        & .input:nth-of-type(2) {
            border-radius: 6px 6px 0 0;
            border-bottom: 0.5px solid var(--color-auth-border-bottom);
        }

        & .input {
            & #oldPassword,
            #password,
            #passwordRepeat {
                font-family: "arima", sans-serif;
            }
        }
    }

    .message-success,
    .message-failure {
        margin-top: 2rem;
    }
}

@media (max-width: 1200px) {
    #editPasswordForm {
        width: 50%;
    }
}

@media (max-width: 1000px) {
    #editPasswordForm {
        width: 80%;
    }
}