#newsletterForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    height: fit-content;
    border: 1px solid var(--color-auth-border);
    position: relative;
    overflow: hidden;
    box-shadow: 0 1px 2px #00000026;
    padding: 2rem;
    border-radius: 6px;
    background: rgba(100, 100, 100, .05);
    backdrop-filter: blur(10px);

    & .information-input {
        & .input-field {
            font-family: "arima", sans-serif;
        }
    }

    & #heading {
        width: 30rem;
    }

    & #message {
        width: 30rem;
        height: 20rem;
    }

    & .message-success,
    .message-failure {
        margin-top: 1rem;
    }

    & #createButton {
        width: 85%;
        margin-top: 2rem;
    }
}

@media (max-width: 1300px) {
    #newsletterForm {
        width: 40rem;
    }
}

@media (max-width: 750px) {
    #newsletterForm {
        padding: 1rem 0.4rem;
        width: 80%;

        & .information-input {
            width: 90%;

            & #heading {
                width: 100%;
            }

            & #message {
                width: 100%;
            }
        }
    }
}