#account-edit__card {
    display: flex;
    align-self: flex-start;

    #accountCard {
        display: flex;
        flex-direction: column;
        align-self: flex-start;
        background-color: transparent;
        border-radius: 8px;
        padding: 1rem 5rem 4rem;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
        .accountCard__title {
            text-align: center;
            font-size: 36px;
            margin-bottom: 1rem;
        }
    
        #accountForm {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .accountButton {
                width: fit-content;
                align-self: flex-end;
            }
        }
    }
}

@media (max-width: 550px) {
    #account-edit__card {
        #accountCard {
            padding: 1rem 3rem 2rem;
    
            #accountForm {
                max-width: 18rem;
            }
        }
    }
}