#userDetails-edit__card {
    display: flex;
    flex-direction: column;
    max-width: 60vw;

    #userDetailsCard {
        display: flex;
        flex-direction: column;
        background-color: transparent;
        border-radius: 8px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
        #userDetailsForm {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            & .edit-profile__bio {
                white-space-collapse: preserve-breaks;
            }

            .gameButton {
                align-self: flex-end;
            }
        }
    }
}

@media (max-width: 550px) {
    #userDetails-edit__card {
        #userDetailsCard {
            #userDetailsForm {
                width: 75vw;
            }
        }
    }
}