#editFilterForm {
    display: flex;
    flex-direction: column;
    min-width: 20rem;

    & .selectSection__title {
        text-align: center;
        font-weight: 600;
        margin-top: 2rem;
    }

    & .filter-wrapper {
        display: flex;
        align-self: center;
        gap: 0.7rem;

        & .selectSection__select {
            width: fit-content;
            font-size: 1.3rem;
            align-self: center;
        }

        & .material-symbols-outlined:hover {
            cursor: pointer;
        }
    }

    ::backdrop {
        background-image: linear-gradient(
            45deg,
            var(--color-white),
            var(--color-black),
            var(--color-black),
            var(--color-white)
        );
        opacity: 0.75;
    }
}

@media (max-width: 550px) {
    #editFilterForm {
        & .filter-wrapper {
            & .selectSection__select {
                font-size: 1rem;
            }
        }
    }
}

@media (max-width: 400px) {
    #editFilterForm {
        align-items: center;
        margin-left: 2rem;

        & .filter-wrapper {
            gap: 0.2rem;
            align-self: center;
            flex-direction: column;
            align-items: center;

            & .selectSection__select {
                font-size: 1rem;
            }
        }
    }
}