#editProfileForm {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 2rem;

    & .edit-profile-image {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        text-align-last: end;
        gap: 1rem;

        & .profile-image {
            border-radius: 250px;
            max-width: 10rem;
        }

        & .edit-profile__change-image {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }
    }

    & .edit-profile__information {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 100%;

        & .edit-profile__bio {
            width: 100%;
        }
    }
}

@media (max-width: 1100px) {
    #editProfileForm {
        & .edit-profile-image {
            align-items: center;
            text-align-last: center;
        }
    }
}

@media (max-width: 500px) {
    #editProfileForm {
        width: 90vw;

        & .edit-profile-image {
            align-items: flex-end;
            text-align-last: right;
        }
    }
}