#editAccountSettings {
    display: flex;
    flex-direction: column;

    .message-success, .message-failure {
        width: fit-content;
        align-self: center;
        justify-self: center;
    }

    #accountCard {
        display: flex;
        flex-direction: column;
        max-width: fit-content;

        & .accountCard__title {
            align-self: center;
        }
    
        #passwordForm {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            #passwordInput > span {
                color: var(--color-white);
            }

            .accountButton {
                width: fit-content;
                align-self: flex-end;
            }
        }
    }
}