#login {
    display: flex;
    flex-direction: column;

    #loginCard {
        display: flex;
        flex-direction: column;
        background-color: var(--color-form);
        border-radius: 8px;
        padding: 1rem 5rem 3rem;
        max-width: fit-content;
        align-self: center;
    
        .loginCard__heading {
            color: var(--color-black);
            text-align: center;
            font-size: 36px;
            margin-bottom: 2rem;
        }
    
        #loginForm {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }
    
        .loginCard__create-account-link {
            color: var(--color-link);
            font-size: 20px;
            font-weight: 600;
            align-self: end;
            margin-top: 0.6rem;
    
            &:hover {
                color: var(--color-link-hover);
                font-weight: bolder;
                transform: scale(1.05);
                transition-duration: 0.5s;
            }
        }
    }

    .message-failure, .message-success {
        text-align: center;
        width: fit-content;
        align-self: center;
    }
}

@media (max-width: 550px) {
    #login {
        #loginCard {
            padding: 1rem 3rem 2rem;
    
            #loginForm {
                max-width: 18rem;
            }
        }
    }
}