#gamePage {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-real-white);
    background: radial-gradient(circle at left, rgba(39, 99, 61, 1) -170%, rgba(16, 16, 16, 1) 100%);
    position: relative;
    padding-bottom: 10rem;

    & .gamePage-figure {
        display: flex;
        justify-content: center;
        max-height: 30rem;
        height: 100%;
        width: 100%;
        position: relative;
        border-bottom: 1px solid #ffffff14;

        & .gamePage-image {
            object-fit: cover;
            filter: brightness(0.4);
            width: 100%;
            height: 100%;
            mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
        }

        & .game-heading {
            display: flex;
            flex-direction: column;
            position: absolute;
            left: 3rem;
            bottom: 25%;
            padding-bottom: 2rem;

            & .game-released {
                font-family: poppins, sans-serif;
                font-weight: 100;
                font-size: 1rem;
                color: var(--color-footer-heading);
                border: 1px solid #ffffff14;
                width: fit-content;
                padding: 0.3rem 0.5rem;
                border-radius: 6px;
                backdrop-filter: brightness(0.5);
            }

            & .game-title {
                font-size: 5rem;
                color: var(--color-real-white);
                font-family: "iceland", sans-serif;
                letter-spacing: 1px;
                font-weight: 100;
            }
        }
    }

    & .game-content {
        display: flex;
        justify-content: space-between;
        gap: 4rem;
        max-width: 1600px;
        width: 100%;
        border-radius: 9px;
        background: transparent;
        padding: 2rem;
        padding-top: 5rem;

        & .game-overview {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            max-width: 900px;
            width: 100%;

            & .overview-title {
                font-family: iceland, sans-serif;
                font-size: 2.5rem;
                font-weight: 100;
                color: var(--color-real-white);
            }

            & .game-description {
                display: flex;
                flex-direction: column;
                font-size: 1.1rem;
                white-space-collapse: preserve-breaks;
                text-align: left;
                padding-bottom: 2rem;
                font-family: poppins, serif;
                color: var(--color-heading);
                line-height: 28px;
                font-weight: 400;
                color: rgb(157 173 178 / 1);
            }
        }

        & .game-metadata {
            display: flex;
            flex-direction: column;
            max-width: 350px;
            width: 100%;

            & .metadata-list {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                align-self: flex-start;
                list-style-type: none;
                width: 100%;
                position: sticky;
                top: 0;
                padding-top: 5rem;
                padding-bottom: 7rem;

                & .favouriteButton,
                & .playButton {
                    margin-bottom: 1rem;
                    margin-top: 1rem;
                }

                & .playButton {
                    margin-top: 3rem;
                }

                & .list-item {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    border-bottom: 1px solid #ffffff14;
                    padding-bottom: 1rem;
                    padding-top: 1rem;

                    & .item-heading,
                    & .item-text {
                        font-family: poppins, sans-serif;
                        font-size: 14px;
                        font-weight: 400;
                    }

                    & .item-heading {
                        color: var(--color-list-item-heading);
                        letter-spacing: 1px;
                    }

                    & .item-text {
                        color: var(--color-real-white);

                        & .item-link {
                            color: var(--color-white);
                            transition: 0.2s color ease-in-out;
                            
                            &:hover {
                                transition: 0.2s color ease-in-out;
                                color: var(--color-link-active);
                            }
                        }
                    }
                }
            }
        }
    }

    & .darken-image-bottom {
        position: absolute;
        bottom: 0;
        height: 11rem;
        width: 100%;
        background: linear-gradient(to bottom, #10101000 0%, #101010FF 80%);
        z-index: 1;
    }
}

@media (max-width: 800px) {
    #gamePage {
        & .game-content {
            flex-direction: column-reverse;
            padding-left: 1rem;
            padding-right: 1rem;
            padding-top: 0;

            & .game-metadata {
                align-self: center;
                max-width: 100%;

                & .metadata-list {
                    padding-bottom: 0;
                }
            }
        }
    }
}

@media (max-width: 500px) {
    #gamePage {
        & .gamePage-figure {
            & .game-heading {
                left: 1rem;

                & .game-title {
                    font-size: 3rem;
                }
            }
        }

        & .game-content {
            & .game-overview {
                & .game-description {
                    font-size: 0.95rem;
                }
            }

            & .game-metadata {
                & .metadata-list {
                    & .list-item {
                        & .item-heading,
                        & .item-text {
                            font-size: 0.75rem;
                        }
                    }
                }
            }
        }
    }
}