#editEmailForm {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 30%;
    margin-bottom: 1rem;

    & .editEmailForm__title {
        color: var(--color-footer-heading);
        align-self: center;
        font-size: 1rem;
    }

    & .input {
        & #email {
            font-family: "arima", sans-serif;
        }
    }

    .message-success,
    .message-failure {
        margin-top: 2rem;
    }
}

@media (max-width: 1200px) {
    #editEmailForm {
        width: 50%;
    }
}

@media (max-width: 1000px) {
    #editEmailForm {
        width: 80%;
    }
}