#profileImageForm {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 2rem;

    & .edit-profile-image {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3rem;

        & .profile-image {
            border-radius: 100%;
            width: 15rem;
            max-width: 15rem;
            height: 15rem;
        }

        & .edit-profile__change-image {
            display: flex;
            flex-direction: column;
            text-align-last: center;
            align-items: center;
            gap: 1rem;
            width: fit-content;

            & .edit-image__title {
                color: var(--color-real-white);
                font-size: 2rem;
                font-family: iceland, sans-serif;
            }

            & .edit-profile__input {
                height: 2rem;
                font-size: 1.2rem;
                color: var(--color-nintendo-gray);
                font-family: iceland, sans-serif;
                cursor: pointer;
                max-width: 15rem;
                width: 100%;
            }

            & input::file-selector-button {
                font-family: iceland, sans-serif;
                border: thin solid grey;
                border-radius: 3px;
                cursor: pointer;
            }
        }
    }

    & .authButton {
        padding: .3rem 1rem;
        width: 10rem;
        align-self: center;
    }
}

@media (max-width: 410px) {
    #profileImageForm {
        padding-right: 0.1rem;

        & .edit-profile-image {
            & .edit-profile__change-image {
                & .edit-image__title {
                    font-size: 1.6rem;
                }

                & .edit-profile__input {
                    font-size: 0.9rem;
                }
            }
        }
    }
}