#newsletterForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    max-width: 40rem;
    width: 100%;
    border: 1px solid var(--color-auth-border);
    overflow: hidden;
    box-shadow: 0 1px 2px #00000026;
    padding: 2rem;
    border-radius: 6px;
    background: rgba(100, 100, 100, .05);
    backdrop-filter: blur(10px);

    & .information-input {
        width: 100%;

        & .input-field {
            width: 100%;
            font-family: "arima", sans-serif;
        }
    }

    & .message-success,
    .message-failure {
        margin-top: 1rem;
    }

    & #createButton {
        margin-top: 2rem;
        width: 100%;
    }
}

@media (max-width: 350px) {
    #newsletterForm {
        padding: 1rem 0.8rem;
    }
}