#favouritesPage {
    background: linear-gradient(to top left, var(--color-black) 70%, var(--color-black-light));
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10rem;

    .number-favourites-text {
        margin-bottom: 1rem;
        text-align: center;
    }

    #gameCards {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        margin: 2rem;
        justify-content: center;

        & .no-favourites-text {
            font-size: 3rem;
            text-align: center;
        }
    }

    & .show-pagination-toggle {
        display: flex;
        flex-direction: row-reverse;
        gap: 1rem;
        width: 100%;
        justify-content: space-evenly;

        & #listToggle {
            margin-bottom: 0;
        }

        & .invisible {
            width: 12rem;
        }
    }
}

@media (max-width: 900px) {
    #favouritesPage {    
        & .show-pagination-toggle {
            display: flex;
            flex-direction: column;
            align-items: center;
    
            & .invisible {
                display: none;
            }
        }
    }
}