#landingPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    background: var(--color-black);
    background-image: url("/mariobros3screen.png");
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    padding-top: 10rem;
    padding-bottom: 5rem;

    & #image-wrapper {
        align-self: center;
    }

    & #catalogDescription {
        display: flex;
        justify-content: space-evenly;
        gap: 1rem;
        flex-wrap: wrap;
        width: 100vw;
        margin-top: 2rem;
    }

    .message-failure {
        margin-bottom: 1rem;
    }

    & #firstSection,
    #secondSection,
    #thirdSection {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        min-height: 100vh;
        min-width: 40rem;
    }

    & #secondSection {
        position: relative;
        background-image: url("/marioduckhunt.webp");
        background-position: top;
        width: 100%;
        min-height: 50vh;
        height: 50vh;
        color: var(--color-footer-heading);

        & #searchGameArea {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            position: absolute;
            top: 2rem;
            left: 0;
            right: 0;

            & > h2 {
                backdrop-filter: blur(10px);
                padding: 1rem;
                border-radius: 9px;
            }
        }
    }

    & #thirdSection {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 5rem;
        width: 100%;
        padding: 5rem 1rem 1rem;
        position: relative;
        min-height: fit-content;

        & #newsHeading {
            display: flex;
            align-items: center;
            gap: 1rem;

            & > hr {
                height: 1px;
                padding-left: 2rem;
                padding-right: 2rem;
            }

            & > hr:last-of-type {
                width: 100%;
            }

            & .news-heading {
                align-self: center;
                color: var(--color-real-white);
                font-size: 2rem;
                text-transform: uppercase;
                letter-spacing: 3px;
            }
        }

        & #newsCards {
            display: flex;
            align-self: center;
            justify-content: center;
            flex-wrap: wrap;
            gap: 2rem;
        }
    }
}

@media (max-width: 900px) {
    #landingPage {
        & #firstSection {
            min-width: 90%;
            padding-left: 2rem;
            padding-right: 2rem;
        }
    }
}

@media (max-width: 650px) {
    #landingPage {
        gap: 1rem;

        & #landing-register {
            padding-bottom: 1rem;

            & .landing-text {
                font-size: 1rem;
            }
        }

        & #secondSection {
            & #searchGameArea {
                & > h2 {
                    width: 80%;
                }
            }
        }

        & #suggestion-search {
            flex-direction: column;
            padding-top: 1rem;
            gap: 0.5rem;

            & #gameSearch {
                font-size: 1rem;
                width: 380px;
            }
        }

        & #thirdSection {
            & #newsHeading {
                width: 90vw;
                align-self: center;

                & > hr:last-of-type {
                    width: 100%;
                }

                & .news-heading {
                    font-size: 1.4rem;
                }
            }
        }
    }
}

@media (max-width: 500px) {
    #landingPage {
        padding-top: 5rem;

        & #image-wrapper {
            width: 15rem;
        }

        & #catalogDescription {
            flex-direction: column;
            align-items: center;
            gap: 3rem;
        }

        & #firstSection,
        #secondSection,
        #thirdSection {
            padding-left: 1rem;
            padding-right: 1rem;
        }

        & #secondSection {
            & #searchGameArea {
                & > h2 {
                    width: 50%;
                    font-size: 1.2rem;
                }
            }
        }

        & #suggestion-search {
            & #viewButton {
                margin-bottom: 0.5rem;
            }
        }
    }
}

@media (max-width: 400px) {
    #landingPage {
        & #suggestion-search {
            & #gameSearch {
                font-size: 0.9rem;
                width: 300px;
            }
        }
    }
}