#landingPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background: var(--color-black);
    background-image: url("/home/mariobros3screen.webp");
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    background-size: cover;
    background-position: top;
    padding-top: 10rem;
    padding-bottom: 2rem;

    & #catalogDescription {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        flex-wrap: wrap;
        width: 100vw;
        margin-top: 2rem;
        padding-right: 1rem;
        padding-left: 1rem;

        & .landing-title {
            display: flex;
            justify-content: center;
            align-self: center;
            flex-wrap: wrap;
            padding: 0 1rem 2rem 1rem;
            text-transform: uppercase;
            text-align: center;
            color: var(--color-real-white);
            font-size: 3rem;
            font-weight: 100;
            line-height: 4rem;
            max-width: 900px;
            width: 100%;
            z-index: 6;

            & > p {
                white-space: nowrap;
                padding-right: 2rem;
                padding-left: 2rem;
                color: var(--color-list-border);
                
            }
        }

        & .landing-cards {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 6rem;
            max-width: 1500px;
            padding-bottom: 3rem;

            & .landing-card {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                font-family: "iceland", sans-serif;
                text-align: center;
                max-width: 400px;

                & .landing-title__heading {
                    font-family: "iceland", sans-serif;
                    font-size: 2rem;
                    color: var(--color-real-white);
                    font-weight: 600;
                }
            
                & .landing-card__text {
                    font-family: "iceland", sans-serif;
                    align-self: center;
                    color: var(--color-nintendo-gray);
                    font-size: 1.5rem;
                    font-weight: 100;
                    letter-spacing: 1px;
                    max-width: 1000px;
                }

                & #searchGameArea {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                    position: relative;

                    & .message-failure {
                        margin-bottom: 1rem;
                        margin-top: -0.5rem;
                        position: absolute;
                        white-space: nowrap;
                        font-size: 1.1rem;
                    }
                }

                & .nes-figure {
                    display: flex;
                    align-self: center;
                    height: auto;
                    width: 200px;
                    padding-bottom: 2rem;

                    & .nes-image {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                & .signup-button {
                    align-self: center;
                }
            }
        }
    }

    & #firstSection {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        min-width: 40rem;
    }

    & #secondSection {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 5rem;
        width: 100%;
        position: relative;
        min-height: fit-content;
    }

    & .darken-image-bottom {
        position: absolute;
        bottom: 0;
        height: 6rem;
        width: 100%;
        background: linear-gradient(to bottom, #10101000 0%, #101010FF 80%);
    }
}

@media (max-width: 900px) {
    #landingPage {
        & #catalogDescription {
            & .landing-cards {
                max-width: 100%;
                gap: 4rem;
            }
        }

        & #firstSection {
            min-width: 90%;
            padding-left: 2rem;
            padding-right: 2rem;
        }
    }
}

@media (max-width: 650px) {
    #landingPage {
        padding-top: 5rem;
    }
}

@media (max-width: 500px) {
    #landingPage {
        & #catalogDescription {
            flex-direction: column;
            align-items: center;
            gap: 3rem;

            & .landing-title {
                font-size: 2.2rem;
            }

            & .landing-cards {
                gap: 2rem;

                & .landing-card {
                    max-width: 320px;
                    margin-bottom: 1rem;

                    & #searchGameArea {
                        & #suggestion-search {
                            padding: 0;
                            padding-bottom: 1rem;
                        }
                    }
                }
            }
        }

        & #firstSection {
            padding-left: 1rem;
            padding-right: 1rem;

            & #searchGameArea {
                & .message-failure {
                    top: 0;
                    font-size: 1rem;
                }
            }
        }
    }
}