#landingPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    gap: 2rem;
    background: var(--color-black);
    background-image: url("/mariobros3screen.png");
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    background-size: cover;
    padding-top: 10rem;
    padding-bottom: 5rem;

    & .darken-image-bottom {
        position: absolute;
        bottom: 0;
        height: 6rem;
        width: 100%;
        background: linear-gradient(to bottom, #10101000 0%, #101010FF 80%);
    }

    & #image-wrapper {
        align-self: center;
    }

    & #catalogDescription {
        display: flex;
        justify-content: space-evenly;
        gap: 1rem;
        flex-wrap: wrap;
        width: 100vw;
        margin-top: 2rem;
    }

    .message-failure {
        margin-bottom: 1rem;
        margin-top: 0.5rem;
    }

    & #firstSection {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        min-width: 40rem;

        & #searchGameArea {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
    }

    & #secondSection {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 5rem;
        width: 100%;
        padding: 5rem 1rem 1rem;
        position: relative;
        min-height: fit-content;
    }
}

@media (max-width: 900px) {
    #landingPage {
        & #firstSection {
            min-width: 90%;
            padding-left: 2rem;
            padding-right: 2rem;
        }
    }
}

@media (max-width: 650px) {
    #landingPage {
        gap: 1rem;

        & #landing-register {
            padding-bottom: 1rem;

            & .landing-text {
                font-size: 1rem;
            }
        }
    }
}

@media (max-width: 500px) {
    #landingPage {
        padding-top: 5rem;

        & #image-wrapper {
            width: 15rem;
        }

        & #catalogDescription {
            flex-direction: column;
            align-items: center;
            gap: 3rem;
        }

        & #firstSection {
            padding-left: 1rem;
            padding-right: 1rem;
        }
    }
}