#landingPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    gap: 2rem;
    background: var(--color-black);
    background-image: url("/mariobros3screen.png");
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    background-size: cover;
    padding-top: 10rem;
    padding-bottom: 2rem;

    & .darken-image-bottom {
        position: absolute;
        bottom: 0;
        height: 6rem;
        width: 100%;
        background: linear-gradient(to bottom, #10101000 0%, #101010FF 80%);
    }

    & #image-wrapper {
        align-self: center;
    }

    & #catalogDescription {
        display: flex;
        justify-content: space-evenly;
        gap: 2rem;
        flex-wrap: wrap;
        width: 100vw;
        margin-top: 2rem;
    }

    .message-failure {
        margin-bottom: 1rem;
        margin-top: 0.5rem;
    }

    & #firstSection {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        min-width: 40rem;

        & #searchGameArea {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            padding-top: 5rem;
        }
    }

    & #joinCatalog {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        padding-left: 1rem;
        padding-right: 2rem;
        height: 20rem;
        width: 100%;
        backdrop-filter: brightness(1.5);
        box-shadow: inset 0 0 16px 0 rgba(0, 0, 0, 0.95);

        & .joinCatalog-title {
            font-family: 'Irish Grover', sans-serif;
            color: var(--color-real-white);
            font-size: 2.7rem;
        }

        & .joinCatalog-text {
            font-family: "arima", sans-serif;
            color: var(--color-nintendo-gray);
            max-width: 40rem;
            font-size: 1.6em;
            line-height: 1.2em;
            letter-spacing: -1px;
        }

        & #signup-button {
            font-family: 'Rancho', sans-serif;
            font-size: 1.5rem;
            cursor: pointer;
            width: fit-content;
            color: var(--color-white);
            border: 2px solid var(--color-white);
            border-radius: 4px;
            padding: 0.5rem;
            transition: all 0.2s ease-in-out;

            &:hover {
                color: var(--color-link-active);
                border-color: var(--color-link-active);
                transition: all 0.2s ease-in-out;
            }
        }
    }

    & #secondSection {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 5rem;
        width: 100%;
        padding: 2rem 1rem 1rem;
        position: relative;
        min-height: fit-content;
    }
}

@media (max-width: 900px) {
    #landingPage {
        & #firstSection {
            min-width: 90%;
            padding-left: 2rem;
            padding-right: 2rem;
        }
    }
}

@media (max-width: 650px) {
    #landingPage {
        gap: 1rem;
        padding-top: 5rem;

        & #landing-register {
            padding-bottom: 1rem;

            & .landing-text {
                font-size: 1rem;
            }
        }
    }
}

@media (max-width: 500px) {
    #landingPage {
        & #image-wrapper {
            width: 100%;
            text-align: center;
            padding-left: 1rem;
            padding-right: 1rem;
        }

        & #catalogDescription {
            flex-direction: column;
            align-items: center;
            gap: 3rem;
        }

        & #firstSection {
            padding-left: 1rem;
            padding-right: 1rem;

            & #searchGameArea {
                padding-top: 2rem;
            }
        }

        & #joinCatalog {
            margin-top: 2rem;

            & .joinCatalog-title {
                font-size: 2rem;
                text-align: center;
            }

            & .joinCatalog-text {
                font-size: 1.3rem;
            }
        }
    }
}