#faqPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    background: var(--color-real-black);
    padding-bottom: 10rem;
    padding-top: 10rem;
    overflow-x: hidden;
    position: relative;

    & .title-section {
        display: flex;
        flex-direction: column;
        max-width: 50rem;
        align-self: center;
        justify-items: center;
        z-index: 1;

        & .faqPage-title {
            font-family: 'Playfair Display', sans-serif;
            font-size: 3rem;
            text-align: center;
            padding-bottom: 1rem;
            line-height: 65px;
            text-shadow: 0 0 2px azure, 0 0 0 var(--color-footer-heading), 0 0 3px var(--color-footer-heading), 0 0 10px var(--color-footer-heading);
            filter: saturate(60%);
            color: var(--color-link-background);
            font-weight: 300;
        }

        & .title-text {
            max-width: 800px;
            font-weight: 100;
            color: var(--color-real-white);
            text-align: center;
        }
    }

    & .faq-toggle-topics {
        display: flex;
        gap: 2rem;
        padding: 2rem 0;
        z-index: 1;

        & .toggle-button {
            padding: 0.2rem 1rem;
            border-radius: 24px;
            font-size: 1.5rem;
            font-family: arima;
            background-color: var(--color-black);
            color: var(--color-white);
            border-color: var(--color-white);
            transition: all 0.5s;

            &:hover {
                background-color: #CC8B21c0;
                color: var(--color-black);
                transition: all 0.5s;
            }
        }

        & .active-button {
            background-color: #CC8B21c0;
            color: var(--color-black);
            border-color: var(--color-link-active);
        }
    }

    & #faq-background {
        position: fixed;
        top: 0;
        filter: brightness(0.2);
        height: 100%;
    }

    & .faq:last-of-type {
        border: none;
    }
}

@media (max-width: 850px) {
    #faqPage {
        & .title-section {
            width: 95%;

            & .faqPage-title {
                font-size: 2.5rem;
            }
        }

        & .faq {
            width: 95%;
        }
    }
}

@media (max-width: 500px) {
    #faqPage {
        padding-top: 5rem;

        & .title-section {
            & .faqPage-title {
                font-size: 1.8rem;
                line-height: 35px;
            }
        }

        & .faq-toggle-topics {
            justify-content: center;
            flex-wrap: wrap;
        }
    }
}