#faqPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: radial-gradient(circle,rgba(39, 99, 61, 1) -63%, rgba(16, 16, 16, 1) 100%);
    padding: 4rem 2rem;
    padding-top: 11rem;
    position: relative;

    & .faq-title {
        position: absolute;
        top: 0;
        color: #ffffff10;
        font-family: "iceland", sans-serif;
        font-size: 10rem;
        margin-top: 5rem;
    }

     & .faq-content {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;
        width: 100%;
        min-height: 32rem;
        padding-bottom: 10rem;

        & .faq-details {
            display: flex;
            flex-direction: column;
            flex: 1;
            gap: 1rem;
            max-width: 600px;
            min-width: 400px;

            & .faq-heading {
                font-family: "iceland", sans-serif;
                color: var(--color-real-white);
                font-size: 3rem;
                letter-spacing: 1px;
            }

            & .faq-text {
                color: var(--color-nintendo-gray);
                max-width: 400px;
                font-size: 1rem;
                margin-bottom: 3rem;
            }

            & .faq-toggle-topics {
                display: flex;
                justify-content: space-between;
                gap: 2rem;
                padding: 1.5rem;
                border: 1px solid #ffffff20;
                border-radius: 12px;
                box-shadow: 0 1px 2px #00000026;
                backdrop-filter: blur(2px);
                background: #ffffff16;

                & .toggle-button {
                    font-family: "iceland", sans-serif;
                    color: var(--color-white);
                    font-size: 1.5rem;
                    padding-top: 0.5rem;
                    padding-bottom: 0.5rem;
                    border: 1px solid #ffffff20;
                    border-radius: 12px;
                    box-shadow: 0 1px 2px #00000026;
                    backdrop-filter: blur(2px);
                    background: #ffffff16;
                    width: 120px;
                    transition: all 0.5s;

                    &:hover {
                        background-color: #CC8B21c0;
                        color: var(--color-real-white);
                        transition: all 0.5s;
                    }
                }

                & .active-button {
                    cursor: default;
                    pointer-events: none;
                    color: var(--color-link-active);
                    border-color: var(--color-link-active);
                    outline: 2px solid transparent;
                    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
                }
            }
        }

        & .faq-answers {
            display: flex;
            flex-direction: column;
            flex: 1;
            max-width: 600px;
            min-width: 300px;
        }
    }

    & .darken-image-bottom {
        position: absolute;
        bottom: 0;
        height: 11rem;
        width: 100%;
        background: linear-gradient(to bottom, #10101000 0%, #101010FF 80%);
    }
}