#favouritesPage {
    background-image: url("../../../assets/backgrounds/nes-controller-in-black.webp");
    display: flex;
    flex-direction: column;
    align-items: center;

    .number-favourites-text {
        margin-bottom: 1rem;
    }

    #gameCards {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        margin: 2rem;
        justify-content: center;

        & .no-favourites-text {
            font-size: 3rem;
            text-align: center;
        }
    }
}