.playButton {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    width: 100%;
    height: 3rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-radius: 9999px;
    border: 1px solid #ffffff14;
    cursor: pointer;
    background-color: #ffffff14;
    transition: 0.2s all ease-in-out;

    & .material-symbols-outlined {
        font-size: 1rem;
        color: var(--color-real-white);
    }
    
    & .button-text {
        font-family: poppins, sans-serif;
        color: var(--color-real-white);
        font-size: .875rem;
        font-weight: 700;
        text-wrap: no-wrap;
    }

    &:hover {
        backdrop-filter: brightness(1.4);
        transition: 0.2s all ease-in-out;
    }
}