.favourite-pagination {
    display: flex;
    gap: 1rem;
    align-items: center;

    .favourite-pagination-page__text {
        display: flex;
        gap: 1rem;
        font-size: 30px;
        font-weight: 600;

        .favourite-pagination-page__number {
            font-weight: 100;
        }
    }

    #next, #previous {
        width: fit-content;
        padding: 0.5rem;
        border-radius: 100%;

        & > span {
            font-size: 2rem;
        }
    }
}

@media (max-width: 500px) {
    .favourite-pagination {
        .favourite-pagination-page__text {
            gap: 0.5rem;
            font-size: 1.3rem;
        }
    }
}