.pagination {
    display: flex;
    gap: 1rem;
    align-items: center;

    & .pagination-page__text {
        display: flex;
        gap: 1rem;
        font-family: "arima", sans-serif;
        font-size: 1.4rem;
        font-weight: 600;

        & .pagination-page__number {
            font-weight: 100;
        }
    }

    & #previous {
        margin-right: 0;
    }

    & #next {
        margin-left: 0;
    }
}

@media (max-width: 500px) {
    .pagination {
        & .pagination-page__text {
            gap: 0.5rem;
            font-size: 1.2rem;
        }
    }
}