.userListEntry {
    display: flex;
    align-items: center;
    gap: 1rem;
    max-width: 700px;
    width: 100%;
    padding: 0.5rem;
    position: relative;
    background-color: #ffffff10;
    border-radius: 4px;

    & .image-modal-show {
        display: flex;
        position: absolute;
        left: 8rem;
        z-index: 10;

        & .listEntry-figure__cover {
            width: 15rem;
            height: 20rem;
            border-radius: 9px;
        }
    }

    & .listEntry-figure__cover {
        width: 5rem;
        height: 5rem;
        cursor: pointer;
    }

    & .userListEntry-information {
        display: flex;
        flex-direction: column;
        flex: 8;
        gap: 0.5rem;

        & .user-email {
            font-family: iceland, sans-serif;
            font-size: 1.2rem;
            text-align: left;
            width: fit-content;

            & .user-email__link {
                transition: all 0.5s;
                width: fit-content;

                &:hover {
                    cursor: pointer;
                    filter: brightness(0.5);
                    transition: filter 0.5s;
                }
            }
        }

        & .userListEntry-details {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            & .details-section {
                display: flex;
                gap: 0.5rem;
                padding-right: 1.2rem;

                & .details__heading {
                    color: var(--color-footer-heading);
                    font-size: 1rem;
                    text-transform: uppercase;
                    font-weight: 100;
                }

                & .details__text {
                    color: var(--color-nintendo-gray);
                    font-size: 1rem;
                    font-weight: 100;
                }
            }
        }
    }
}

@media (max-width: 500px) {
    .userListEntry {
        & .listEntry-figure__cover {
            display: none;
        }
    }
}