

#aboutPage {
    background-image: url("../../assets/backgrounds/nes-in-gray-carpet.webp");
    display: flex;
    justify-content: center;

    .p {
        font-family: "Silkscreen", sans-serif;
        font-size: 2rem;
        margin: 1rem;
    }
}