#aboutPage {
    background-image: url("../../assets/backgrounds/nes-in-gray-carpet.webp");
    display: flex;
    justify-content: center;

    .aboutPage__paragraph {
        font-size: 1.5rem;
        margin: 1rem;
        font-weight: 100;
    }
}

@media (max-width: 700px) {
    #aboutPage {
        align-items: center;

        #fieldSetFrame {
            height: fit-content;
        }
    
        .aboutPage__paragraph {
            font-size: 1.4rem;
        }
    }
}

@media (max-width: 600px) {
    #aboutPage {
        .aboutPage__paragraph {
            font-size: 1.3rem;
            margin-left: 0;
            margin-right: 0;
        }
    }
}

@media (max-width: 500px) {
    #aboutPage {
        .aboutPage__paragraph {
            font-size: 1rem;
        }
    }
}