#aboutPage {
    background-image: url("../../assets/backgrounds/nes-in-gray-carpet.webp");
    display: flex;
    justify-content: center;

    .aboutPage__paragraph {
        font-size: 2rem;
        margin: 1rem;
    }
}