#searchPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-black);

    & #search-presentation {
        display: flex;
        flex-direction: column;
        align-self: flex-start;
        margin-top: 10rem;
        padding-left: 23vw;
        margin-bottom: 3rem;

        & .search__subtitle {
            font-family: 'Arima', sans-serif;
            font-size: 1rem;
            padding-left: 4rem;
            line-height: 1px;
            font-weight: 100;
            color: var(--color-nintendo-gray);
            text-transform: uppercase;
        }

        & .search__title {
            font-family: "iceland", sans-serif;
            align-self: center;
            font-size: 5rem;
            text-align: center;
            font-weight: 500;
            text-shadow: 0 0 2px azure, 0 0 0 var(--color-footer-heading), 0 0 40px var(--color-footer-heading), 0 0 60px var(--color-footer-heading);
            filter: saturate(60%);
            color: var(--color-real-white);
        }

        & .search__text {
            font-family: 'Arima', sans-serif;
            font-weight: 100;
            font-size: 1.5rem;
            color: var(--color-real-white);
            max-width: 400px;
            line-height: 27px;
            padding-left: 2rem;
        }
    }

    & #searchFilters {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 0.5rem;
    
        & #searchFilters__form {
            display: flex;
            flex-direction: column;
            gap: 3rem;
            align-self: center;
    
            & .searchFilters__filters {
                display: flex;
                gap: 3rem;
            }
    
            & #searchInput {
                display: flex;
                align-self: center;
                align-items: center;
                gap: 2rem;
                margin-top: 3rem;
                width: 40rem;

                & .input-wrapper {
                    display: flex;

                    & .material-symbols-outlined {
                        position: relative;
                        left: 2.2rem;
                        align-content: center;
                        color: var(--color-auth-border-bottom);
                        font-size: 1.8rem;
                        z-index: 1;
                    }
                
                    & #searchTitle {
                        font-family: "arima", sans-serif;
                        color: var(--color-real-white);
                        background: var(--color-real-black);
                        border: 1px solid var(--color-auth-border-bottom);
                        padding-left: 2.5rem;
                        border-radius: 9px;
                        font-size: 1.2rem;
                        outline: none;
                        width: 400px;
                    }
                }

                & #searchButton {
                    padding: 0.2rem 0.9rem;
                    font-size: 1.2rem;
                }
            }
        }
    }
}

@media (max-width: 950px) {
    #searchPage {
        & #search-presentation {
            align-self: center;
            padding-left: 0;
        }

        & #searchFilters {
            & #searchFilters__form {
                text-align: center;

                & .searchFilters__filters {
                    flex-direction: column;
                }
            }
        }
    }
}

@media (max-width: 600px) {
    #searchPage {
        & #searchFilters {
            margin-top: 3rem;

            & #searchFilters__form {
                & #searchInput {
                    flex-direction: column;
                    gap: 1rem;

                    & .input-wrapper {
                        & #searchTitle {
                            margin-right: 2rem;
                            width: 300px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 500px) {
    #searchPage {
        & #search-presentation {
            margin-top: 7rem;
            margin-bottom: 0;

            & .search__title {
                font-size: 4rem;
            }

            & .search__text {
                font-size: 1.2rem;
            }
        }
    }
}

@media (max-width: 400px) {
    #searchPage {
        & #search-presentation {
            & .search__title {
                font-size: 3.45rem;
            }
        }
    }
}