#searchPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-black);

    & #searchFilters {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 0.5rem;
        margin-top: 10rem;

        & .searchFilters__title {
            font-family: "iceland", sans-serif;
            align-self: center;
            font-size: 5rem;
            text-align: center;
            margin: 1rem 0;
            font-weight: 500;
            text-shadow: 0 0 30px rgba(255, 52, 10, 0.5);
            color: var(--color-footer-heading);
        }
    
        & #searchFilters__form {
            display: flex;
            flex-direction: column;
            gap: 3rem;
            align-self: center;
    
            & .searchFilters__filters {
                display: flex;
                gap: 3rem;
            }
    
            & #searchInput {
                display: flex;
                align-self: center;
                align-items: center;
                gap: 2rem;
                margin-top: 3rem;
                width: 40rem;

                & .input-wrapper {
                    display: flex;

                    & .material-symbols-outlined {
                        position: relative;
                        left: 2.2rem;
                        align-content: center;
                        color: var(--color-auth-border-bottom);
                        font-size: 1.8rem;
                        z-index: 1;
                    }
                
                    & #searchTitle {
                        font-family: "arima", sans-serif;
                        color: var(--color-real-white);
                        background: var(--color-real-black);
                        border: 1px solid var(--color-auth-border-bottom);
                        padding-left: 2.5rem;
                        border-radius: 9px;
                        font-size: 1.2rem;
                        outline: none;
                        width: 400px;
                    }
                }

                & #searchButton {
                    padding: 0.2rem 0.9rem;
                    font-size: 1.2rem;
                }
            }
        }
    }
}

@media (max-width: 950px) {
    #searchPage {
        & #searchFilters {
            & .searchFilters__title {
                font-size: 4rem;
            }

            & #searchFilters__form {
                text-align: center;

                & .searchFilters__filters {
                    flex-direction: column;
                }
            }
        }
    }
}

@media (max-width: 600px) {
    #searchPage {
        & #searchFilters {
            margin-top: 5rem;

            & .searchFilters__title {
                font-size: 3.2rem;
            }

            & #searchFilters__form {
                & #searchInput {
                    flex-direction: column;
                    gap: 1rem;

                    & .input-wrapper {
                        & #searchTitle {
                            margin-right: 2rem;
                            width: 300px;
                        }
                    }
                }
            }
        }
    }
}