#searchPage {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-black);
    padding: 0;

    & #searchPage-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: flex-start;
        min-width: 100%;
        min-height: 100%;
        margin-top: 10rem;

        & #searchFilters {
            display: flex;
            flex-direction: column;
            padding-bottom: 0.5rem;

            & .searchFilters__title {
                font-family: "rancho", sans-serif;
                align-self: center;
                color: var(--color-footer-heading);
                font-size: 50px;
                font-weight: 500;
                margin: 1rem 0;
            }
        
            & #searchFilters__form {
                display: flex;
                flex-direction: column;
                gap: 3rem;
                align-self: center;
        
                & .searchFilters__filters {
                    display: flex;
                    gap: 3rem;
                }
        
                & #searchInput {
                    display: flex;
                    align-self: center;
                    margin-top: 3rem;
                    gap: 2rem;
                    align-items: center;

                    & .input-wrapper {
                        display: flex;

                        & .material-symbols-outlined {
                            position: relative;
                            left: 2.2rem;
                            align-content: center;
                            color: var(--color-black);
                            font-size: 1.8rem;
                            z-index: 1;
                        }
                    
                        & #searchTitle {
                            font-family: "arima", sans-serif;
                            padding-left: 2.5rem;
                            border-radius: 9px;
                            font-size: 1.2rem;
                            outline: none;
                            width: 400px;
                        }
                    }

                    & #searchButton {
                        padding: 0.2rem 0.9rem;
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }
}

@media (max-width: 950px) {
    #searchPage {
        & #searchPage-wrapper {
            & #searchFilters {
                & #searchFilters__form {
                    text-align: center;

                    & .searchFilters__filters {
                        flex-direction: column;
                    }
                }
            }
        }
    }
}

@media (max-width: 600px) {
    #searchPage {
        & #searchPage-wrapper {
            & #searchFilters {
                & #searchFilters__form {
                    & #searchInput {
                        flex-direction: column;

                        & .input-wrapper {
                            & #searchTitle {
                                margin-right: 2rem;
                                width: 300px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 500px) {
    #searchPage {
        & #searchPage-wrapper {
            margin-top: 5rem;
        }
    }
}