#editGamePage {
    background-image: url("../../../../../assets/backgrounds/nostalgic-nes-controller.webp");
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 500px) {
    #editGamePage {
        padding: 1rem 0;
    }
}