#search {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5rem;

    & .search-result-text {
        padding-bottom: 2rem;
        font-size: 1.1rem;
        color: var(--color-nintendo-gray);
        font-weight: 100;
    }
    
    & .show-pagination-toggle {
        display: flex;
        gap: 1rem;
        width: 93%;
        justify-content: space-between;
        padding-bottom: 1rem;
        padding-top: 1rem;
        border-bottom: 1px solid var(--color-auth-border);
        margin-bottom: 3rem;
    }

    & .invisible {
        width: 10rem;
    }
}

@media (max-width: 900px) {
    #search {    
        & .show-pagination-toggle {
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            gap: 2rem;
        }
    }
}