#search {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5rem;

    & .search-result-text {
        padding-bottom: 2rem;
        font-size: 1.1rem;
        color: var(--color-nintendo-gray);
        font-weight: 100;
    }

    & #games-sort {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        font-family: "arima", sans-serif;

        & #games-sort-label {
            font-weight: 600;
            color: var(--color-real-white);
        }

        & #games-sort-select,
        ::picker(select) {
            appearance: base-select;
            align-items: center;
            width: fit-content;
            font-family: "arima", sans-serif;
            border: 1px solid var(--color-real-white);
            border-radius: 4px;
            cursor: pointer;
            border: none;
            outline: none;

            & .games-sort-select__options {
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                background-color: var(--color-modal-background);
                border: 1px solid var(--color-real-white);
                border-radius: 4px;
            }
        }

        option {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            padding-left: 0.5rem;
            padding-right: 0.5rem;
            width: 200px;
            color: var(--color-real-white);

            &:checked {
                background-color: var(--color-real-black);
            }
        }

        option::checkmark {
            color: var(--color-success);
            font-size: 1.5rem;
        }
    }
    
    & .show-pagination-toggle {
        display: flex;
        gap: 1rem;
        width: 93%;
        justify-content: space-between;
        padding-bottom: 1rem;
        padding-top: 1rem;
        border-bottom: 1px solid var(--color-auth-border);
        margin-bottom: 3rem;
    }
}

@media (max-width: 900px) {
    #search {    
        & .show-pagination-toggle {
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            gap: 2rem;
        }
    }
}