#aboutPage {
    display: flex;
    justify-content: center;
    align-items: center;

    & #timeline-outer {
        padding: 1rem;
        border-radius: 9px;
        min-height: 100vh;
        width: 100%;

        & #timeline-inner {
            display: flex;

            & #timeline-container {
                box-sizing: border-box;
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                transition: opacity 0.25s ease-out;
                transition-delay: 0.25s;
                transform: translateZ(0);
                will-change: opacity;
                pointer-events: none;

                & #image-wrapper {
                    box-sizing: border-box;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    animation: none;
                    transition: all 0.5s ease-in-out;

                    & #backgroundImage {
                        box-sizing: border-box;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-repeat: no-repeat;
                        background-size: cover;
                        transition: all 0.5s ease-in-out;
                    }

                    & .b1983 {
                        background-image: url("/famicom.jpeg");
                        filter: brightness(0.3);
                        transition: all 0.5s ease-in-out;
                    }

                    & .b1985 {
                        background-image: url("/nes-in-gray-carpet.webp");
                        filter: brightness(0.3);
                        transition: all 0.5s ease-in-out;
                    }

                    & .b1986 {
                        background-image: url("/chicago.png");
                        filter: brightness(0.3);
                        transition: all 0.5s ease-in-out;
                        background-position: center;
                    }

                    & .b1987 {
                        background-image: url("/europe_space.png");
                        filter: brightness(0.3);
                        transition: all 0.5s ease-in-out;
                    }

                    & .b1990 {
                        background-image: url("/market.png");
                        filter: brightness(0.3);
                        transition: all 0.5s ease-in-out;
                    }

                    & .b1995 {
                        background-image: url("/lionking.webp");
                        filter: brightness(0.3);
                        transition: all 0.5s ease-in-out;
                        background-position: center;
                    }

                    & .b1997 {
                        background-image: url("/screen.png");
                        filter: brightness(0.3);
                        transition: all 0.5s ease-in-out;
                    }

                    & .b2025 {
                        background-image: url("/nostalgic-nes-controller.webp");
                        filter: brightness(0.3);
                        transition: all 0.5s ease-in-out;
                    }
                }
            }

            & #timeline-years {
                display: flex;
                flex-direction: column;
                gap: 5rem;
                align-items: flex-end;
                justify-content: space-around;
                z-index: 1;
                width: 20%;
                border-right: 1px solid white;
                min-height: 100vh;
                transition: all 0.5s;

                & .timeline-year {
                    display: flex;
                    align-items: center;
                    transition: all 0.5s;

                    &:hover {
                        cursor: pointer;
                    }

                    .hexagon {
                        height: 20px;
                        aspect-ratio: 1/cos(30deg);
                        clip-path: polygon(50% -50%,100% 50%,50% 150%,0 50%);
                        background: var(--color-white);
                        opacity: 0.5;
                        position: relative;
                        right: -12px;
                    }

                    & .timeline-year__title {
                        margin-right: 1rem;
                        font-size: 1rem;
                        transition: all 0.5s;
                    }

                    & .active {
                        font-size: 5rem;
                        transition: all 0.5s;

                        ~ .hexagon {
                            opacity: 1;
                        }
                    }
                }
            }

            & #timeline-text {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                position: relative;
                width: 75%;
                padding-left: 10rem;

                & .timeline-text {
                    display: flex;
                    flex-direction: column;
                    position: fixed;
                    margin-right: 5rem;
                    gap: 0.5rem;
                    animation: 0.5s fadeInRight ease-in-out;

                    & .timeline-text__title {
                        font-size: 3rem;
                        padding-bottom: 1rem;
                    }

                    & .aboutPage__paragraph {
                        font-size: 1.5rem;
                        font-weight: 100;
                        line-height: 1.8rem;
                    }
                }

                & .display-element {
                    display: block;
                }

                & .hidden-element {
                    display: none;
                }
            }
        }
    }
}

@keyframes fadeInRight {
    0% {
        transform: translateX(2%);
        opacity: 0;
    }

    50% {
        opacity: 0.3;
    }

    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

@media (max-width: 700px) {
    #aboutPage {
        & #timeline-outer {
            width: 90%;

            & #timeline-inner {
                & #timeline-text {
                    .aboutPage__paragraph {
                        font-size: 1.4rem;
                    }
                }
            }
        }
    }
}

@media (max-width: 600px) {
    #aboutPage {
        & #timeline-outer {
            width: 95%;

            & #timeline-inner {
                & #timeline-text {
                    .aboutPage__paragraph {
                        font-size: 1.3rem;
                        margin-left: 0;
                        margin-right: 0;
                    }
                }
            }
        }
    }
}

@media (max-width: 500px) {
    #aboutPage {
        & #timeline-outer {
            width: 100%;

            & #timeline-inner {
                & #timeline-text {
                    .aboutPage__paragraph {
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}