#aboutPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 4rem 2rem;
    padding-top: 11rem;
    position: relative;
    background: radial-gradient(circle,rgba(39, 99, 61, 1) -170%, rgba(16, 16, 16, 1) 100%);

    & .about-title {
        color: #ffffff10;
        font-family: "iceland", sans-serif;
        font-size: 2rem;
    }

    & .about-heading,
    & .about-text {
        font-family: poppins, sans-serif;
        text-align: center;
        padding-left: 0.2rem;
        padding-right: 0.2rem;
        font-weight: 400;
        max-width: 40rem;
    }

    & .about-heading {
        color: var(--color-real-white);
        text-transform: uppercase;
        font-size: 2rem;
    }

    & .about-text {
        color: var(--color-text);
        line-height: 28px;
        font-size: 1.2rem;
    }

    & .about-stats {
        display: flex;   
        align-items: center;
        justify-content: space-evenly;
        border-bottom: 1px solid #ffffff14;
        border-top: 1px solid #ffffff14;
        width: 100%;
        min-height: 10rem;
        margin-top: 3rem;
        margin-bottom: 3rem;

        & .about-statistic {
            display: flex;
            flex-direction: column;
            align-items: center;

            & .statistic-value,
            & .statistic-text {
                font-family: poppins, sans-serif;
                text-align: center;
            }

            & .statistic-value {
                font-size: 2rem;
                color: var(--color-heading);
            }

            & .statistic-text {
                font-size: 1rem;
                font-weight: 100;
                color: var(--color-text);
                letter-spacing: 1px;
            }
        }
    }

    & .darken-image-bottom {
        position: absolute;
        bottom: 0;
        height: 11rem;
        width: 100%;
        background: linear-gradient(to bottom, #10101000 0%, #101010FF 80%);
    }
}

@media (max-width: 500px) {
    #aboutPage {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        padding-bottom: 10rem;

        & .about-stats {
            & .about-statistic {
                & .statistic-value {
                    font-size: 1.5rem;
                }
            }
        }
    }
}