/*************************
* Game Card in List View *
**************************/

.gameListEntry {
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 8rem;
    width: 1000px;
    padding: 0.5rem;
    position: relative;
    background-color: #ffffff10;
    border-radius: 4px;

    & .image-modal-show {
        display: flex;
        position: absolute;
        left: 15rem;
        z-index: 10;

        & .gameListEntry-figure__cover {
            width: 15rem;
            height: 20rem;
            border-radius: 9px;
        }
    }

    & .gameListEntry-figure__cover {
        object-fit: cover;
        width: 14rem;
        height: 100%;
        border-radius: 4px;
        cursor: pointer;
    }

    & .gameListEntry-information {
        display: flex;
        flex-direction: column;
        flex: 8;
        gap: 0.5rem;

        & .gameListEntry-title__link {
            font-family: "iceland", sans-serif;
            font-size: 2rem;
            cursor: pointer;
            width: fit-content;
            transition: all 0.5s;

            &:hover {
                filter: brightness(0.5);
                transition: filter 0.5s;
            }
        }

        & .gameListEntry-tags {
            display: flex;
            gap: 1rem;

            & .gameListEntry-tag {
                font-family: "arima", sans-serif;
                font-size: 11px;
                padding: 2px 5px;
                border: 1px solid rgba(255, 255, 255, .2);
                color: #8f98a0;
                border-radius: 3px;
            }
        }

        & .gameListEntry-details {
            display: flex;
            flex-direction: column;

            & .details-section {
                display: flex;
                gap: 0.5rem;

                & .details__heading {
                    color: var(--color-footer-heading);
                    font-size: 1rem;
                    text-transform: uppercase;
                    font-weight: 100;
                }

                & .details-publisher {
                    margin-right: 4px;
                }

                & .details__text {
                    color: #8f98a0;
                    font-size: 1rem;
                    font-weight: 100;
                }
            }
        }
    }

    & .gameListEntry-favourite {
        display: flex;
        width: 3rem;

        & .isFavourite {
            background-image: url("/isFavourite.png");
            background-size: cover;
            border: none;
        }

        & .noFavourite {
            background-image: url("/noFavouriteBeige.png");
            background-size: cover;
            border: none;
        }
  
        & .favouriteButton {
            margin: 0;
            transform: scale(0.5);
            height: 3rem;
            min-width: 3rem;
            align-self: self-end;
            margin-right: 0.8rem;
            margin-bottom: 0.8rem;
            background-color: transparent;
            border: none;

            &:hover {
                opacity: 0.7;
            }
        }
    }
}

@media (max-width: 1050px) {
    .gameListEntry {
        width: 90vw;
    }
}

@media (max-width: 900px) {
    .gameListEntry {
        height: 9rem;

        & .gameListEntry-information {
            & .gameListEntry-title__link {
                font-size: 1.7rem;
            }
        }
    }
}

@media (max-width: 700px) {
    .gameListEntry {
        & .gameListEntry-figure__cover {
            width: 6rem;
        }

        & .gameListEntry-information {
            & .gameListEntry-title__link {
                font-size: 1.7rem;
            }
        }
    }
}

@media (max-width: 500px) {
    .gameListEntry {
        height: fit-content;

        & .gameListEntry-figure__cover {
            display: none;
        }

        & .gameListEntry-favourite {
            width: 2rem;
        }
    }
}