/*************************
* Game Card in List View *
**************************/

.gameListEntry {
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 8rem;
    width: 100%;
    border-top: 1px solid var(--color-list-border);
    padding: 0.5rem;
    position: relative;

    & .image-modal-show {
        display: flex;
        position: absolute;
        left: 15rem;
        z-index: 10;

        & .gameCard-figure__cover {
            width: 15rem;
            height: 20rem;
            border-radius: 9px;
        }
    }

    & .gameCard-figure__cover {
        object-fit: cover;
        width: 14rem;
        height: 100%;
        border-radius: 4px;
        cursor: pointer;
    }

    & .gameCard-information {
        display: flex;
        flex-direction: column;
        flex: 3;

        & .gameCard-title__link {
            font-family: "iceland", sans-serif;
            transition: all 0.5s;
            width: fit-content;

            &:hover {
                cursor: pointer;
                filter: brightness(0.5);
                transition: filter 0.5s;
            }
        }

        & .gameCard-tags {
            display: flex;
            gap: 1rem;

            & .gameCard-tag {
                font-size: 1rem;
                border: 1px solid var(--color-list-border);
            }
        }

        & .gameCard-details {
            display: flex;
            flex-direction: column;

            & .details-section {
                display: flex;
                gap: 0.5rem;

                & .details__heading {
                    color: var(--color-real-white);
                    font-size: 1rem;
                }

                & .details__text {
                    color: var(--color-real-white);
                    font-size: 1rem;
                }
            }
        }
    }

    & .gameCard-favourite {
        display: flex;
        flex-direction: column;
        flex: 1;

        & .favouriteButton {
            height: 3rem;
            width: 2rem;
            margin: 0;
            align-self: center;
            justify-self: flex-end;
            transform: scale(0.7);
        }
    }
}