/*************************
* Game Card in Grid View *
**************************/

.gameCard {
    display: flex;
    flex-direction: column;
    width: 18rem;
    height: 100%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: all 0.3s;

    & .gameCard-figure {
        position: relative;
        border-radius: 9px;

        & .game-favourite {
            display: flex;
            align-items: flex-end;
            gap: 0.2rem;
            position: absolute;
            top: 2rem;
            box-shadow: 0 0 6px 0 var(--color-real-black);
            background-color: #d3deea;
            padding: 0.1rem 0.7rem;

            & > img {
                width: 12px;
            }

            & .game-favourite__text {
                color: var(--color-real-black);
                text-transform: uppercase;
                letter-spacing: 1px;
                font-size: 0.78rem;
                height: 18px;
                line-height: 19px;
                white-space: nowrap;
            }
        }

        & .gameCard-figure__cover {
            width: 100%;
            border-radius: 4px;
            height: 25rem;
        }

        & .gameCard-favourite {
            backdrop-filter: brightness(0.2);
            padding: 0;
            border-radius: 250%;
            position: absolute;
            top: 10px;
            right: 10px;

            & .favouriteButton {
                height: 2.2rem;
                width: 2.2rem;
                margin: 0.35rem;
                min-width: 2.2rem;

                &:hover {
                    transform: none;
                    border-radius: 250%;
                    opacity: 1;
                    filter: brightness(1.5);
                }
            }
        }
    }

    &:hover {
        transition: transform 0.3s ease;
        cursor: pointer;
        filter: brightness(1.35);
        transition: all 0.5s;
    }
}