/*************************
* Game Card in Grid View *
**************************/

.gameCard {
    display: flex;
    flex-direction: column;
    width: 18rem;
    height: 27rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;

    & .gameCard-figure {
        position: relative;
        border-radius: 9px;

        & .game-favourite {
            display: flex;
            align-items: flex-end;
            gap: 0.2rem;
            position: absolute;
            top: 2rem;
            box-shadow: 0 0 6px 0 var(--color-real-black);
            background-color: #d3deea;
            padding: 0.1rem 0.7rem;

            & > img {
                width: 12px;
            }

            & .game-favourite__text {
                color: var(--color-real-black);
                text-transform: uppercase;
                letter-spacing: 1px;
                font-size: 0.78rem;
                height: 18px;
                line-height: 19px;
                white-space: nowrap;
            }
        }

        & .gameCard-figure__cover {
            width: 100%;
            border-radius: 4px;
            height: 24rem;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }

        & .game-title-area {
            position: absolute;
            bottom: 0;
            width: 100%;
            background-color: #101010c0;
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.15s ease-in;

            & .game-title {
                font-family: "iceland", sans-serif;
                color: var(--color-white);
                letter-spacing: 1px;
                padding: 1rem;
            }
        }

        & .dropdown {
            display: flex;
            position: absolute;
            bottom: 0;
            max-height: 8rem;
            transition: max-height 0.15s ease-in;
        }
    }

    & .gameCard-favourite {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        height: 100%;
        border-radius: 4px;
        transition: all 0.3s ease;

        & > h3 {
            color: var(--color-real-white);
            text-transform: uppercase;
            letter-spacing: 1px;
            font-weight: 100;
        }

        & .game-is-favourite {
            color: var(--color-footer-heading);
        }

        &:hover {
            background-color: #ffffff10;
            color: var(--color-white);
            border: 1px solid var(--color-white);
            transition: all 0.3s ease;
        }
    }
}