#gameList {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 80%;

    & li:last-of-type {
        border-bottom: 1px solid var(--color-list-border);
        margin-bottom: 2rem;
    }
}

@media (max-width: 1250px) {
    #gameList {
        width: 90%;
    }
}