/*************************
* Game Card in List View *
**************************/

.gameListEntry {
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 8rem;
    max-width: 1000px;
    width: 100%;
    padding: 0.5rem;
    position: relative;
    background-color: #ffffff10;
    border-radius: 4px;

    & .image-modal-show {
        display: flex;
        position: absolute;
        left: 15rem;
        z-index: 10;

        & .gameListEntry-figure__cover {
            width: 15rem;
            height: 20rem;
            border-radius: 9px;
        }
    }

    & .gameListEntry-figure__cover {
        object-fit: cover;
        width: 14rem;
        height: 100%;
        border-radius: 4px;
        cursor: pointer;
    }

    & .gameListEntry-information {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        flex: 3;

        & .gameListEntry-title__link {
            font-family: "iceland", sans-serif;
            font-size: 2rem;
            cursor: pointer;
            width: fit-content;
            transition: all 0.5s;

            &:hover {
                filter: brightness(0.5);
                transition: filter 0.5s;
            }
        }

        & .gameListEntry-tags {
            display: flex;
            gap: 1rem;

            & .gameListEntry-tag {
                font-family: "arima", sans-serif;
                font-size: 11px;
                padding: 2px 5px;
                border: 1px solid rgba(255, 255, 255, .2);
                color: #8f98a0;
                border-radius: 3px;
            }
        }

        & .gameListEntry-details {
            display: flex;
            flex-direction: column;

            & .details-section {
                display: flex;
                gap: 0.5rem;

                & .details__heading {
                    color: #8f98a0;
                    font-size: 1rem;
                    text-transform: uppercase;
                    font-weight: 100;
                }

                & .details__text {
                    color: #8f98a0;
                    font-size: 1rem;
                    font-weight: 100;
                }
            }
        }
    }

    & .gameListEntry-favourite {
        display: flex;
        flex-direction: column;
        flex: 1;

        & .favouriteButton {
            height: 3rem;
            width: 2rem;
            margin: 0;
            align-self: center;
            justify-self: flex-end;
            transform: scale(0.7);
        }
    }
}