
.toggle {
  --bg-offset: 0%;
  display: flex;
  border-radius: 0.5rem;
  overflow: hidden;
  position: relative;
  background: transparent;
}

.toggle::after {
  content: "";
  width: 50%;
  height: 100%;
  background: #ffffff80;
  position: absolute;
  top: 0;
  left: var(--bg-offset);
  transition: left 0.3s;
}

.toggle > button {
  width: 150px;
  border: none;
  padding: 0.75rem 1.5rem;
  background: transparent;
  cursor: pointer;
}

.toggle > button:not(:last-of-type) {
  border-right: 1px solid #eee;
}
