.userListEntry {
    display: flex;
    justify-content: space-between;
    height: 4rem;
    width: 100%;
    align-items: center;
    border-top: 1px solid var(--color-list-border);
    position: relative;
    font-size: 0.8rem;

    & .userCard-name__heading,
    .userCard-role__heading,
    .userCard-account__heading,
    .userCard-enrolled__heading {
        display: none;
    }

    & .image-modal-show {
        display: flex;
        position: absolute;
        left: 3rem;
        z-index: 10;

        & .listEntry-figure__cover {
            width: 15rem;
            height: 20rem;
            border-radius: 9px;
        }
    }

    & .listEntry-figure__cover {
        width: 2rem;
        height: 2.5rem;

        &:hover {
            cursor: pointer;
        }
    }

    & .userCard-email {
        text-align: left;
        padding-left: 1rem;
        width: 30%;

        & .userCard-email__link {
            transition: all 0.5s;
            width: fit-content;

            &:hover {
                cursor: pointer;
                filter: brightness(0.5);
                transition: filter 0.5s;
            }
        }
    }

    & .userCard-name,
    .userCard-role,
    .userCard-account,
    .userCard-enrolled {
        font-size: 1.2rem;
        font-weight: 100;
        color: var(--color-nintendo-gray);
    }

    & .name-section {
        width: 20%;
    }

    & .role-section {
        width: 10%;
    }

    & .account-section,
    .enrolled-section {
        width: 10%;
    }

    & .enrollment-date {
        margin-right: 0.5rem;
        width: 14vw;
    }
}

@media (max-width: 1100px) {
    .userListEntry {
        display: grid;
        grid-template-columns: 0.8fr 4fr 2fr 2fr;
        grid-template-rows: 2fr 1fr 1fr;
        height: 8rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;

        & a:first-of-type {
            width: fit-content;
        }

        & .userCard-name__heading,
        .userCard-role__heading,
        .userCard-account__heading,
        .userCard-enrolled__heading {
            display: block;
            color: var(--color-footer-heading);
            font-weight: 100;
            font-size: 1rem;
            grid-row: 2;
            width: 100%;
        }

        & .name-section {
            grid-column: 2 / 3;
            padding-left: 4rem;
        }

        & .role-section {
            grid-column: 1 / 2;
        }

        & .account-section {
            grid-column: 3 / 4;
        }

        & .enrolled-section {
            grid-column: 4 / 5;
        }

        & .name-section,
        .role-section,
        .account-section,
        .enrolled-section {
            grid-row: 3;
            width: 100%;
        }

        & .userCard-email {
            grid-column: 2 / 4;
            grid-row: 1;
            width: 100%;
        }
    }
}

@media (max-width: 700px) {
    .userListEntry {
        height: fit-content;
        max-height: 15rem;
        padding-left: 1rem;

        & .userCard-role__heading,
        .userCard-enrolled__heading {
            padding-top: 0.5rem;
        }

        & .name-section,
        .role-section {
            grid-column: 1 / 3;
            align-self: flex-start;
        }

        & .account-section,
        .enrolled-section {
            grid-column: 3 / 5;
            align-self: flex-start;
        }

        & .name-section,
        .account-section {
            grid-row: 2;
            padding-left: 0;
        }

        & .role-section,
        .enrolled-section {
            grid-row: 3;
        }

        & .userCard-title {
            font-size: 1.3rem;
        }
    }
}

@media (max-width: 450px) {
    .userListEntry {
        & .userCard-email {
            font-size: 0.8rem;
        }

        & .userCard-name,
        .userCard-role,
        .userCard-account,
        .userCard-enrolled {
            font-size: 1rem;
        }
    }
}