#fieldSetFrame {
    display: flex;
    background-color: var(--color-black);
    color: var(--color-white);
    border-radius: 8px;
    max-width: 70vw;

    .fieldset {
        display: grid;
        padding: 2rem;
        border: 5px solid;
        margin: 2rem;
        border-color: var(--color-bar-purple);
        border-radius: 8px;
    
        .legend {
            font-size: 3rem;
            text-align: center;
        }
    }
}

@media (max-width: 1350px) {
    #fieldSetFrame {
        max-width: 90vw;
    }
}