#fieldSetFrame {
    display: flex;
    background-color: var(--color-black);
    color: var(--color-white);
    border-radius: 8px;
    max-width: 70vw;

    .fieldset {
        display: grid;
        padding: 2rem;
        border: 5px solid;
        margin: 2rem;
        border-color: var(--color-bar-purple);
        border-radius: 8px;
    
        .legend {
            width: min-content;
            font-size: 2rem;
            text-align: center;
            padding-inline-start: 1rem;
            padding-inline-end: 1rem;
        }
    }
}

@media (max-width: 1350px) {
    #fieldSetFrame {
        max-width: 90vw;
    }
}

@media (max-width: 500px) {
    #fieldSetFrame {
        .fieldset {
            margin: 1rem;
            padding: 1rem;

            .legend {
                font-size: 1rem;
            }
        }
    }
}