/**********************
* Game Card Grid View *
**********************/

.gameCard {
    display: flex;
    flex-direction: column;
    width: 18rem;
    height: 100%;
    transition: all 0.3s;

    .gameCard-figure {
        position: relative;
        border-radius: 9px;

        & .darken-image-bottom {
            position: absolute;
            bottom: 0;
            height: 15rem;
            width: 100%;
            background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 90%);
            border-bottom-left-radius: 9px;
            border-bottom-right-radius: 9px;
        }

        .gameCard-figure__cover {
            width: 100%;
            border-radius: 9px;
            height: 25rem;
        }

        #gameCardTitle {
            display: flex;
            position: absolute;
            bottom: 0;
            width: 85%;
            background: transparent;
            filter: brightness(0.8);
            color: var(--color-white);
            font-size: 1.8rem;
            font-weight: 100;
            margin: 1rem 0 0.5rem 1rem;
        }

        & .gameCard-favourite {
                backdrop-filter: brightness(0.2);
                padding: 0;
                border-radius: 250%;
                position: absolute;
                top: 10px;
                right: 10px;

            & .favouriteButton {
                height: 2.1rem;
                width: 2rem;
                margin: 0.3rem;
                min-width: 2rem;

                &:hover {
                    transform: none;
                    border-radius: 250%;
                    opacity: 1;
                    filter: brightness(1.5);
                }
            }
        }
    }

    &:hover {
        transition: transform 0.3s ease;
        filter: brightness(1.35);
        transition: all 0.5s;
    }
}