/**********************
* Game Card Grid View *
**********************/

.gameCard {
    display: flex;
    flex-direction: column;
    width: 18rem;
    height: 100%;
    transition: all 0.3s;

    .gameCard-figure {
        position: relative;
        border-radius: 9px;

        & .darken-image-bottom {
            position: absolute;
            bottom: 0;
            height: 13rem;
            width: 100%;
            background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 90%);
            border-bottom-left-radius: 9px;
            border-bottom-right-radius: 9px;
        }

        .gameCard-figure__cover {
            width: 100%;
            border-radius: 9px;
            height: 25rem;
        }

        #gameCardTitle {
            display: flex;
            justify-content: space-between;
            position: absolute;
            bottom: 0;
            width: 100%;
            background: transparent;
            
            .gameCardTitle__heading {
                color: var(--color-white);
                font-size: calc(1.5vw + 12px);
                font-weight: 100;
                margin: 1rem 0 1rem 1rem;
                align-content: center;
            }
        }
    }

    &:hover {
        transition: transform 0.3s ease;
        filter: brightness(1.35);
        transition: all 0.5s;
    }
}