.gameCard {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    background-color: var(--color-nintendo-gray);
    width: 18rem;
    height: 100%;

    .gameCard-figure {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;

        .gameCard-figure__cover {
            width: 100%;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            height: 20rem;
        }
    }

    #gameCardTitle {
        display: flex;
        justify-content: space-between;
        height: 100%;
        border-radius: 8px;
        background: linear-gradient(var(--color-nintendo-gray), var(--color-form));
        
        .gameCardTitle__heading {
            color: var(--color-black);
            font-size: calc(1.5vw + 12px);
            font-weight: 100;
            margin: 1rem 0 1rem 1rem;
            align-content: center;
        }
    }

    &:hover {
        transform: scale(1.05);
        transition: transform 0.3s ease;
        filter: brightness(1.35);
    }
}