#passwordInput {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    & .material-symbols-outlined {
        color: var(--color-black);
        font-size: 2rem;
    }

    .password-input {
        display: flex;
        width: 100%;
    
        & input {
            min-width: 100%;
        }
    
        & .material-symbols-outlined {
            position: relative;
            right: 2.5rem;
            align-content: center;
            color: black;
    
            &:hover {
                cursor: pointer;
            }
        }
    }
}

@media (max-width: 550px) {
    #passwordInput {
        gap: 0.1rem;

        & input {
            padding-left: 0.3rem;
        }
    }
}