.password-input {
    display: flex;

    & input {
        min-width: 100%;
    }

    & .material-symbols-outlined {
        position: relative;
        right: 2rem;
        align-content: center;
        color: black;

        &:hover {
            cursor: pointer;
        }
    }
}