#scrollTopButton-wrapper {
    display: flex;
    position: fixed;
    bottom: 1rem;
    align-self: center;
    padding: 1rem;
    background-color: var(--color-white);
    color: var(--color-black);
    border-radius: 50%;

    span {
        font-size: 2rem;
    }
}