.userListEntry {
    display: flex;
    align-items: center;
    gap: 2rem;
    color: var(--color-black);
    border-radius: 8px;
    justify-content: space-between;
    background: linear-gradient(var(--color-nintendo-gray), var(--color-form));

    & .profile-info {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        width: 20vw;

        & .member-name {
            display: flex;
            flex-direction: column;

            & .member-name__email {
                font-size: 1rem;
            }
        }

        & .listEntry-figure {
            align-content: center;
    
            & .listEntry-figure__cover {
                border-radius: 180px;
                margin: 0.2rem;
                margin-left: 0.5rem;
                width: 4rem;
                height: 4rem;
                vertical-align: middle;
            }
        }
    }

    & .admin-role, & .account-inactive {
        border-radius: 9px;
        padding: 0.4rem;
    }

    & .admin-role {
        background-color: #6ebd77c2;
    }

    & .account-inactive {
        background-color: #74171788;
    }

    & .enrollment-date {
        margin-right: 0.5rem;
        width: 14vw;
    }
}

@media (max-width: 1100px) {
    .userListEntry {
        font-size: 0.8rem;
    }
}

@media (max-width: 900px) {
    .userListEntry {
        font-size: 0.7rem;

        & .profile-info {
            width: 45vw;
        }
        
        & .enrollment-date {
            width: 12vw;
        }
    }
}

@media (max-width: 650px) {
    .userListEntry {
        font-size: 0.6rem;
        height: 3rem;

        & .profile-info {
            padding-left: 1rem;
            width: 35vw;

            & .listEntry-figure {
                display: none;
            }

            & .member-name {    
                & .member-name__email {
                    font-size: 0.6rem;
                }
            }
        }
        
        & .enrollment-date {
            width: 12vw;
        }
    }
}

@media (max-width: 500px) {
    .userListEntry {
        font-size: 0.5rem;

        & .profile-info {
            padding-left: 0.5rem;
            width: 20vw;
        }
        
        & .enrollment-date {
            padding-right: 0.5rem;
        }
    }
}