#accountPage {
    background-image: url("../../assets/backgrounds/nes-gaming-set-in-dark.webp");
    display: flex;
    flex-direction: column;
    align-items: center;

    & .accountPage__title {
        margin-top: 3rem;
        font-family: "Arima Madurai", display;
        margin-bottom: 2rem;
    }
}