@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined&family=Playfair+Display");






/******************
* General Styling *
******************/

:root {
    --color-auth-background: rgba(255, 255, 255, .025);
    --color-auth-border: rgba(255, 255, 255, .25);
    --color-auth-border-bottom: #6b6767;
    --color-bar-purple: #701296;
    --color-black: #101010;
    --color-black-light: #2E3028;
    --color-card-light: #F4D9B7;
    --color-footer-heading: #D23C3C;
    --color-form: #D9D9D9;
    --color-link: #064D61;
    --color-link-active: #CC8B21;
    --color-link-background: #62626240;
    --color-list-border: #d23c3c80;
    --color-modal-background: #19251F;
    --color-neon-blue: #3646ff;
    --color-neon-green: #36ff46;
    --color-nintendo-gray: #9D99A0;
    --color-nintendo-gray-light: #ADA8AD;
    --color-real-black: #000000;
    --color-real-white: #fff;
    --color-success: #45ca4e;
    --color-tag-background: #D3D3D3;
    --color-tag-text: #666666;
    --color-warning: #ff3737;
    --color-warning-text: #cb6f6f;
    --color-white: #f0cca4;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
    color: var(--color-white);
    min-height: 100svh;
    position: relative;
    font-family: "blinker", sans-serif;

    main {
        flex: 5;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: var(--color-white);
    text-decoration: none;
}

a:hover, 
button:hover {
    cursor: pointer;
}

input {
    height: 39px;
    font-size: x-large;
    padding-left: 1rem;
    filter: drop-shadow(rgb(0, 0, 0, 0.25) 4px 4px 4px);
}

textarea {
    box-sizing: border-box;
    resize: none;
    min-height: 15rem;
    font-size: 1.2rem;
    margin-top: 1rem;
    padding-top: 0.5rem;
    padding-left: 1rem;
}







/************************
* Common Button Classes *
************************/

.authButton {
    color: var(--color-white);
	transition: all 0.3s;
	position: relative;
    height: 3rem;
    cursor: pointer;
    background: rgba(255, 255, 255, .025);
    backdrop-filter: blur(10px);
    border-radius: 6px;
    border: 1px solid rgba(255, 255, 255, .25);
    text-transform: uppercase;

    & .authButton__text {
        font-size: 1rem;
        font-family: 'arima';
        transition: all 0.3s;
    }

    &:hover {
        border: none;
        filter: brightness(1.4);
    }

    &:disabled {
        filter: brightness(0.5);
        transform: none;
        border: none;

        &:hover {
            cursor: default;
        }
    }
}

.prevButton, 
.nextButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: auto;
    border-radius: 100%;
    border: none;
    background-color: transparent;
    color: var(--color-real-white);
    transition-duration: 0.5s;

    &:disabled {
        filter: brightness(0.2);
        
        & .arrow {
            filter: drop-shadow(0px 0px 0px var(--color-black));
        }

        &:hover {
            cursor: default;
            filter: brightness(0.2);
        }
    }

    & .arrow {
        position: relative;
        height: 0px; 
        width: 0px;
        border: 8px solid;
        filter: drop-shadow(2px 2px 0px var(--color-black));
        border-color: 
            var(--color-real-white)
            var(--color-real-white)
            transparent
            transparent;
        transform: rotate(45deg); 
    }

    & .arrow:before, 
    .arrow:after {
        content: '';
        display: block;
        position: absolute;
        height: 0;
        width: 0;
        border: 5px solid;
        transform-origin: top right;
    }

    & .arrow:before {
        border-color:
            var(--color-real-white)
            transparent
            transparent
            var(--color-real-white);
        top: -1px; 
        right: 0px;
        transform: rotate(45deg); 
    }

    & .arrow:after {
        border-color:
            transparent
            var(--color-real-white)
            var(--color-real-white)
            transparent;
        top: 0px; 
        right: -1px;
        transform: rotate(-45deg);
    }

    &:hover {
        filter: brightness(0.5);

        & .arrow {
            filter: drop-shadow(0 0 0 var(--color-black));
        }
    }
}

.prevButton {
    margin-right: 1rem;

    & .arrow {
        transform: rotate(-135deg); 
    }
}

.nextButton {
    margin-left: 1rem;
}

.closeButton {
    font-family: 'Rancho';
    width: 50px;
    height: 50px;
    overflow: hidden;
    margin: 1rem;
    transition: all 0.5s;

    &:hover {
        cursor: pointer;
        filter: brightness(0.5);
        transition: all 0.5s;
    }

    &::before, &::after {
        content: '';
        position: absolute;
        height: 2px;
        width: 100%;
        top: 50%;
        left: 1px;
        margin-top: -1px;
        background: var(--color-real-white);
        border-radius: 100%;
        height: 4px;
        margin-top: -2px;
    }

    &::before {
        transform: rotate(45deg);
    }
        
    &::after {
        transform: rotate(135deg);
    }
}

@media (max-width: 500px) {
    .closeButton {
        width: 30px;
        height: 30px;
    }
}








/*********************************************
* Styling for messages when submitting forms *
*********************************************/

.message-success, 
.message-failure {
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 10px;
    text-align: center;
    width: fit-content;
    align-self: center;
    padding: 0 0.5rem;
    backdrop-filter: blur(10px);
}

.message-success {
    color: var(--color-success);
    border: 2px solid var(--color-success);
    background-color: hsl(from var(--color-success) h s l / 0.2);
}

.message-failure {
    color: var(--color-warning-text);
    border: 2px solid var(--color-warning);
    background-color: hsl(from var(--color-warning) h s l / 0.2);
}

.message-fade {
    margin-top: 1rem;
}






/******************
* Utility Classes *
******************/

.active {
    color: var(--color-link-active);
}

.box-shadow {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.hidden {
    display: none;
}

.invisible {
    visibility: hidden;
}

.bit-font {
    font: 1.4rem "Press start 2P";
    font-weight: 700;
}

.playfair-display-regular {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}





/*********
* Fading *
*********/

.is-fading {
    animation: fadeout .5s linear forwards;
}

@keyframes fadeout {
    0% { 
        opacity: 1; 
    }

    100% { 
        opacity: 0;
    }
}

.message-fade {
    animation: fade 5s ease-in-out;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    70% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}




/*********
* Modals *
*********/

::backdrop {
    background-image: linear-gradient(
        45deg,
        var(--color-white),
        var(--color-black),
        var(--color-black),
        var(--color-white)
    );
    opacity: 0.75;
}

.modal-dialog {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 90%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    scrollbar-width: none;
    background: linear-gradient(to top right, var(--color-modal-background) 70%, var(--color-black-light));
    overflow: hidden;
    border-color: var(--color-real-white);
    box-shadow: 2px 4px 6px black;

    & .modal-content {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 100%;

        & .modal__title {
            color: var(--color-real-white);
            padding-top: 1rem;
            padding-left: 1rem;
            padding-right: 3rem;
        }

        & .modal__text {
            color: var(--color-real-white);
            font-size: 1rem;
            text-align: left;
            margin: 1rem;
            padding-top: 1rem;
        }

        & .closeButton {
            position: absolute;
            top: 0;
            right: 0;
        }
    }
}




/*************
* Animations *
*************/

@keyframes shimmer {
    100% {
        transform: translateX(100%);
    }
}










/*************************
* Various Input Elements *
*************************/

.input {
    width: 100%;
    border: 1px solid rgba(255, 255, 255, .25);
    position: relative;
    overflow: hidden;
    box-shadow: 0 1px 2px #00000026;
    border-radius: 6px;

    & .form__field {
        width: 100%;
        height: 60px;
        padding-top: 18px;
        font-weight: 300;
        background: rgba(100, 100, 100, .05);
        backdrop-filter: blur(10px);
        color: var(--color-real-white);
        border: none;
        font-size: 1rem;
        letter-spacing: .5px;
        outline: none;
        padding-left: 12px;
        transition: all .2s;
        
        &::placeholder {
            text-transform: uppercase;
        }

        &:hover {
            background: rgba(255, 255, 255, .1);
        }

        &:focus {
            background: rgba(255, 255, 255, .1);
            padding-top: 0;

            ~ .form__field-label {
                opacity: 0;
                transition: all 0.2s;
            }
        }
    }

    & .form__field-label {
        color: var(--color-real-white);
        line-height: 33px;
        text-transform: uppercase;
        font-size: .63rem;
        font-weight: 300;
        position: absolute;
        top: 0;
        left: 0;
        padding: 0 12px;
        transition: all .2s;
    }
}

.input-field,
.react-tel-input {
    background-color: var(--color-real-black);
    border-color: var(--color-real-black);
    color: var(--color-real-white);
    border-style: none;
    appearance: none;
    border-radius: 6px;
    box-shadow: none;
    height: 50px;
    font-size: 1rem;
    transition: all 0.5s;
}

.input-field:focus {
    outline: none;
    border-color: var(--color-real-white);
    box-shadow: inset 0 1px 3px #FFFFFF20, 0 0 10px 1px #FFFFFF80;
    transition: all 0.5s;
}

#password-inputs {
    & #password-requirements,
    #requirements-list {
        color: var(--color-real-white);
        text-transform: uppercase;
        font-size: .7rem;
        padding: 0 12px;
        margin-bottom: 5px;
    }

    & #requirements-list {
        margin-bottom: 10px;
        margin-left: 18px;
    }

    & .input:first-of-type {
        border-radius: 6px 6px 0 0;
        border-bottom: 0.5px solid var(--color-auth-border-bottom);
    }

    & .input:last-of-type {
        border-radius: 0 0 6px 6px;
        border-top: 0;
    }
}

.password-show {
    position: absolute;
    right: 0;
    top: 18px;
    color: var(--color-real-white);
    padding-right: 12px;

    &:hover {
        cursor: pointer;
    }
}








/**********************
* Common Link Classes *
**********************/

.button__link {
    display: flex;
    align-items: center;
    gap: 0.7rem;
    padding: 0.5rem 1rem;
    background-color: var(--color-real-white);
    color: var(--color-black);
    border-radius: 9px;
    font-family: 'Rancho';
    font-size: 1.5rem;
    transition: all 0.35s;

    &:hover {
        filter: invert(1);
        transition: all 0.35s;
        cursor: pointer;
    }
}







/*************************
* Select element styling *
*************************/

.selectSection {
    & .selectSection__title {
        font-weight: 900;
        font-size: 1.2rem;
    }

    & .selectSection__select {
        border: 2px solid var(--color-white);
        outline: 0;
        border-radius: 9px;
        background-color: transparent;
        color: #ffffffa0;
        font-size: 1.2rem;
        padding: 0.3rem;
        font-family: sans-serif;

        & option {
            background-color: var(--color-black);
            color: var(--color-real-white);
        }

        &:hover {
            cursor: pointer;
        }
    }
}

@media (max-width: 400px) {
    .selectSection {
        & .selectSection__select {
            font-size: 0.9rem;
        }
    }
}