

#landingPage {
    background-image: url("../assets/backgrounds/nes-controller-in-black.webp");
    display: flex;
    align-items: center;
    justify-content: center;
}


#heroCard {
    display: flex;
    background-color: var(--color-nintendo-gray);
    border-radius: 8px;
    width: 50rem;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    justify-content: space-between;

    .article {
        display: inline-grid;
        padding: 1rem;
        flex: 1.5;

        .h1 {
            color: var(--color-black);
            font-family: "Silkscreen", sans-serif;
            text-align: center;
            font-size: calc(1vw + 1vh + 2vmin);
            margin: 2rem 0;
        }

        .link {
            font-family: "Single Day", cursive;
            width: fit-content;
            color: var(--color-black);
            font-size: calc(1vw + 2vh + 2vmin);
            font-weight: 500;
            align-self: end;
        }

        .link:hover {
            transform: scale(1.1);
            transition: transform 0.3s ease;
        }
    }

    .figure {
        flex: 1;
        align-content: center;

        .img {
            aspect-ratio: 1 / 1;
            width: 100%;
            border-radius: 100%;
        }
    }
}
