#sitesPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle,rgba(39, 99, 61, 1) -63%, rgba(16, 16, 16, 1) 100%);
    padding: 4rem 2rem;
    padding-top: 11rem;
    position: relative;

    & .sites-title {
        position: absolute;
        top: 0;
        color: #ffffff10;
        font-family: "iceland", sans-serif;
        font-size: 10rem;
        margin-top: 5rem;
    }

    & #sites {
        display: flex;
        width: 100%;
        max-width: 1200px;
        gap: 2rem;
        background: transparent;
        padding-bottom: 10rem;

        & #change-site-content {
            display: flex;
            flex-direction: column;
            max-width: 400px;

            & .sites-heading {
                font-family: "iceland", sans-serif;
                color: var(--color-real-white);
                font-size: 3rem;
                letter-spacing: 1px;
            }

            & .sites-text {
                color: var(--color-nintendo-gray);
                font-size: 1rem;
                margin-bottom: 3rem;
            }

            & .site-content-link {
                display: flex;
                align-items: baseline;
                gap: 1rem;
                font-family: "iceland", sans-serif;
                text-transform: uppercase;
                color: #ffffff50;
                border-bottom: 1px solid #ffffff50;
                padding: 1.5rem 0;
                transition: all 0.5s ease;

                & .number {
                    font-size: 1.5rem;
                }

                & .link-title {
                    font-weight: 100;
                    font-size: 2rem;

                    &:hover {
                        cursor: pointer;
                        color: var(--color-link-active);
                        transition: all 0.5s ease;
                    }
                }
            }

            & .site-content-link:last-of-type {
                border: none;
            }

            .active {
                color: var(--color-link-active);
            }
        }

        & #site-content {
            display: flex;
            flex-direction: column;
            width: 100%;
            background-color: #ffffff10;
            backdrop-filter: blur(10px);
            border-radius: 12px;

            & #site-content-header {
                display: flex;
                justify-content: space-around;
                color: #ffffff40;
                padding: 1.5rem 0;
                background-color: #ffffff0a;
                border-bottom: 1px solid #ffffff20;
                border-top-left-radius: 12px;
                border-top-right-radius: 12px;

                & .content-header-link {
                    width: fit-content;
                    font-size: 1.5rem;
                    font-weight: 100;
                    transition: all 0.5s ease;

                    &:hover {
                        cursor: pointer;
                        color: var(--color-link-active);
                        transition: all 0.5s ease;
                    }
                }
                
                & > hr {
                    border-color: darkgrey;
                    border-right-style: none;
                }

                .active {
                    color: var(--color-link-active);
                }
            }

            & .other-information {
                display: flex;
                flex-direction: column;
                padding: 2rem;
                gap: 2rem;

                & .site-title {
                    font-family: "iceland", sans-serif;
                    color: var(--color-real-white);
                    font-size: 3rem;
                    letter-spacing: 1px;
                }

                & .site-description {
                    color: var(--color-nintendo-gray);
                    font-size: 1.4rem;
                }

                & .button__link {
                    align-self: flex-end;
                    position: absolute;
                    bottom: 0;
                    margin: 2rem;
                }
            }

            & .site-image-link {
                margin: 2rem;
                width: fit-content;
                
                & .site-image {
                    height: 280px;
                    width: 250px;
                }
            }
        }
    }

    & .darken-image-bottom {
        position: absolute;
        bottom: 0;
        height: 6rem;
        width: 100%;
        background: linear-gradient(to bottom, #10101000 0%, #101010FF 80%);
    }
}

@media (max-width: 1000px) {
    #sitesPage {
        & #sites {
            gap: 2rem;

            & #change-site-content {
                & .site-content-link {
                    & > h1 {
                        font-size: 2rem;
                    }
                }
            }

            & #site-content {
                & .other-information {
                    padding-bottom: 6rem;
                }
            }
        }
    }
}

@media (max-width: 700px) {
    #sitesPage {
        & .sites-title {
            font-size: 7rem;
        }

        & #sites {
            flex-direction: column;

            & #site-content {
                & .other-information {
                    padding: 1rem;

                    & .site-description {
                        font-size: 1rem;
                    }

                    & .button__link {
                        position: static;
                        margin: 0;
                    }
                }

                & .site-image-link {
                    margin: 1rem;
                    align-self: center;
                }
            }
        }
    }
}

@media (max-width: 500px) {
    #sitesPage {
        gap: 2rem;
        padding-left: 0.3rem;
        padding-right: 0.3rem;
        
        & .sites-title {
            font-size: 4.7rem;
        }
    }
}