#architecturePage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: radial-gradient(circle,rgba(39, 99, 61, 1) -63%, rgba(16, 16, 16, 1) 100%);
    padding: 4rem 2rem;
    padding-top: 11rem;
    position: relative;

    & .architecture-title {
        position: absolute;
        top: 0;
        color: #ffffff10;
        font-family: "iceland", sans-serif;
        font-size: 10rem;
        margin-top: 5rem;
    }

    & #architecture-introduction {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: wrap;
        gap: 2rem;
        max-width: 1000px;
        padding-bottom: 2rem;

        & .architecture-heading {
            font-family: "iceland", sans-serif;
            color: var(--color-real-white);
            font-size: 3rem;
            letter-spacing: 1px;
        }

        & .architecture-text {
            color: var(--color-nintendo-gray);
            font-size: 1.2rem;
        }
    }

    & .architecture-video {
        margin: 3rem 1rem;
        border-radius: 8px;
        border-left-style: none;
        border-right-style: none;
        z-index: 2;
    }

    & #architecture-articles {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 2;

        & .architecturePage-title {
            font-family: "playfair display", sans-serif;
            font-size: 3rem;
            color: var(--color-real-white);
            letter-spacing: 1px;
            text-align: center;
            font-weight: 100;
        }

        & .architecturePage-title-text {
            font-family: "arima", sans-serif;
            color: var(--color-nintendo-gray);
            font-size: 1.5rem;
            max-width: 900px;
            font-weight: 100;
            border-top: 2px;
            border-style: solid;
            border-image: linear-gradient(to left, #181818, #eee, #181818) 1 0;
            padding-left: 2rem;
            padding-right: 2rem;
            border-bottom: 2px;
            text-align: center;
            padding: 1rem 0.2rem 3rem 0.2rem;
            line-height: 27px;
        }

        & #articles {
            display: flex;
            justify-content: center;
            gap: 3rem;
            flex-wrap: wrap;
        }
    }
}

@media (max-width: 1200px) {
    #architecturePage {
        & .architecture-video {
            width: 95%;
        }
    }
}

@media (max-width: 1000px) {
    #architecturePage {
        & #nes-introduction {
            flex-direction: column;
        }
    }
}

@media (max-width: 700px) {
    #architecturePage {
        & #nes-introduction {
            padding-top: 3rem;
        }

        .nintendo-presentation {
            & .nintendo-presentation__text {
                column-count: 1;
                column-gap: 0;
            }
        }

        & .architecture-video {
            width: 100%;
        }
    }
}

@media (max-width: 500px) {
    #architecturePage {
        & .nintendo-presentation {
            padding: 0;

            & .nintendo-presentation__heading {
                font-size: 1.7rem;
            }
        }

        & #architecture-articles {
            & .architecturePage-title {
                font-size: 2.3rem;
            }

            & .architecturePage-title-text {
                font-size: 1.2rem;
            }
        }
    }
}