#architecturePage {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    background-color: var(--color-black);
    padding: 4rem 1rem;
    position: relative;

    & .background-image {
        position: absolute;
        filter: brightness(0.2);
        top: -3rem;
        height: 100%;
    }

    & #architecture-top {
        display: flex;
        justify-content: center;
        gap: 0.5rem;
        max-height: 30rem;
        position: relative;

        & .architecture-top-left {
            display: flex;
            flex-direction: column;
            flex: 1;
            gap: 0.5rem;

            & .nintendo-presentation {
                display: flex;
                flex-direction: column;
                flex: 2;
                gap: 1.5rem;
                border-radius: 19px;
                background-color: #000000d0;
                padding: 1rem;

                & .nintendo-presentation__heading {
                    font-family: 'Playfair Display', sans-serif;
                    font-size: 2rem;
                    color: var(--color-real-white);
                    text-align: center;
                }

                & .nintendo-presentation__text {
                    color: var(--color-nintendo-gray);
                    font-size: 1.3rem;
                    font-family: "blinker", sans-serif;
                }
            }

            & .nintendo-info {
                display: flex;
                flex: 1;
                gap: 0.5rem;
                border-radius: 19px;
                background-color: #000000d0;
                padding: 0.5rem;

                & .nintendo-info-hardware__list {
                    display: flex;
                    gap: 1rem;
                    list-style-type: none;

                    & .nintendo-info-hardware__list-item {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        gap: 0.3rem;

                        & > h4 {
                            color: var(--color-footer-heading);
                        }
                        
                        & > p {
                            color: var(--color-real-white);
                            text-align: center;
                        }
                    }
                }
            }
        }

        & .architecture-top-right {
            display: flex;
            flex: 1;
            border-radius: 19px;

            & .architecture-image {
                object-fit: cover;
                filter: brightness(0.8);
                width: 100%;
                border-radius: 19px;
            }
        }
    }

    & #architecture-video {
        display: flex;
        flex-direction: column;
        z-index: 2;

        & .architecture-video__heading {
            font-family: 'Playfair Display', sans-serif;
            color: var(--color-real-white);
            font-size: 2rem;
            align-self: center;
        }

        & .architecture-video {
            margin: 1rem;
            border-radius: 8px;
            border-left-style: none;
            border-right-style: none;
            margin-bottom: 3rem;
        }
    }

    & #architecture-articles {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 2;

        & .architecturePage-title {
            font-family: "playfair display", sans-serif;
            font-size: 3rem;
            color: var(--color-real-white);
        }

        & .architecturePage-title-text {
            color: var(--color-tag-text);
            font-size: 2rem;
            font-weight: 100;
            padding-bottom: 2rem;
        }

        & #articles {
            display: flex;
            flex-wrap: wrap;
        }
    }

    & .darken-image-bottom {
        position: absolute;
        bottom: 3rem;
        height: 6rem;
        width: 100%;
        background: linear-gradient(to bottom, #10101000 0%, #101010FF 80%);
    }
}