#architecturePage {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-black);
    padding: 4rem 1rem;

    & #architecture-top {
        display: flex;
        justify-content: center;
        gap: 0.5rem;
        max-height: 30rem;
        position: relative;

        & .architecture-top-left {
            display: flex;
            flex-direction: column;
            flex: 1;
            gap: 0.5rem;

            & .nintendo-presentation {
                display: flex;
                flex: 2;
                border-radius: 19px;
            }

            & .nintendo-info {
                display: flex;
                flex: 1;
                gap: 0.5rem;

                & .nintendo-info-sold {
                    display: flex;
                    flex: 1;
                    border-radius: 19px;
                }

                & .nintendo-info-community {
                    display: flex;
                    flex: 1;
                    border-radius: 19px;
                }
            }
        }

        & .architecture-top-right {
            display: flex;
            flex: 1;
            border-radius: 19px;

            & .architecture-image {
                object-fit: cover;
                filter: brightness(0.4);
                width: 100%;
                border-radius: 19px;
            }
        }
    }

    & .architecturePage-title {
        font-family: "playfair display", sans-serif;
        font-size: 3rem;
        color: var(--color-real-white);
        padding: 1rem;
    }

    & .architecturePage-title-text {
        color: var(--color-tag-text);
        font-size: 2rem;
        font-weight: 100;
    }
}