#architecturePage {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    background-color: var(--color-black);
    padding: 4rem 1rem;

    & #architecture-top {
        display: flex;
        justify-content: center;
        gap: 0.5rem;
        position: relative;

        & .architecture-top-left {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            & .nintendo-presentation {
                display: flex;
                flex-direction: column;
                gap: 1.5rem;
                border-radius: 19px;
                padding: 1rem;
                max-width: 1400px;

                & .nintendo-presentation__heading {
                    font-family: 'Playfair Display', sans-serif;
                    font-size: 2rem;
                    font-weight: 600;
                    color: var(--color-footer-heading);
                    letter-spacing: 1px;
                    padding-top: 2rem;
                }

                & .nintendo-presentation__text {
                    font-family: "arima", sans-serif;
                    color: var(--color-real-white);
                    font-size: 1.3rem;
                    line-height: 1.7rem;
                }
            }

            & .nintendo-info {
                display: flex;
                flex-direction: column;
                align-content: center;
                flex-wrap: wrap;
                gap: 1rem;

                & .nintendo-info-sold,
                .nintendo-info-other {
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                    color: var(--color-real-white);
                    border-radius: 19px;
                    padding: 1rem;
                    flex: 1;
                    min-width: 330px;

                    & h2 {
                        font-family: 'Playfair Display', sans-serif;
                        font-size: 2.3rem;
                    }

                    & p {
                        font-size: 1.5rem;
                        color: var(--color-nintendo-gray);
                        font-style: italic;
                        font-weight: 100;
                    }

                    & > img {
                        width: 140px;
                        border: 2px solid var(--color-footer-heading);
                        padding: 1rem;
                        border-radius: 100%;
                        border-block: none;
                    }
                }

                & .nintendo-info-other {
                    justify-content: center;
                    padding-left: 5rem;
                }
            }
        }

        & .architecture-top-right {
            display: flex;
            border-radius: 19px;
            position: relative;
            
            & .architecture-image {
                object-fit: cover;
                filter: brightness(0.8);
                width: 100%;
                max-height: 32rem;
                border-radius: 19px;
            }
        }

        & .architecture-top-right::after {
            content: "";
            position: absolute;
            inset: 0;
            box-shadow: inset 0 0 16px 15px #101010f0;
            border-radius: 17px;
        }
    }

    & .architecture-video {
        margin: 3rem 1rem;
        border-radius: 8px;
        border-left-style: none;
        border-right-style: none;
        z-index: 2;
    }

    & #architecture-articles {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 2;

        & .architecturePage-title {
            font-family: "playfair display", sans-serif;
            font-size: 3rem;
            color: var(--color-real-white);
            letter-spacing: 1px;
            text-align: center;
        }

        & .architecturePage-title-text {
            font-family: "arima", sans-serif;
            color: var(--color-nintendo-gray);
            font-size: 1.5rem;
            max-width: 900px;
            font-weight: 100;
            padding-bottom: 2rem;
            border-top: 2px;
            border-style: solid;
            border-image: linear-gradient(to left, #181818, #eee, #181818) 1 0;
            padding-left: 2rem;
            padding-right: 2rem;
            border-bottom: 2px;
            text-align: center;
        }

        & #articles {
            display: flex;
            justify-content: center;
            gap: 3rem;
            flex-wrap: wrap;
        }
    }

    & .darken-image-bottom {
        position: absolute;
        bottom: 3rem;
        height: 6rem;
        width: 100%;
        background: linear-gradient(to bottom, #10101000 0%, #101010FF 80%);
    }
}

@media (max-width: 1200px) {
    #architecturePage {
        & .architecture-video {
            width: 95%;
        }
    }
}

@media (max-width: 1000px) {
    #architecturePage {
        & #architecture-top {
            flex-direction: column-reverse;
            max-height: fit-content;
        }
    }
}

@media (max-width: 600px) {
    #architecturePage {
        & .architecture-video {
            width: 100%;
        }

        & #architecture-top {
            & .architecture-top-left {
                & .nintendo-info {
                    & .nintendo-info-other,
                    .nintendo-info-sold {
                        padding-left: 0;
                        justify-content: flex-start;
                    }
                }
            }
        }
    }
}

@media (max-width: 500px) {
    #architecturePage {
        & #architecture-articles {
            & .architecturePage-title {
                font-size: 2.3rem;
            }

            & .architecturePage-title-text {
                padding-right: 0.2rem;
                padding-left: 0.2rem;
                line-height: 27px;
                padding-top: 1rem;
            }
        }
    }
}