#architecturePage {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    background-color: var(--color-black);
    padding: 4rem 1rem;

    & #nes-introduction {
        display: flex;
        align-items: center;
        gap: 4rem;
        padding-top: 5rem;

        & .nes-introduction__content {
            display: flex;
            flex-direction: column;

            & .nes-introduction__subheading {
                font-family: 'Arima', sans-serif;
                font-weight: 100;
                font-size: 1.2rem;
                line-height: 1px;
                color: var(--color-nintendo-gray);
            }

            & .nes-introduction__heading {
                font-family: 'Playfair Display', sans-serif;
                font-size: 2.7rem;
                font-weight: 300;
                color: var(--color-real-white);
            }
        }

        & .architecture-figure {
            display: flex;
            align-self: flex-end;
            height: auto;
            max-width: 40rem;

            & > img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    & .nintendo-presentation {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        border-radius: 19px;
        padding: 2rem;
        max-width: 1200px;
        background-color: #00000050;

        & .nintendo-presentation__heading {
            align-self: center;
            font-family: 'Playfair Display', sans-serif;
            font-size: 2rem;
            font-weight: 600;
            color: var(--color-footer-heading);
            letter-spacing: 1px;
        }

        & .nintendo-presentation__text {
            font-family: "arima", sans-serif;
            color: var(--color-real-white);
            font-size: 1.3rem;
            line-height: 1.7rem;
            column-count: 2;
            column-gap: 2rem;
        }
    }

    & .architecture-video {
        margin: 3rem 1rem;
        border-radius: 8px;
        border-left-style: none;
        border-right-style: none;
        z-index: 2;
    }

    & #architecture-articles {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 2;

        & .architecturePage-title {
            font-family: "playfair display", sans-serif;
            font-size: 3rem;
            color: var(--color-real-white);
            letter-spacing: 1px;
            text-align: center;
        }

        & .architecturePage-title-text {
            font-family: "arima", sans-serif;
            color: var(--color-nintendo-gray);
            font-size: 1.5rem;
            max-width: 900px;
            font-weight: 100;
            padding-bottom: 2rem;
            border-top: 2px;
            border-style: solid;
            border-image: linear-gradient(to left, #181818, #eee, #181818) 1 0;
            padding-left: 2rem;
            padding-right: 2rem;
            border-bottom: 2px;
            text-align: center;
        }

        & #articles {
            display: flex;
            justify-content: center;
            gap: 3rem;
            flex-wrap: wrap;
        }
    }

    & .darken-image-bottom {
        position: absolute;
        bottom: 3rem;
        height: 6rem;
        width: 100%;
        background: linear-gradient(to bottom, #10101000 0%, #101010FF 80%);
    }
}

@media (max-width: 1200px) {
    #architecturePage {
        & .architecture-video {
            width: 95%;
        }
    }
}

@media (max-width: 1000px) {
    #architecturePage {
        & #nes-introduction {
            flex-direction: column;
        }
    }
}

@media (max-width: 700px) {
    #architecturePage {
        & #nes-introduction {
            padding-top: 3rem;
        }

        .nintendo-presentation {
            & .nintendo-presentation__text {
                column-count: 1;
                column-gap: 0;
            }
        }

        & .architecture-video {
            width: 100%;
        }
    }
}

@media (max-width: 500px) {
    #architecturePage {
        & .nintendo-presentation {
            & .nintendo-presentation__heading {
                font-size: 1.7rem;
            }
        }

        & #architecture-articles {
            & .architecturePage-title {
                font-size: 2.3rem;
            }

            & .architecturePage-title-text {
                padding-right: 0.2rem;
                padding-left: 0.2rem;
                line-height: 27px;
                padding-top: 1rem;
            }
        }
    }
}