#heroCard {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    width: 50rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    & .heroCard__link {
        position: relative;

        .heroCard-wrapper {
            overflow: hidden;
    
            .heroCard__figure-cover {
                object-fit: cover;
                width: 100%;
                transition: all 3s;
        
                &:hover {
                    transform: scale(1.1);
                    transition: transform 3s;
                }
            }
        }
    
        .heroCard__title {
            position: absolute;
            font-size: 1.8rem;
            font-weight: 100;
            letter-spacing: 0.05rem;
            margin-left: 2rem;
            bottom: 2rem;
            backdrop-filter: brightness(0.2);
            padding: 0.5rem 1rem;
            border-radius: 50px;
        }
    }
}

@media (max-width: 700px) {
    #heroCard {
        & .heroCard__link {
            .heroCard-wrapper {
                .heroCard__figure-cover {
                    min-height: 35rem;
                }
            }
    
            .heroCard__title {
                display: none;
            }
        }
    }
}