.landingCard {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-wrap: wrap;
    max-width: 30rem;
    border: 1px solid var(--color-auth-border);
    padding: 1rem;
    background: #ffffff0f;
    backdrop-filter: blur(24px);
    border-radius: 20px;
    box-shadow: inset 0 0 10px var(--color-white);
    position: relative;

    & .landingCard-heading {
        font-family: "iceland", sans-serif;
        color: var(--color-real-white);
        font-weight: 900;
        font-size: 3.5rem;
        font-style: italic;
        color: var(--color-footer-heading);
        position: absolute;
        top: -23px;
        left: 30%;
        transform: skewY(-6deg);
        -webkit-text-stroke-width: 3px;
        -webkit-text-stroke-color: var(--color-list-border);
        text-shadow: 3px 3px 2px #000, -3px 3px 2px #000, -3px -3px 0 #000, 3px -3px 0 #000;
    }

    & .landingCard-text {
        font-family: "iceland", sans-serif;
        align-self: center;
        text-align: left;
        color: var(--color-real-white);
        font-size: 1.5rem;
        font-weight: 100;
        padding-bottom: 1rem;
        padding-top: 1.5rem;
        letter-spacing: 1px;
    }
}

@media (max-width: 500px) {
    .landingCard {
        max-width: 90vw;
    }
}