#landingSelection {
    display: flex;
    flex-direction: column;
    background-color: #00000080;
    border-radius: 14px;
    padding: 1rem;

    & #landing-selection-top {
        display: flex;
        padding-bottom: 3rem;

        & #landing-selection-list {
            display: flex;
            flex-direction: column;

            & .landing-selection-list__item {
                display: flex;
                align-items: center;
                gap: 0.5rem;
                cursor: pointer;
                width: fit-content;
                list-style: none;
                color: #666666a0;
                position: relative;
                transition: color 0.3s ease-in-out;

                & .item-title {
                    font-family: "iceland", sans-serif;
                    font-size: 3rem;
                    font-weight: 100;
                    transition: all 0.3s ease-in-out;
                }

                & .item-arrow {
                    display: none;
                    animation: fadeout 2s ease-in-out;
                }

                &:hover {
                    color: var(--color-real-white);
                    transition: color 0.3s ease-in-out;
                }
            }

            & .active {
                color: var(--color-real-white);

                & .item-arrow {
                    display: block;
                    opacity: 1;
                    font-size: 2.5rem;
                    position: absolute;
                    transition: all 1s ease-in-out;
                    animation: fadeout 1s reverse ease-in-out;
                }

                & .item-title {
                    transform: translateX(40);
                    transition: transform 1s ease-in-out;
                }
            }
        }

        & #landing-selection-text {
            font-family: "blinker", sans-serif;
            font-size: 1.5rem;
            color: var(--color-real-white);
            padding-left: 5rem;
        }
    }

    & #newsCards {
        display: flex;
        align-self: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 2rem;
    }
}