#newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 4rem 2rem 5rem 2rem;
    width: 100%;

    & .newsletter-heading {
        font-family: Playfair Display, sans-serif;
        font-size: 2.5rem;
        text-transform: uppercase;
        color: var(--color-real-white);
        letter-spacing: 4px;
        font-weight: 100;
    }

    & .newsletter-text {
        font-family: poppins, sans-serif;
        font-weight: 400;
        font-size: 1.3rem;
        line-height: 28px;
        color: var(--color-heading);
        text-align: center;
    }

    & #newsletterSignup {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

        & #subscribeEmail {
            font-size: 1rem;
            outline: none;
            font-family: "arima", serif;
            text-align: center;
            color: var(--color-real-white);
            background: transparent;
            border: 1px solid var(--color-auth-border-bottom);
            border-left: 0;
            border-right: 0;
            border-radius: 0;
            padding-left: 0;
            width: 400px;

            &::placeholder {
                text-align: center;
            }
        }

        & .navigation-link {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;
            border: 2px solid var(--color-white);
            color: var(--color-white);
            cursor: pointer;
            width: fit-content;
            height: 3rem;
            line-height: 24px;
            padding: 0 17px;
            text-align: center;
            text-transform: uppercase;
            font-family: "rancho", sans-serif;
            font-size: 1rem;
            font-weight: 600;
            background: transparent;
            letter-spacing: 3px;
            border-radius: 88px;

            &:active {
                filter: brightness(0.7);
            }
        }
    }

    & .message-success,
    & .message-failure {
        max-width: 80vw;
        margin: 0.4rem;
        position: absolute;
        bottom: 3rem;
        white-space: nowrap;
        z-index: 50;
    }
}

@media (max-width: 420px) {
    #newsletter {
        & .newsletter-text {
            font-size: 1.2rem;
        }

        & #newsletterSignup {
            & #subscribeEmail {
                width: 280px;
            }
        }
    }
}