.news-card {
    display: flex;
    flex-direction: column;
    background-color: var(--color-real-black);
    border-radius: 9px;
    width: 50rem;
    height: 20rem;
    position: relative;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    & img {
        height: 100%;
        object-fit: cover;
        width: 80%;
        border-bottom-left-radius: 9px;
        border-top-left-radius: 9px;
    }

    & .darken-image-right {
        position: absolute;
        right: 20%;
        width: 6rem;
        height: 100%;
        background: linear-gradient(to right, #10101000 0%, #000 80%);
        z-index: 1;
    }

    & .news-card-text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: absolute;
        right: 0;
        top: 1.5rem;
        bottom: 1.5rem;
        width: 60%;
        background-color: var(--color-real-black);
        padding: 1rem;
        border-right: 2px solid var(--color-link-active);
        border-radius: 9px;
        z-index: 2;

        & .news-card-title {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            & .news-date {
                color: var(--color-footer-heading);
                font-size: 1.2rem;
                white-space: nowrap;
            }

            & .news-heading {
                font-family: "iceland", sans-serif;
                color: var(--color-real-white);
                font-size: 1.8rem;
                padding-right: 0.2rem;
            }
        }

        & .news-text {
            color: var(--color-nintendo-gray);
            font-size: 1.2rem;
            font-weight: 100;
        }

        & .news-read-button {
            display: flex;
            align-items: center;
            background-color: var(--color-black);
            border: 2px solid var(--color-real-white);
            color: var(--color-real-white);
            cursor: pointer;
            width: fit-content;
            height: 3rem;
            justify-content: center;
            line-height: 24px;
            padding: 0 17px;
            text-align: center;
            text-transform: uppercase;
            font-family: "rancho", sans-serif;
            font-size: 1rem;
            font-weight: 600;
            letter-spacing: 1px;
        }
    }
}

@media (max-width: 850px) {
    .news-card {
        width: 95vw;

        & .news-card-text {
            width: 70%;
        }
    }
}

@media (max-width: 650px) {
    .news-card {
        height: fit-content;

        & img {
            display: none;
        }

        & .darken-image-right {
            display: none;
        }

        & .news-card-text {
            height: 100%;
            width: 100%;
            position: static;
            gap: 1rem;
            
        }

        & .news-read-button {
            align-self: center;
        }
    }
}