#suggestion-search {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
    border-radius: 4px;
    background-color: var(--color-auth-border);

    & #gameSearch {
        border-radius: 8px;
        outline: none;
        font-size: 1.2rem;
        width: 500px;
    }

    & #viewButton {
        padding: 0.2rem 0.9rem;
    }
}