#suggestion-search {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
    border-radius: 4px;
    background-color: var(--color-auth-border);

    & #gameSearch {
        font-family: "arima", sans-serif;
        border-radius: 8px;
        outline: none;
        font-size: 1.2rem;
        width: 500px;
    }

    & #viewButton {
        padding: 0.2rem 0.9rem;
        margin-bottom: 0;
    }
}

@media (max-width: 650px) {
    #suggestion-search {
        flex-direction: column;
        padding-top: 1rem;
        gap: 0.5rem;

        & #gameSearch {
            font-size: 1rem;
            max-width: 380px;
        }
    }
}

@media (max-width: 400px) {
    #suggestion-search {
        & #gameSearch {
            font-size: 0.9rem;
            width: 280px;
        }
    }
}