#suggestion-search {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
    border-radius: 4px;
    width: 45rem;

    & #gameSearch {
        font-family: "arima", sans-serif;
        color: var(--color-real-white);
        background: var(--color-real-black);
        border: 1px solid var(--color-auth-border-bottom);
        border-radius: 8px;
        outline: none;
        font-size: 1.2rem;
        width: 500px;
    }

    & #viewButton {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        font-family: 'Rancho', sans-serif;
        background-color: transparent;
        min-height: 40px;
        line-height: 20px;
        border: 2px solid rgba(251, 251, 251, 0.65);
        padding: 0.2rem 0.8rem 0.2rem 1rem;
        font-size: 1rem;
        border-radius: 22px;
        color: #fbfbfb;
        transition: all 0.3s ease;

        & > img {
            padding-left: 0;
            transition: all 0.3s ease;
        }

        &:hover {
            & > img {
                padding-left: 1rem;
                transition: all 0.3s ease;
            }
        }
    }
}

@media (max-width: 700px) {
    #suggestion-search {
        flex-direction: column;
        width: fit-content;
        padding-top: 1rem;
        gap: 0.5rem;

        & #gameSearch {
            font-size: 1rem;
            max-width: 380px;
        }
    }
}

@media (max-width: 400px) {
    #suggestion-search {
        & #gameSearch {
            font-size: 0.9rem;
            width: 280px;
        }
    }
}