#suggestion-search {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
    border-radius: 4px;
    width: 45rem;

    & #gameSearch {
        font-family: "arima", sans-serif;
        color: var(--color-real-white);
        background: var(--color-real-black);
        border: 1px solid var(--color-auth-border-bottom);
        border-radius: 8px;
        outline: none;
        font-size: 1.2rem;
        width: 500px;
    }
}

@media (max-width: 700px) {
    #suggestion-search {
        flex-direction: column;
        width: fit-content;
        padding-top: 1rem;
        gap: 0.5rem;

        & #gameSearch {
            font-size: 1rem;
            max-width: 380px;
        }
    }
}

@media (max-width: 400px) {
    #suggestion-search {
        & #gameSearch {
            font-size: 0.9rem;
            width: 280px;
        }
    }
}