#membersPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../../../../assets/backgrounds/account_wallpaper.png");

    #heading {
        display: flex;
        align-items: center;
        gap: 2rem;

        & .title {
            font-size: 3rem;
            font-weight: 300;
            margin-right: 10rem;
        }

        & .search-members {
            display: flex;

            > input {
                padding-left: 2.5rem;
            }

            & .material-symbols-outlined {
                position: relative;
                left: 2.2rem;
                align-content: center;
                color: var(--color-black);
                font-size: 1.8rem;
                z-index: 1;
            }
        }

        & .add-member__button {
            width: fit-content;
            padding: 0.5rem 1rem;
        }
    }

    #members-list {
        display: flex;
        flex-direction: column;
        margin-top: 3rem;
        gap: 1rem;

        & .members-list__heading {
            display: flex;
            justify-content: space-between;

            & .members-list__heading-name {
                width: 20vw;
                padding-left: 5rem;
            }

            & .members-list__heading-joined {
                width: 14vw;
            }
        }
    }
}

@media (max-width: 1300px) {
    #membersPage {
        #heading {
            margin-left: 2rem;

            & .title {
                margin-right: 3rem;
            }

            & .search-members > input {
                width: 13rem;
                font-size: 1rem;
            }

            & .add-member__button {
                font-size: 1rem;
            }
        }
    }
}

@media (max-width: 1000px) {
    #membersPage {
        #heading {
            flex-wrap: wrap;
            justify-content: center;
            gap: 1.5rem;
        }
    }
}

@media (max-width: 650px) {
    #membersPage {
        .members-list__heading > h2 {
            font-size: 1rem;
        }
    }
}