#settingsPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-black);
    min-height: 90vh;
    padding-top: 10rem;
    padding-bottom: 5rem;
    gap: 4rem;
}

@media (max-width: 700px) {
    #settingsPage {
        padding-top: 5rem;
        align-items: flex-end;
        padding-right: 1rem;

        .message-success, .message-failure {
            font-size: 1rem;
            text-align: center;
            margin-left: 3rem;
        }
    }
}

@media (max-width: 400px) {
    #settingsPage {
        padding-right: 0.5rem;
    }
}