#filtersPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-black);
    min-height: 90vh;
    padding-top: 10rem;
    padding-bottom: 5rem;
}

@media (max-width: 500px) {
    #filtersPage {
        padding-top: 5rem;
        align-items: flex-end;
    }
}