#forgotPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: fixed;
    background-image: url("../../../assets/backgrounds/nes-gaming-set-in-dark.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
}