#forgotPage {
    display: flex;
    align-items: center;
    justify-content: center;
    background: fixed;
    background-image: url("/nes-gaming-set-in-dark.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;

    & #forgotPage-modal {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        max-width: 400px;
        height: fit-content;
        margin: 0 auto;

        & #forgotPage-modal-back {
            align-self: flex-start;

            & .forgotPage-link {
                display: flex;
                align-items: flex-start;
                gap: 0.2rem;
                transition: all 0.5s;

                & .material-symbols-outlined {
                    font-size: 1rem;
                    align-self: center;
                }

                & .forgotPage-link__text {
                    font-family: "iceland", sans-serif;
                    align-self: center;
                    font-weight: 600;
                    font-size: 1.2rem;
                }

                &:hover {
                    filter: brightness(1.2);
                }
            }
        }

        & #forgotPage-form {
            align-content: center;
            justify-items: center;
            border-radius: 9px;
            width: 400px;
        }
    }
}

@media (max-width: 430px) {
    #forgotPage {
        align-items: flex-start;

        & #forgotPage-modal {
            padding-top: 5rem;

            & #forgotPage-form {
                width: 95vw;
            }
        }

        .message-failure, 
        .message-success {
            font-size: 1.1rem;
        }
    }
}