#forgotPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: fixed;
    background-image: url("../../../assets/backgrounds/nes-gaming-set-in-dark.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;

    & #forgotPage-modal {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        max-width: 400px;
        height: fit-content;
        margin: 0 auto;

        & #forgotPage-modal-back {
            align-self: flex-start;

            & .forgotPage-link {
                display: flex;
                align-items: flex-start;
                font-family: sans-serif;
                gap: 0.2rem;
                transition: all 0.5s;

                & .material-symbols-outlined {
                    font-size: 1rem;
                    align-self: center;
                }

                & .forgotPage-link__text {
                    align-self: center;
                    font-weight: 100;
                    font-size: 1.1rem;
                }

                &:hover {
                    filter: brightness(1.2);
                }
            }
        }

        & #forgotPage-form {
            align-content: center;
            justify-items: center;
            border-radius: 9px;
            width: 400px;
        }
    }
}

@media (max-width: 750px) {
    #forgotPage {
        padding: 1rem;
        align-items: flex-start;

        & #forgotPage-modal {
            display: flex;
            position: relative;
            min-height: 70vh;
            padding-top: 4rem;
            min-height: fit-content;

            & #forgotPage-modal-back {
                display: contents;

                & .forgotPage-link {
                    top: 1rem;
                    right: 1rem;
                }
            }

            & #forgotPage-form {
                width: 100%;
            }
        }
        
        .message-failure, 
        .message-success {
            font-size: 1.5rem;
        }
    }
}