#gameDetailsCard {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;

    & #game-cover-tags {
        display: flex;
        border-radius: 9px;

        & #cover-wrapper {
            position: relative;
            background-color: #ffffff10;
            margin-left: 4rem;
            height: 250px;
            width: 300px;
            border-radius: 24px;
            z-index: 5;

            & .gameDetailsCard-image {
                position: absolute;
                width: 150px;
                height: 200px;
                left: 25%;
                top: -2.5rem;
                border-radius: 10px;
            }

            & .button__link {
                position: absolute;
                bottom: 1.5rem;
                left: 25%;
            }
        }

        & #gameDetails {
            display: flex;
            flex-direction: column;
            padding: 0 2rem;
            gap: 0.5rem;
            max-width: 70%;
            z-index: 15;

            & #titleLink {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 3rem;
            }

            & #gameDetailsCard__description {
                display: flex;
                flex-direction: column;
                font-size: 1.1rem;
                white-space-collapse: preserve-breaks;
                text-align: left;
                padding-bottom: 2rem;
                font-family: "Playfair Display", serif;
                color: var(--color-real-white);
                font-weight: 400;
                
                & .gameDetailsCard__description-paragraph {
                    margin-top: 1rem;
                }
            }

            & .gameDetails__title {
                color: var(--color-footer-heading);
                font-size: 2.8rem;
                letter-spacing: 2px;
                font-family: 'Rancho', sans-serif;
                font-weight: 100;
            }

            & .button__link {
                width: fit-content;
                height: fit-content;
            }
        }
    }

    & .metadata-cards {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        justify-content: center;
        padding-top: 3rem;

        & .Released {
            background-image: url("/released.webp");
        }

        & .Publisher {
            background-image: url("/publisher.webp");
        }

        & .Players {
            background-image: url("/players.webp");
        }

        & .Category {
            background-image: url("/category.webp");
        }

        & .Developer {
            background-image: url("/developer.webp");
        }

        & .metadata-card {
            background-size: cover;
            background-position: bottom;
            position: relative;
            height: 330px;
            width: 250px;
            z-index: 10;
            border-radius: 9px;

            & #metadata-information {
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 50%;
                border-bottom-left-radius: 9px;
                border-bottom-right-radius: 9px;
                background-color: #ffffff50;
                backdrop-filter: blur(10px);
                color: var(--color-black);

                & .metadata-type {
                    font-size: 1.1rem;
                    align-self: center;
                    letter-spacing: 1px;
                    padding-top: 0.3rem;
                    font-weight: 100;
                }

                & .metadata-description {
                    padding: 1rem 0.5rem;
                }
            }
        }
    }
}

@media (max-width: 1150px) {
    #gameDetailsCard {
        & #game-cover-tags {
            flex-direction: column;

            & #gameDetails {
                width: 100%;
                max-width: 100%;
                padding-top: 2rem;
            }
        }
    }
}

@media (max-width: 500px) {
    #gameDetailsCard {
        & #game-cover-tags {
            & #cover-wrapper {
                display: none;
            }

            & #gameDetails {
                width: 100%;
                max-width: 100%;
                padding-top: 2rem;

                & #titleLink {
                    flex-direction: column;
                    gap: 1rem;
                    margin-bottom: 2rem;
                }
            }
        }
    }
}

@media (max-width: 400px) {
    #gameDetailsCard {
        & #game-cover-tags {
            & #gameDetails {
                padding: 0px 1rem;
            }
        }
    }
}