.pagination {
    display: flex;
    margin-bottom: 2rem;
    margin-top: 2rem;
    gap: 1rem;
    align-items: center;

    .pagination-page__text {
        display: flex;
        gap: 1rem;
        font-size: 30px;
        font-weight: 600;

        .pagination-page__number {
            font-weight: 100;
        }
    }
}