#searchForm {
    display: flex;
    flex-direction: column;
    
    .searchForm__title {
        font-size: 50px;
        font-weight: 500;
        margin: 1rem 0;
        align-self: center;
    }

    #searchFilters {
        display: flex;
        gap: 3rem;
        align-self: center;
    }
}
