#dashboardPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-black);
    min-height: 90vh;
    padding: 10rem 1rem 5rem;

    & .user-information {
        color: var(--color-footer-heading);
        margin-bottom: 3rem;
        width: 100%;
        text-align: right;
    }
}

@media (max-width: 700px) {
    #dashboardPage {
        .message-success, .message-failure {
            font-size: 1rem;
            text-align: center;
            margin-left: 3rem;
        }
    }
}

@media (max-width: 400px) {
    #dashboardPage {
        padding: 1rem;
        padding-top: 5rem;
    }
}