.articleCard {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 1px solid var(--color-real-white);
    border-radius: 9px;
    padding: 1rem;
    background-color: var(--color-black);
    max-width: 320px;
    cursor: pointer;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    & .article-image {
        width: 300px;
        border-radius: 9px;
        height: 260px;
        object-fit: cover;
        padding: 0;
        align-self: center;
    }

    & #article-tags {
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;

        & .article-tag {
            color: var(--color-real-white);
            border: 1px solid var(--color-real-white);
            width: fit-content;
            padding: 0.2rem 0.5rem;
            border-radius: 20px;
        }
    }

    & .article-title {
        font-family: 'Playfair Display', sans-serif;
        color: var(--color-footer-heading);
    }

    & .article-text {
        color: var(--color-nintendo-gray);
    }
}