.faq {
    display: flex;
    flex-direction: column;
    width: 50rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid #f0cca430;

    & .faq-card {
        display: flex;
        gap: 2rem;
        justify-content: space-between;
        align-items: center;

        & .faq-card-text {
            display: flex;
            gap: 2rem;
            align-items: center;

            & .faq-card__question {
                font-size: 1.5rem;
                font-weight: 400;
                text-align: left;
            }
        }

        & .faq-open {

        }

        & .faq-closed {

        }
    }

    & .accordion-panel {
        display: flex;
        max-height: 0;
        overflow: hidden;

        & .accordion__text {
            font-size: 1.15rem;
            margin-top: 1rem;
            white-space-collapse: preserve-breaks;
            padding-left: 3.5rem;
            color: #f0cca4b0;
        }
    }

    & .dropdown {
        max-height: 2000px;
    }

    &:hover {
        cursor: pointer;
    }
}