#gameModal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    border-radius: 8px;
    background-color: black;
    color: var(--color-white);
    border: 1px solid var(--color-real-white);
    border-right: none;
    border-left: none;
    scrollbar-color: var(--color-black) #FFFFFF20;
    overflow-x: hidden;

    & .carousel-container {
        display: flex;
        align-items: center;
        justify-content: center;
        max-height: 35rem;
        gap: 3rem;
        flex-flow: column;
        position: relative;
        margin-top: 3rem;

        & .carousel {
            max-width: 80%;
            display: flex;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            transform-style: preserve-3d;
            transform: perspective(1000px);
            margin-top: 5rem;
            margin-bottom: 10rem;

            & > img:not(.selected-game) {
                cursor: pointer;
            }

            & .item {
                width: 20%;
                height: 250px;
                max-width: 250px;
                margin: 2px;
                transition: all 0.5s;
                object-fit: cover;
            }

            & .selected-game {
                filter: brightness(1);
                transform: translateZ(170px);
                width: 25%;
                height: 270px;
                box-shadow: inset 0 1px 3px #FFFFFF20, 0 0 100px 1px #FFFFFF80;
            }

            & .cards-1 {
                width: 100%;
            }

            & .cards-2 {
                width: 80%;
            }

            & .cards-3 {
                width: 50%;
            }

            & .selected-game + * {
                filter: brightness(0.6);
                transform: translateZ(120px) rotateY(25deg);
            }

            & .selected-game + * + * {
                filter: brightness(0.4);
                transform: translateZ(50px) rotateY(15deg);
            }

            & .previous-game {
                filter: brightness(0.6);
                transform: translateZ(120px) rotateY(-25deg);
            }

            & .first-game {
                filter: brightness(0.4);
                transform: translateZ(50px) rotateY(-15deg);
            }
        }
    }

    & .closeButton {
        position: absolute;
        top: 0;
        right: 0;
    }

    & #slide-space {
        position: relative;
        margin-top: 3rem;
        padding-bottom: 3rem;

        & .darken-image-top {
            position: absolute;
            top: 0;
            height: 15rem;
            width: 100%;
            background: linear-gradient(to top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 80%);
            z-index: 1;
        }

        & .darken-image-bottom {
            position: absolute;
            top: 36rem;
            height: 15rem;
            width: 100%;
            background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 80%);
            z-index: 1;
        }

        & #slide-background {
            background-image: url("/playing.png");
            background-position: center;
            position: absolute;
            width: 100%;
            left: 0;
            height: 50rem;
            filter: brightness(0.2);
        }
    }
}

@media (max-width: 1150px) {
    #gameModal {
        & #slide-space {
            & #slide-background {
                width: auto;
            }
        }
    }
}

@media (max-width: 800px) {
    #gameModal {
        & .carousel-container {
            height: 1rem;

            & .carousel {
                display: none;
            }
        }
    }
}

@media (max-width: 500px) {
    #gameModal {
        width: 100%;

        & .carousel-container {
            display: none;
        }
    }
}