    #games-sort {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        font-family: "arima", sans-serif;

        & #games-sort-label {
            font-weight: 600;
            font-size: 1rem;
            color: var(--color-real-white);
        }

        & #games-sort-select,
        & ::picker(select) {
            appearance: base-select;
            align-items: center;
            width: fit-content;
            font-family: "arima", sans-serif;
            font-size: 1rem;
            border: 1px solid var(--color-real-white);
            border-radius: 4px;
            cursor: pointer;
            border: none;
            outline: none;

            & .games-sort-select__options {
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                background-color: var(--color-modal-background);
                border: 1px solid var(--color-real-white);
                border-radius: 4px;
            }
        }

        & option {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            padding-left: 0.5rem;
            padding-right: 0.5rem;
            width: 100%;
            color: var(--color-real-white);

            &:checked {
                background-color: var(--color-real-black);
                border-radius: 4px;
            }
        }

        & option::checkmark {
            color: var(--color-success);
            font-size: 1.5rem;
        }

        @-moz-document url-prefix() { 
            & #games-sort-select,
            & ::picker(select) {
                color: var(--color-white);
                background-color: transparent;
                appearance: none;
            }
        }
    }