#newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 4rem 2rem 5rem 2rem;
    width: 100%;
    background-image: url("/pinball.avif");
    background-position: bottom;

    & .newsletter-heading {
        font-size: 2.5rem;
        text-transform: uppercase;
        color: var(--color-real-white);
        letter-spacing: 4px;
        font-weight: 100;
    }

    & .newsletter-text {
        font-family: "arima", sans-serif;
        font-size: 1.5rem;
        color: var(--color-nintendo-gray);
    }

    & #newsletterSignup {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

        & #subscribeEmail {
            font-size: 1rem;
            outline: none;
            font-family: "arima", serif;
            text-align: center;
            color: var(--color-real-white);
            background: transparent;
            border: 1px solid var(--color-auth-border-bottom);
            border-left: 0;
            border-right: 0;
            border-radius: 0;
            padding-left: 0;
            width: 400px;

            &::placeholder {
                text-align: center;
            }
        }

        & #newsletterButton {
            display: flex;
            align-items: center;
            background-color: transparent;
            border: 2px solid var(--color-real-white);
            color: var(--color-real-white);
            cursor: pointer;
            width: fit-content;
            height: 3rem;
            justify-content: center;
            line-height: 24px;
            padding: 0 17px;
            text-align: center;
            text-transform: uppercase;
            font-family: 'Playfair Display', sans-serif;
            font-size: 1rem;
            font-weight: 600;
            letter-spacing: 1px;
            transition: all 0.15s ease;

            &:hover {
                border-color: var(--color-white);
                color: var(--color-white);
                transition: all 0.15s ease;
            }

            &:active {
                border: 2px solid var(--color-black);
                color: var(--color-black);
            }
        }
    }

    & .message-success,
    & .message-failure {
        max-width: 80vw;
        margin: 0.4rem;
        position: absolute;
        bottom: -25px;
        white-space: nowrap;
        z-index: 50;
    }
}

@media (max-width: 420px) {
    #newsletter {
        & .newsletter-text {
            font-size: 1.2rem;
        }

        & #newsletterSignup {
            & #subscribeEmail {
                width: 280px;
            }
        }
    }
}