#newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    width: 100%;

    & .newsletter-heading {
        font-size: 2.5rem;
        text-transform: uppercase;
        color: var(--color-real-white);
        letter-spacing: 4px;
        font-weight: 100;
    }

    & .newsletter-text {
        font-size: 1.5rem;
        color: var(--color-real-white);
    }

    & #subscribeEmail {
        border-radius: 9px;
        font-size: 1rem;
        outline: none;
        font-family: "arima", serif;
        padding-right: 4rem;
        color: var(--color-real-white);
        background: var(--color-real-black);
        border: 1px solid var(--color-auth-border-bottom);
    }

    & #newsletterButton {
        display: flex;
        align-items: center;
        background-color: var(--color-black);
        border: 2px solid var(--color-real-white);
        color: var(--color-real-white);
        cursor: pointer;
        width: fit-content;
        height: 3rem;
        justify-content: center;
        line-height: 24px;
        padding: 0 17px;
        text-align: center;
        text-transform: uppercase;
        font-family: "rancho", sans-serif;
        font-size: 1rem;
        font-weight: 600;
        letter-spacing: 1px;
        transition: background-color 0.2s ease-out;

        &:hover {
            background-color: var(--color-black-light);
            transition: background-color 0.2s ease-in;
        }

        &:active {
            border: 2px solid var(--color-real-black);
        }
    }
}