#newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 4rem 2rem 5rem 2rem;
    width: 100%;
    background-image: url("/home/pinball.avif");
    background-position: bottom;

    & .newsletter-heading {
        font-family: Playfair Display, sans-serif;
        font-size: 2.5rem;
        text-transform: uppercase;
        color: var(--color-real-white);
        letter-spacing: 4px;
        font-weight: 100;
    }

    & .newsletter-text {
        font-family: "arima", sans-serif;
        font-size: 1.3rem;
        color: var(--color-nintendo-gray);
        text-align: center;
    }

    & #newsletterSignup {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

        & #subscribeEmail {
            font-size: 1rem;
            outline: none;
            font-family: "arima", serif;
            text-align: center;
            color: var(--color-real-white);
            background: transparent;
            border: 1px solid var(--color-auth-border-bottom);
            border-left: 0;
            border-right: 0;
            border-radius: 0;
            padding-left: 0;
            width: 400px;

            &::placeholder {
                text-align: center;
            }
        }

        & .navigation-link {
            background: transparent;
            letter-spacing: 2px;
            transition: all 0.2s ease-in-out;

            &:hover {
                transition: all 0.2s ease-in-out;
            }
        }
    }

    & .message-success,
    & .message-failure {
        max-width: 80vw;
        margin: 0.4rem;
        position: absolute;
        bottom: 3rem;
        white-space: nowrap;
        z-index: 50;
    }
}

@media (max-width: 420px) {
    #newsletter {
        & .newsletter-text {
            font-size: 1.2rem;
        }

        & #newsletterSignup {
            & #subscribeEmail {
                width: 280px;
            }
        }
    }
}