#loginCard {
    display: flex;
    flex-direction: column;
    align-self: center;
    height: 100%;
    width: 100%;
    font-family: "arima", sans-serif;

    & #loginForm {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        border-bottom: 0.5px solid var(--color-auth-border-bottom);
        padding-bottom: 1.5rem;

        .input:first-of-type {
            border-radius: 6px 6px 0 0;
            border-bottom: 0.5px solid var(--color-auth-border-bottom);
        }

        .input:last-of-type {
            border-radius: 0 0 6px 6px;
            border-top: 0;
        }

        .password-show {
            position: absolute;
            right: 0;
            top: 18px;
            color: var(--color-real-white);
            padding-right: 12px;

            &:hover {
                cursor: pointer;
            }
        }
    }

    & #register-forgot-links {
        display: flex;
        margin-top: 1.5rem;

        & #register-link,
        #forgot-password-link {
            padding: 0;
            background: var(--color-auth-background);
            backdrop-filter: blur(10px);
            width: 100%;
            font-size: .8rem;
            font-weight: 600;
            text-align: center;
            align-content: center;
            text-transform: uppercase;
            cursor: pointer;
            color: var(--color-white);
            transition: all .25s;

            &:hover {
                background-color: var(--color-real-white);
                color: var(--color-black);
            }
        }

        & #register-link {
            border-right: 1px solid var(--color-auth-border);
        }

        & #forgot-password-link  {
            border-left: 1px solid var(--color-auth-border);
        }
    }
}