#loginCard {
    display: flex;
    flex-direction: column;
    align-self: center;
    height: 100%;
    width: 100%;

    & #loginForm {
        display: flex;
        flex-direction: column;

        .password-show {
            position: absolute;
            right: 0;
            top: 18px;

            &:hover {
                cursor: pointer;
            }
        }

        .authButton:disabled {
            filter: brightness(0.3);
        }

        .authButton:disabled:hover {
            cursor: default;

            & .authButton__text {
                letter-spacing: 0;
            }

            &::before,
            &::after {
                opacity: 1;
                transform: none
            }
        }
    }
}