#loginCard {
    display: flex;
    flex-direction: column;
    align-self: center;
    height: 100%;
    width: 100%;

    & #loginForm {
        display: flex;
        flex-direction: column;
    }
}