#registerCard {
    display: flex;
    flex-direction: column;
    align-self: center;
    height: 100%;
    width: 100%;

    & #registerForm {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        border-bottom: 0.5px solid #6b6767;
        padding-bottom: 1.5rem;

        & #password-inputs {
            .input:first-of-type {
                border-radius: 6px 6px 0 0;
                border-bottom: 0.5px solid #6b6767;
            }

            .input:last-of-type {
                border-radius: 0 0 6px 6px;
                border-top: 0;
            }
        }

        .password-show {
            position: absolute;
            right: 0;
            top: 18px;
            color: var(--color-real-white);
            padding-right: 12px;

            &:hover {
                cursor: pointer;
            }
        }

        #birth {
            padding-right: 12px;
        }

        ::-webkit-calendar-picker-indicator {
            filter: invert(1);
        }
    }

    & #login-link-section {
        display: flex;
        margin-top: 1.5rem;

        & #login-link {
            padding: 0;
            background: rgba(255, 255, 255, .025);
            backdrop-filter: blur(10px);
            width: 100%;
            font-size: .8rem;
            font-weight: 600;
            text-align: center;
            align-content: center;
            text-transform: uppercase;
            cursor: pointer;
            color: var(--color-white);
            transition: all .25s;

            &:hover {
                background-color: var(--color-real-white);
                color: var(--color-black);
            }
        }
    }
}