#playRomLink {
    border: 2px solid;
    width: fit-content;
    align-self: center;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
    transition: 0.25s;
    border-color: var(--color-link);
    animation: pulse-animation 2s infinite;
  
    &:hover, &:focus { 
        transform: scale(1.05);
    }
}

@keyframes pulse-animation {
    0% {
        box-shadow: 0 0 0 0px rgba(21, 112, 124, 0.4);
    }

    100% {
        box-shadow: 0 0 0 20px rgba(21, 112, 124, 0);
    }
}

@media (max-width: 700px) {
    #playRomLink {
        margin-top: 0;
    }
}