#loginCard {
    display: flex;
    flex-direction: column;
    padding: 3rem;
    align-self: center;
    height: 100%;
    justify-content: space-around;

    & .loginCard-title {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        & .loginCard__title {
            color: var(--color-white);
            text-align: center;
            font-size: 3rem;
        }

        & .loginCard__title-text {
            color: #9b9b9b;
            font-size: 1.4rem;
            margin-bottom: 1rem;
            line-height: 1.5rem;
        }
    }

    #loginForm {
        display: flex;
        flex-direction: column;
        gap: 3.5rem;
    }

    #register-link {
        display: flex;
        color: var(--color-black);
        margin-top: 1rem;
        gap: 0.3rem;
        font-size: 1rem;
        align-self: end;
        align-items: center;

        .register-link__text {
            font-size: 1rem;
        }

        .loginCard__create-account-link {
            color: var(--color-link);
            font-weight: 600;
    
            &:hover {
                filter: brightness(1.2);
            }
        }
    }
}

@media (max-width: 600px) {
    #loginCard {
        padding: 1rem 1.5rem 2rem;

        .loginCard__title {
            margin-bottom: 1rem;
        }

        #loginForm {
            & input {
                font-size: 1rem;
            }
        }

        #register-link {
            align-self: center;
        }
    }
}