#registerCard {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-self: center;
    height: 100%;
    justify-content: space-around;

    & .registerCard__title {
        color: var(--color-white);
        text-align: center;
        font-size: 3rem;
        margin-bottom: 1rem;
    }

    & #registerForm {
        display: flex;
        flex-direction: column;
        gap: 3.5rem;
    }

    & #login-link {
        display: flex;
        color: var(--color-black);
        margin-top: 1rem;
        gap: 0.3rem;
        font-size: 1rem;
        align-self: end;
        align-items: center;
        
        & .login-link__text {
            font-size: 1rem;
        }

        & .registerCard__login-link {
            color: var(--color-link);
            font-weight: 600;
    
            &:hover {
                filter: brightness(1.2);
            }
        }
    }

    & .confirmation-text {
        font-weight: bolder;
        align-self: center;
        font-size: 2rem;
    }
}

@media (max-width: 900px) {
    #registerCard {
        & .registerCard__title {
            font-size: 2.7rem;
        }
    }
}

@media (max-width: 700px) {
    #registerCard {
        padding: 1rem 1.5rem 2rem;

        & .registerCard__title {
            font-size: 2.2rem;
        }

        & #registerForm {
            & input {
                font-size: 1rem;
            }
        }
    }
}

@media (max-width: 400px) {
    #registerCard {
        & .registerCard__title {
            font-size: 1.7rem;
        }

        & #registerForm {
            & .authButton {
                & .authButton__text {
                    font-size: 1.4rem;
                }
            }
        }

        & #login-link {
            & .login-link__text,
            .registerCard__login-link {
                font-size: 0.7rem;
            }
        }
    }
}