#registerPage {
    display: flex;
    align-items: center;
    justify-content: center;
    background: fixed;
    background-image: url("../../../assets/backgrounds/nes-gaming-set-in-dark.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;

    & #registerPage-modal {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        max-width: 400px;
        height: fit-content;
        margin: 0 auto;
        padding-top: 10rem;
        padding-bottom: 10rem;

        & #registerPage-modal-back {
            align-self: flex-start;

            & .registerPage-link {
                display: flex;
                align-items: flex-start;
                font-family: sans-serif;
                gap: 0.2rem;
                transition: all 0.5s;

                & .material-symbols-outlined {
                    font-size: 1rem;
                    align-self: center;
                }

                & .registerPage-link__text {
                    align-self: center;
                    font-weight: 100;
                    font-size: 1.1rem;
                }

                &:hover {
                    filter: brightness(1.2);
                }
            }
        }

        & #registerPage-form {
            align-content: center;
            justify-items: center;
            border-radius: 9px;
            width: 400px;
        }
    }
}

@media (max-width: 430px) {
    #registerPage {
        & #registerPage-modal {
            & #registerPage-form {
                width: 95vw;
            }
        }

        .message-failure, 
        .message-success {
            font-size: 1.1rem;
        }
    }
}