#dashboardPage {
    display: flex;
    flex-direction: column;
    background-image: url("../../../assets/backgrounds/nes-gaming-set-in-dark.webp");
    align-items: center;

    & .dashboardPage__title {
        margin-bottom: 3rem;
    }
}

@media (max-width: 400px) {
    #dashboardPage {
        padding: 1rem;

        & .dashboardPage__title {
            align-self: flex-end;
        }
    }
}