#newsPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-black);
    color: var(--color-real-white);
    padding: 5rem;

    & .newsPage-error {
        font-size: 3rem;
        padding-top: 5rem;
        padding-bottom: 3rem;
    }

    & .not-found__link {
        padding: 1rem;
        backdrop-filter: brightness(0.3);
        border-radius: 25px;
        transition: all 0.5s;

        &:hover {
            filter: brightness(1.5);
        }
    }
}