#addUserModal {
    & .modal-content {
        align-items: center;

        & .modal__text {
            font-size: 3rem;
            text-align: center;
            margin: 3rem;
            margin-bottom: 2rem;
        }

        & .input {
            width: 50%;

            & #email, 
            #password {
                font-family: "arima", sans-serif;
                background-color: var(--color-real-black);
            }
        }

        & .button__link {
            align-self: center;
            margin-bottom: 2rem;
            margin-top: 1rem;
        }

        .message-failure, 
        .message-success {
            width: fit-content;
            align-self: center;
            margin-bottom: 1rem;
            filter: brightness(0.8);
        }
    }
}

@media (max-width: 1000px) {
    #addUserModal {
        & .modal-content {
            & .input {
                width: 80%;
            }
        }
    }
}

@media (max-width: 700px) {
    #addUserModal {
        & .modal-content {
            & .modal__text {
                font-size: 2rem;
                margin-left: 2rem;
                margin-right: 2rem;
            }
        }
    }
}