#inputModal {
    & .modal-content {
        & #filterValueInput {
            width: 50%;
            align-self: center;
            margin-bottom: 2rem;
            background-color: var(--color-real-black);
            border-color: var(--color-real-black);
            color: var(--color-real-white);
            border-style: none;
            appearance: none;
            border-radius: 6px;
            box-shadow: none;
            height: 50px;
            font-size: 1rem;
            transition: all 0.5s;
        }

        & #filterValueInput:focus {
            outline: none;
            border-color: var(--color-real-white);
            box-shadow: inset 0 1px 3px #FFFFFF20, 0 0 10px 1px #FFFFFF80;
            transition: all 0.5s;
        }

        & .modal__text {
            font-size: 3rem;
            text-align: center;
            margin: 3rem;
            margin-bottom: 2rem;
        }

        & .button__link {
            align-self: center;
            margin-bottom: 2rem;
        }
    }

    .message-failure {
        width: fit-content;
        align-self: center;
        margin: 0;
    }
}

@media (max-width: 1000px) {
    #inputModal {
        & .modal-content {
            & #filterValueInput {
                width: 80%;
            }
        }
    }
}

@media (max-width: 700px) {
    #inputModal {
        & .modal-content {
            & .modal__text {
                font-size: 2rem;
                margin-left: 2rem;
                margin-right: 2rem;
            }
        }
    }
}