#inputModal {
    & .modal-content {
        & #filterValueInput {
            width: 50%;
            align-self: center;
            margin-bottom: 2rem;
        }

        & .modal__text {
            font-size: 3rem;
            text-align: center;
            margin: 3rem;
            margin-bottom: 2rem;
        }

        & .button__link {
            align-self: center;
            margin-bottom: 2rem;
        }
    }

    .message-failure {
        width: fit-content;
        align-self: center;
        margin: 0;
    }
}

@media (max-width: 1000px) {
    #inputModal {
        & .modal-content {
            & #filterValueInput {
                width: 80%;
            }
        }
    }
}

@media (max-width: 700px) {
    #inputModal {
        & .modal-content {
            & .modal__text {
                font-size: 2rem;
                margin-left: 2rem;
                margin-right: 2rem;
            }
        }
    }
}