#settingsPage {
    display: flex;
    flex-direction: column;
    background-image: url("../../../../assets/backgrounds/nes-gaming-set-in-dark.webp");
    align-items: center;

    & .settingsPage__title {
        margin-bottom: 3rem;
    }
}

@media (max-width: 500px) {
    #settingsPage {
        align-items: flex-end;
        padding: 1rem;
    }
}