#newsletterPage {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    background-color: var(--color-black);
    min-height: 90vh;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

@media (max-width: 1300px) {
    #newsletterPage {
        flex-direction: column;
    }
}