#newsletterPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    background-color: var(--color-black);
    padding: 5rem 0.5rem;

    & .newsletter-title {
        font-family: iceland, sans-serif;
        font-size: 2rem;
        font-weight: 300;
        color: var(--color-real-white);
        text-align: center;
        padding: 1rem;
    }

    & #newsletter-content {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4rem;
        width: 100%;
    }
}

@media (max-width: 1300px) {
    #newsletterPage {
        & #newsletter-content {
            flex-direction: column;
        }
    }
}