#favouritesPage {
    background-image: url("../../assets/backgrounds/nes-controller-in-black.webp");
    display: flex;
    flex-direction: column;
    align-items: center;

    #gameCards {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        margin: 2rem;
        justify-content: center;
    }
}